*.pyc
*.db
*.py~
*~
*.kate-swp
*.sublime-workspace
.#*
static/admin/
static/bootstrap/
static/jquery/
static/jquery-ui/
static/js/
static/tinymce/
static/ui/css/
static/ui/images/
static/ui/js/
static/ckeditor/
*.swp
*.tmp
.svn/
farnsworth/whoosh_index/
farnsworth/house_settings.py
farnsworth/local_settings.py
bin/
build/
include/
lib/
lib64
src/
.coverage
dist/
*.egg-info
flycheck_*
