*.pyc
*.db
*.py~
*~
*.kate-swp
.#*
migrations/
static/admin/
static/ui/css/
*.swp
*.tmp
.svn/
farnsworth/whoosh_index/
farnsworth/house_settings.py
farnsworth/local_settings.py
bin/
build/
include/
lib/
lib64
src/
.coverage
