Django>=1.7
django-bootstrap-form
elasticsearch==1.0.0
python-social-auth
psycopg2
django-haystack
pypandoc
django-cron
django-phonenumber-field
bcrypt
pytz
git+git://github.com/naderm/django-notifications@master
pinax-wiki
inflect
