/* Project: Farnsworth
 * 
 * Authors: Karandeep Singh Nagra and Nader Morshed
 */

.workshift_table {
	margin-top: 5px;
}

#day_title {
	padding-left: 0px;
	padding-right: 0px;
}

.day_control {
	font-size: 140%;
}