/* Project: Farnsworth
 * 
 * Authors: Karandeep Singh Nagra and Nader Morshed
 */

#workshift_content {
    overflow-x: auto;
}

#sidebar {
    
}

.sidebar_list {
    list-style: none;
    padding-left: 10px;
}
.sidebar_list > li {
    
}

.alert {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}
