{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
{% endblock %}

{% block content %}
<div class="table_container">
	<div class="header"><h3 class="table_title small_title">Archives - All Requests</h3></div>
	<div class="main_table">
	{% if not types_dict %}
	<div class="field_wrapper text-info">No enabled request types.</div>
	{% else %}
	<div class="text-center">
	<h4>Please Choose a Request Type</h3>
	</div> <!-- .text-center -->
	<ul class="list-group" style="margin-left: 10px; margin-right: 10px;">
		{% for type_tuple in types_dict %}
		<a href="{% url 'managers:list_all_requests' requestType=type_tuple.2 %}" class="list-group-item{% if not type_tuple.3 %} list-group-item-danger" title="{{ type_tuple.0 }} Requests are Disabled{% endif %}"><span title="{{ type_tuple.1 }} {{ type_tuple.0 }} Request{{ type_tuple.1|pluralize }}" class="badge">{{ type_tuple.1 }}</span><span class="glyphicon glyphicon-{% if type_tuple.4 %}{{ type_tuple.4 }}{% else %}inbox{% endif %}"></span> {{ type_tuple.0 }}</a>
		{% endfor %}
	</ul>
	{% endif %}
	</div> <!-- .main_table -->
</div> <!-- .table_container -->
{% endblock %}
