{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}
<h1 class="w_title">Archives - All Requests</h1>
<hr class="w_line" />
{% if not types_dict %}
<div class="field_wrapper text-info">No enabled request types.</div>
{% else %}
<div class="text-center">
  <h4>Please Choose a Request Type</h3>
</div> <!-- .text-center -->
<ul class="list-group" style="margin-left: 10px; margin-right: 10px;">
  {% for title, number_of_requests, url_name, enabled, glyphicon in types_dict %}
  <a href="{% url 'managers:list_all_requests' requestType=url_name %}" class="list-group-item{% if not enabled %} list-group-item-danger" title="{{ title }} Requests are Disabled{% endif %}">
	<span title="{{ number_of_requests }} {{ title }} Request{{ number_of_requests|pluralize }}" class="badge">{{ number_of_requests }}</span>
	<span class="glyphicon glyphicon-{% if glyphicon %}{{ glyphicon }}{% else %}inbox{% endif %}"></span>
	{{ title }}
  </a>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
