{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% load thread_tags %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/announcements.css' %}" />
{% endblock %}

{% block content %}
{% if manager_positions %}
<button class="btn btn-primary pull-right" id="show_announcement_form" type="button"><span
    class="glyphicon glyphicon-pencil"></span><span class="hidden-xs"> New Announcement</span></button>
{% endif %}
<h1 class="w_title">{{ page_name }}</h1>
<hr class="w_line" />
{% if manager_positions %}
<form id="new_announcement_form" method="post">
  {% csrf_token %}
  <div class="form-group">
    {{ announcement_form|bootstrap }}
    <div class="text-center">
      <div class="btn-group">
        <button type="submit" class="btn btn-success" name="post_announcement">
	  <span class="glyphicon glyphicon-bullhorn"></span> Announce
	</button>
        <button type="button" class="btn btn-default" id="hide_announcement_form">
	  <span class="glyphicon glyphicon-collapse-up"></span> Hide
	</button>
      </div> <!-- .btn-group -->
    </div> <!-- .text-center -->
  </div> <!-- .form-group -->
</form>
{% endif %}
{% if not announcements_dict %}
<div class="field_wrapper text-info">No announcements found.</div>
{% else %}
<div class="announcements_table bordered_div">
{% for announcement, pin_form in announcements_dict %}
{% if forloop.counter > 1 %}
<hr class="main_divider" />
{% endif %}
<div class="announcement_row">
  <div class="announcement_owner">
    <a class="page_link" title="View Details" href="{% url 'managers:view_manager' managerTitle=announcement.manager.url_title %}">{{ announcement.manager }}</a>
    (<a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=announcement.incumbent.user.username %}">{{ announcement.incumbent|display_user:user }}</a>), {{ announcement.post_date }}:
  </div> <!-- .announcement_owner -->
  <div class="announcement_body">{{ announcement.body|safe }}
    {% if pin_form %}
    <form class="pull-right" method="post">
      {% csrf_token %}
      {{ pin_form|bootstrap }}
      {% if announcement.pinned %}
      <button type="submit" class="main_link warning_link" name="unpin" title="Unpin from homepage">Unpin</button>
      {% else %}
      <button type="submit" class="main_link success_link" name="unpin" title="Pin to homepage">Pin</button>
      {% endif %}
    </form>
    <form class="pull-right" action="{% url 'managers:edit_announcement' announcement_pk=announcement.pk %}">
      <button type="submit" class="main_link primary_link" title="Edit this announcement">Edit</button>
    </form>
    {% endif %}
  </div>
</div> <!-- .announcement_row -->
{% endfor %}
{% endif %}
</div> <!-- .announcements_table -->
{% if announcements_dict %}
<div class="field_wrapper text-info">
{{ announcements_dict|length }} announcement{{ announcements_dict|length|pluralize }} in total.
</div>
{% endif %}
{% endblock %}

{% block endscripts %}
<script>
$(document).ready(function() {
    $('#show_announcement_form').click(function() {
        $('#new_announcement_form').slideToggle();
    });
    $('#hide_announcement_form').click(function() {
        $('#new_announcement_form').slideUp();
    });
});
</script>
{% endblock %}
