{% extends "base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}

{% block content %}
<div class="row">
<div class="col-md-7">
{% if page_name = 'Admin - Edit Manager' %}
    <h1 class="w_title">Modify {{ manager_title }}</h1>
{% else %}
    <h1 class="w_title">Add Manager</h1>
{% endif %}
<hr class="w_line" />
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        {{ form|bootstrap }}
        <div class="text-center">
            <button type="submit" class="btn btn-success" name="update_manager"><span class="glyphicon glyphicon-{% if page_name = 'Admin - Edit Manager' %}floppy-disk{% else %}plus{% endif %}"></span> {% if page_name = 'Admin - Edit Manager' %}Update{% else %}Add{% endif %} Manager</button>
        </div> <!-- .text-center -->
    </div> <!-- .form-group -->
</form>
</div>

<br class="visible-xs visible-sm" />
<hr class="visible-xs visible-sm" />

<div class="col-md-5">
<h1 class="w_title">Existing Managers</h1>
<hr class="w_line" />
{% if not managerset %}
<div class="field_wrapper text-danger">No managers in database.</div>
{% else %}
<table class="table table-striped table-bordered table-condensed table-hover members_table">
<thead>
<tr>
  <th>Title</th>
  <th>Incumbent</th>
  <th class="filter-false">Active</th>
</tr>
</thead>
<tbody>
{% for pos in managerset %}
<tr>
  <td><a title="Edit Manager" href="{% url 'managers:edit_manager' managerTitle=pos.url_title %}"><span class="glyphicon glyphicon-wrench"></span> {{ pos.title }}</a></td>
  <td>{% if pos.incumbent %}<a title="View Profile" href="{% url 'member_profile' targetUsername=pos.incumbent.user.username %}"><span class="glyphicon glyphicon-user"></span> {{ pos.incumbent.user.get_full_name }}</a>{% endif %}</td>
  <td>{% if pos.active %}<span style="display: none">1</span><img src="{% static 'admin/img/icon-yes.gif' %}" alt="Yes" />{% else %}<span style="display: none">2</span><img src="{% static 'admin/img/icon-no.gif' %}" alt="No" />{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table> <!-- .table -->
{% endif %}
{% if page_name = 'Admin - Edit Manager' %}
<form class="text-center" action="{% url 'managers:add_manager' %}" style="margin-top: 10px;">
    <button id="add_manager" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add Manager</span></button>
</form>
{% endif %}
</div> <!-- .col-md-5 -->
</div> <!-- .row -->
{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function() {
        $('table').tablesorter({
            sortList: [[0,0], [1,0]],
            widgets: ["filter", "resizable"],
            widgetOptions: {
                resizable: true
            }
        });
    });
</script>
{% endblock %}
