{% extends "base.html" %}

{% load static from staticfiles %}
{% load thread_tags %}

{% block content %}
<h1 class="w_title">Managers</h1>
<hr class="w_line" />
<div class="main_table">
{% if not managerset %}
    <div class="field_wrapper text-danger">No managers in database.</div>
{% else %}
<table class="table table-striped table-bordered table-condensed table-hover" id="managers_table">
<thead>
    <tr><th>Title</th>
        <th>Incumbent</th>
        <th>E-mail</th>
        <th>Personal Phone</th>
    </tr>
</thead>
<tbody>
    {% for pos in managerset %}
    <tr><td><a title="See Details" href="{% url 'view_manager' managerTitle=pos.url_title %}"><span class="glyphicon glyphicon-tower"></span> {{ pos.title }}</a></td>
        <td>{% if pos.incumbent %}<a title="View Profile" href="{% url 'member_profile' targetUsername=pos.incumbent.user.username %}"><span class="glyphicon glyphicon-user"></span> {{ pos.incumbent.user.get_full_name }}</a>{% endif %}</td>
        <td>{% if pos.email %}
                <a title="Write E-mail" href="mailto:{{ pos.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ pos.email }}</a>
            {% elif pos.incumbent.email_visible and pos.incumbent.user.email %}
                <a title="Write E-mail" href="mailto:{{ post.incumbent.user.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ pos.incumbent.user.email }}</a>
                <span title="No e-mail address for this manager in database. This is the incumbent's personal e-mail address.">(personal)</span>
            {% endif %}
        </td>
        <td>{% if pos.incumbent.phone_visible %}{{ pos.incumbent.phone_number }}{% endif %}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}
</div> <!-- .main_table -->
<div class="field_wrapper text-info">{{ managerset.count }} manager{{ managerset|pluralize }} in database.</div>
{% endblock %}

{% block endscripts %}
<script>
	$(document).ready(function() {
		$('table').tablesorter({
			sortList: [[0,0], [1,0]],
            widgets: ["filter", "resizable"],
            widgetOptions: {
                resizable: true
            }
		});
	});
</script>
{% endblock %}
