{% extends "base.html" %}

{% load static from staticfiles %}
{% load thread_tags %}

{% block content %}
<form class="pull-right" action="{% url 'add_request_type' %}">
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add Request Type</span></button>
</form>
<h1 class="w_title">Request Types</h1>
<hr class="w_line" />
{% if not request_types %}
    <div class="field_wrapper text-warning">No request types found in database.</div>
{% else %}
<table class="table table-striped table-bordered table-condensed table-hover" id="managers_table">
<thead>
    <tr><th>Request Type</th>
        <th>Relevant Managers</th>
        <th class="filter-false">Enabled</th>
    </tr>
</thead>
<tbody>
    {% for type in request_types %}
    <tr><td><a title="Modify Request Type" href="{% url 'edit_request_type' typeName=type.url_name %}"><span class="glyphicon glyphicon-{% if type.glyphicon %}{{ type.glyphicon }}{% else %}cog{% endif %}"></span> {{ type.name }}</a></td>
        <td>{% for pos in type.managers.all %}
            {% if forloop.counter > 1 %}, {% endif %}
            <a {% if pos.active %}title="View Details" href="{% url 'view_manager' managerTitle=pos.url_title %}"{% else %}title="This position is not active. Click to edit." class="text-muted" href="{% url 'edit_manager' managerTitle=pos.url_title %}"{% endif %}><span class="glyphicon glyphicon-tower"></span> {{ pos.title }}</a>
                {% if pos.incumbent %}
                (<a title="View Profile" href="{% url 'member_profile' targetUsername=pos.incumbent.user.username %}">{{ pos.incumbent }}</a>)
                {% else %}
                (<span title="There is currently no incumbent for this position." class="text-danger">No incumbent</span>)
                {% endif %}
            {% endfor %}
        </td>
        <td>{% if type.enabled %}<span style="display: none">1</span><img src="{% static 'admin/img/icon-yes.gif' %}" alt="Yes" />{% else %}<span style="display: none">2</span><img src="{% static 'admin/img/icon-no.gif' %}" alt="No" />{% endif %}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}
<div class="alert alert-info" style="margin-top: 10px;">
Don't know how to use this page?  Check out the
<a target="_blank" href="{% url 'helppage' %}#request_types" class="alert-link"><span class="glyphicon glyphicon-new-window"></span>
Request Types section</a> of the
<a target="_blank" href="{% url 'helppage' %}" class="alert-link"><span class="glyphicon glyphicon-new-window"></span> help page</a>.
</div>
{% endblock %}

{% block endscripts %}
<script>
	$(document).ready(function() {
		$('table').tablesorter({
			sortList: [[0,0], [1,0]],
            widgets: ["filter", "resizable"],
            widgetOptions: {
                resizable: true
            }
		});
	});
</script>
{% endblock %}
