{% extends "base.html" %}

{% load static from staticfiles %}
{% load thread_tags %}

{% block content %}
<form class="pull-right" action="{% url 'add_manager' %}">
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add Manager</span></button>
</form>
<h1 class="w_title">Manage Managers</h1>
<hr class="w_line" />
{% if not managerset %}
    <div class="field_wrapper text-danger">No managers in database.</div>
{% else %}
<table class="table table-striped table-bordered table-condensed table-hover" id="managers_table">
<thead>
    <tr><th>Title</th>
        <th>Incumbent</th>
        <th>E-mail</th>
        <th class="filter-false">Active</th>
        <th class="filter-false">President</th>
        <th class="filter-false">Workshift</th>
    </tr>
</thead>
<tbody>
    {% for pos in managerset %}
    <tr><td><a title="Edit Manager" href="{% url 'edit_manager' managerTitle=pos.url_title %}"><span class="glyphicon glyphicon-wrench"></span> {{ pos.title }}</a></td>
        <td>{% if pos.incumbent %}<a title="View Profile" href="{% url 'member_profile' targetUsername=pos.incumbent.user.username %}"><span class="glyphicon glyphicon-user"></span> {{ pos.incumbent.user.get_full_name }}</a>{% endif %}</td>
        <td>{% if pos.email %}<a title="Write E-mail" href="mailto:{{ pos.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ pos.email }}</a>{% endif %}</td>
        <td>{% if pos.active %}<span style="display: none">1</span><img src="{% static 'admin/img/icon-yes.gif' %}" alt="Yes" />{% else %}<span style="display: none">2</span><img src="{% static 'admin/img/icon-no.gif' %}" alt="No" />{% endif %}</td>
        <td>{% if pos.president %}<span style="display: none">1</span><img src="{% static 'admin/img/icon-yes.gif' %}" alt="Yes" />{% else %}<span style="display: none">2</span><img src="{% static 'admin/img/icon-no.gif' %}" alt="No" />{% endif %}</td>
        <td>{% if pos.workshift_manager %}<span style="display: none">1</span><img src="{% static 'admin/img/icon-yes.gif' %}" alt="Yes" />{% else %}<span style="display: none">2</span><img src="{% static 'admin/img/icon-no.gif' %}" alt="No" />{% endif %}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}
<div class="alert alert-info" style="margin-top: 10px;">
Don't know how to use this page?  Check out the
<a target="_blank" href="{% url 'helppage' %}#meta_manager" class="alert-link"><span class="glyphicon glyphicon-new-window"></span>
Meta-Manager section</a> of the
<a target="_blank" href="{% url 'helppage' %}" class="alert-link"><span class="glyphicon glyphicon-new-window"></span> help page</a>.
</div>
{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function() {
        $('table').tablesorter({
            sortList: [[0,0], [1,0]],
            widgets: ["filter", "resizable"],
            widgetOptions: {
                resizable: true
            }
        });
    });
</script>
{% endblock %}
