{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% load thread_tags %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/announcements.css' %}" />
<script>
  function show_new_announcement_form() {
  document.getElementById("new_announcement_form").style.display="inline";
  }
  function hide_new_announcement_form() {
  document.getElementById("new_announcement_form").style.display="none";
  }
</script>
{% endblock %}

{% block content %}
<{% if can_edit %}
<form action="{% url 'managers:edit_announcement' announcement_pk=announcement.pk %}" class="pull-right">
    <button class="btn btn btn-primary"><span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span></button>
</form>
{% endif %}
<h1 class="w_title">{{ page_name }}</h1>
<hr class="w_line" />
<div class="bordered_div">
<div class="announcement_owner" style="padding-left: 5px;">
    <a class="page_link" title="View Details" href="{% url 'managers:view_manager' managerTitle=announcement.manager.url_title %}">{{ announcement.manager }}</a>
    (<a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=announcement.incumbent.user.username %}">{{ announcement.incumbent|display_user:user }}</a>), {{ announcement.post_date }}:
</div> <!-- .announcement_owner -->
<div class="announcement_body" style="padding-left: 5px; padding-right: 5px;">{{ announcement.body|safe }}
  {% if announcement.incumbent.user = user or user.is_superuser %}
    <form class="pull-right" method="post" action="">
      {% csrf_token %}
      {{ unpin_form }}
      {% if announcement.pinned %}
      <button type="submit" class="main_link warning_link" name="unpin" title="Unpin from homepage">Unpin</button>
      {% else %}
      <button type="submit" class="main_link success_link" name="unpin" title="Pin to homepage">Pin</button>
      {% endif %}
    </form>
    <form class="pull-right" action="{% url 'managers:edit_announcement' announcement_pk=announcement.pk %}">
        <button type="submit" class="main_link primary_link" title="Edit this announcement">Edit</button>
    </form>
{% endif %}
</div>
</div>
{% endblock %}
