{% load request_tags %}
{% load thread_tags %}
{% with vote_count=vote_count_request|count_votes %}
<a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=vote_count_request.owner.user.username %}">{{ vote_count_request.owner|display_user:user }}</a>
{% if vote_count > 0 %}
	<ul class="vote_list"><li class="dropdown hover_dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" title="Show Votes" href="#">+{{ vote_count }}</a>
		<ul class="dropdown-menu">
		{% for voter in vote_count_request.upvotes.all %}
			<li><a title="View profile" href="{% url 'member_profile' targetUsername=voter.user.username %}">{{ voter|display_user:user }}</a></li>
		{% endfor %}
		</ul>
	</li></ul>
{% else %}
	<span title="No Votes">+0</span>
{% endif %}
{% endwith %}
({{ vote_count_request.post_date }}):
<style>
	.hover_dropdown:hover .dropdown-menu {
		display: block;
	}
	.hover_dropdown .dropdown-menu {
		top: 15px;
	}
	.hover_dropdown .dropdown-menu:hover {
		display: block;
	}
</style>
