{% extends "base.html" %}

{% load static from staticfiles %}
{% load nested_tags %}

{% block headers %}
<style>
 .stats_list {
   list-style: none;
 }
 .stats_list ul {
   list-style: none;
   padding-left: 20px;
 }
 p {
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 5px;
   marging-bottom: 5px;
 }
 .link_list {
   margin-left: 10px;
   margin-right: 10px;
 }
</style>
{% endblock %}

{% block content %}
<h1 class="w_title">Archives</h1>
<hr class="w_line"/>
<p>
  Welcome to the archives! You can find old, really old, and recent content from
  the site here.
</p>
{% if nodes %}
<div class="bordered_div">
  <div class="field wrapper">
	If you're curious, here are some basic statistics on the database:
  </div>
  {% for x in nodes|nested_to_flat %}
  {% if x.start_nodes %}<ul>{% endif %}
	{% if x.end_nodes %}</ul>{% endif %}
  {% if x.start_node %}<li>{% endif %}
	{% if x.end_node %}</li>{% endif %}
  {% if x.is_data %}{{ x.data }}{% endif %}
  {% endfor %}
</div>
{% endif %}
{% if render_list %}
<div class="bordered_div">
  <div class="field_wrapper">
	Please choose from the links below:
  </div>
  <ul>
	{% for title, url, icon, number in render_list %}
	<a href={{ url }} class="list-group-item">
	  <span class="badge pull-right">
		{{ number }}
	  </span>
	  <span class="glyphicon {{ icon }}"></span>
	  {{ title }}
	</a>
	{% endif %}
  </ul>
</div>
{% endif %}
{% endif %}
{% endblock %}
