<!DOCTYPE html>

<!--
   Project: Farnsworth

   Author: Karandeep Singh Nagra

   The HTML for {{ page_name }}.
  -->

<html>
<head>
	<title>{{ SHORT_HOUSE }}{% if page_name %} - {{ page_name }}{% else %}{% block template_page_name %}{% endblock %}{% endif %}</title>
    {% load static from staticfiles %}
	<link rel="shortcut icon" href="{% static 'ui/images/favicon.ico' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link type="text/css" rel="stylesheet" href="{% static 'ui/css/base.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" />
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700" />
	<link type="text/css" rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/dark.min.css" />
    {% block headers %} {% endblock %}
</head>
<body id="html_body">
	<div class="navbar navbar-inverse navbar_custom navbar-static-top" role="navigation" style="margin-bottom: 10px;">
	<div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" title="Home" href="{% url 'homepage' %}"><span class="glyphicon glyphicon-home"></span> {{ SHORT_HOUSE }}</a>
          </div> <!-- .navbar-header -->
	  <div class="collapse navbar-collapse">
	    <!-- class="active" ??? -->
	    <ul class="nav navbar-nav">
	      {% if user.is_authenticated %}
	      {% if user.username == ANONYMOUS_USERNAME %}
			<li><a title="Logged in as anonymous user {{ user.first_name }} {{ user.last_name }}. Click to temporarily login as yourself or request an account." style="color: #ff0000 !important;" href="{% url 'login' %}"><span class="glyphicon glyphicon-exclamation-sign"></span> Login</a></li>
	      {% else %}
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"{% if ANONYMOUS_SESSION %} style="color: #ff0000 !important;" title='This is a temporary session.  When you logout, the anonymous user "{{ ANONYMOUS_USERNAME }}" will be logged in.'{% endif %}><span class="glyphicon glyphicon-user"></span> {{ user.first_name }} <b class="caret"></b></a>
		<ul class="dropdown-menu">
	    	<li><a href="{% url 'my_profile' %}" ><span class="glyphicon glyphicon-edit"></span> Update My Profile</a></li>
	    	<li><a href="{% url 'list_user_threads' targetUsername=user.username %}" ><span class="glyphicon glyphicon-comment"></span> My Threads</a></li>
	    	<li><a href="{% url 'list_user_requests' targetUsername=user.username %}" ><span class="glyphicon glyphicon-inbox"></span> My Requests</a></li>
			<li><a class="menu_link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
	      </li>
	      {% endif %}
	      {% if REQUEST_TYPES %}
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-inbox"></span> Requests <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{% for type_tuple in REQUEST_TYPES %}
				<li><a href="{% url 'requests' requestType=type_tuple.0.url_name %}" ><span title="{{ type_tuple.1 }} open request{{ type_tuple.1|pluralize }}" class="badge pull-right">{% if type_tuple.1 > 0 %}{{ type_tuple.1 }}{% endif %}</span>
				<span class="glyphicon glyphicon-{% if type_tuple.0.glyphicon %}{{ type_tuple.0.glyphicon }}{% else %}inbox{% endif %}"></span>
				{{ type_tuple.0.name }}</a></li>
			{% endfor %}
		</ul>
	      </li>
	      {% endif %}
	     <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-arrow-right"></span> Go<b class="caret"></b></a>
	      <ul class="dropdown-menu">
	        <li><a href="{% url 'member_forums' %}" ><span class="glyphicon glyphicon-comment"></span> Forums</a></li>
	        <li><a href="{% url 'member_directory' %}" ><span class="glyphicon glyphicon-book"></span> Member Directory</a></li>
	        <li><a href="{% url 'list_managers' %}" ><span class="glyphicon glyphicon-tower"></span> Manager Directory</a></li>
		<li><a href="{% url 'announcements' %}" ><span class="glyphicon glyphicon-bullhorn"></span> Manager Announcements</a></li>
		<li><a href="{% url 'events:list' %}" ><span class="glyphicon glyphicon-calendar"></span> Upcoming Events</a></li>
	        <li><a href="{% url 'external' %}"><span class="glyphicon glyphicon-plane"></span> Landing</a></li>
		<li class="divider"></li>
		<li class="dropdown-header">Archives</li>
			<li><a href="{% url 'list_all_threads' %}" ><span class="glyphicon glyphicon-comment"></span> All Threads</a></li>
			<li><a href="{% url 'all_requests' %}"><span class="glyphicon glyphicon-inbox"></span> All Requests</a></li>
			<li><a href="{% url 'all_announcements' %}"><span class="glyphicon glyphicon-bullhorn"></span> All Announcements</a></li>
			<li><a href="{% url 'events:all' %}"><span class="glyphicon glyphicon-calendar"></span> All Events</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Utilities</li>
	      <li><a class="menu_link" href="{% url 'helppage' %}"><span class="glyphicon glyphicon-question-sign"></span> How To</a></li>
	      <li><a class="menu_link" id="sub_menu_display" href="{% url 'site_map' %}" ><span class="glyphicon glyphicon-map-marker"></span> Site Map</a></li>
	      <li><a class="menu_link" href="{% url 'bylaws' %}"><span class="glyphicon glyphicon-flag"></span> House Bylaws</a></li>
		<li class="divider"></li>
		<li class="dropdown-header">External</li>
	        <li><a href="http://workshift.bsc.coop/kng/" target="_blank" ><span class="glyphicon glyphicon-briefcase"></span> Workshift</a></li>
	        <li><a href="https://github.com/knagra/farnsworth" target="_blank" ><span class="glyphicon glyphicon-info-sign"></span> Source</a></li>
	        <li><a href="/internal_archive/kwiki/toadish_definitions" target="_blank" ><span class="glyphicon glyphicon-heart"></span> Toadish</a></li>
	      </ul>
             </li>
	      {% if user.is_superuser %}
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Admin <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li class="dropdown-header">Users</li>
		  <li><a href="{% url 'custom_manage_users' %}" ><span class="glyphicon glyphicon-user"></span> Manage Users</a></li>
		  <li><a href="{% url 'custom_add_user' %}" ><span class="glyphicon glyphicon-plus"></span> Add User</a></li>
		  <li><a href="{% url 'manage_profile_requests' %}"><span title="{{ NUM_OF_PROFILE_REQUESTS }} open profile request{{ NUM_OF_PROFILE_REQUESTS|pluralize }}" class="badge pull-right">{% if NUM_OF_PROFILE_REQUESTS > 0 %}{{ NUM_OF_PROFILE_REQUESTS }}{% endif %}</span>
			<span class="glyphicon glyphicon-inbox"></span> Profile Requests</a></li>
		  <li class="divider"></li>
		  <li class="dropdown-header">President Duties</li>
		  <li><a href="{% url 'meta_manager' %}"><span class="glyphicon glyphicon-tower"></span> Meta-Manager</a></li>
		  <li><a href="{% url 'manage_request_types' %}"><span class="glyphicon glyphicon-inbox"></span> Manage Request Types</a></li>
		  <li class="divider"></li>
		  <li class="dropdown-header">Miscellaneous</li>
		  <li><a href="{% url 'utilities' %}"><span class="glyphicon glyphicon-wrench"></span> Site Utilities</a></li>
		</ul>
	      </li>
	      {% elif PRESIDENT %}
	      <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-star"></span> President <b class="caret"></b></a>
	      <ul class="dropdown-menu">
			  <li><a href="{% url 'meta_manager' %}" ><span class="glyphicon glyphicon-tower"></span> Meta-Manager</a></li>
			  <li><a href="{% url 'manage_request_types' %}"><span class="glyphicon glyphicon-inbox"></span> Manage Request Types</a></li>
	      </ul>
	      </li>
	      {% endif %}
		{% endif %}
	    </ul>
	    {% if not user.is_authenticated %}
	      <ul class="nav navbar-nav navbar-right">
	      <li><a class="menu_link" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      <li><a class="menu_link" href="{% url 'request_profile' %}"><span class="glyphicon glyphicon-leaf"></span> Request Account</a></li>
	      <li><a class="menu_link" href="https://github.com/knagra/farnsworth" target="_blank" ><span class="glyphicon glyphicon-info-sign"></span> Source</a></li>
	      <li><a class="menu_link" href="{% url 'helppage' %}"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
	      <li><a class="menu_link" id="sub_menu_display" href="{% url 'site_map' %}" ><span class="glyphicon glyphicon-map-marker"></span> Site Map</a></li>
	      </ul>
	    {% else %}
		<div style="padding: 0px;" class="col-sm-3 col-md-4 col-xs-12 pull-right">
	      <form id="search_bar" class="navbar-form" role="search" action="{% url 'haystack_search' %}?q=" style="padding-left: 5px; padding-right: 5px;">
			<div class="input-group">
				<input type="search" class="form-control search-query" name="q" placeholder="Search">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</div> <!-- .input-group -->
	      </form>
	      </div> <!-- .col-sm-3 -->
	    {% endif %}
	  </div>
    </div> <!-- .container -->
    </div> <!-- .navbar -->
		{% block jumbotron %}{% endblock %}
    <div class="container">
		{% if messages %}
		{% for message in messages %}
			<div style="margin-bottom: 10px;" class="alert alert-dismissable {% if 'error' in message.tags %}alert-danger{% elif 'warning' in message.tags %}alert-warning{% elif 'success' in message.tags %}alert-success{% else %}alert-info{% endif %}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ message|safe }}
			</div>
		{% endfor %}
		{% endif %}
		{% block title %}{% endblock %}
    <div id="body">
	<div id="content">
		{% block content %}{% endblock %}
	</div> <!-- close "content" -->
	{% block gallery %}{% endblock %}
      </div> <!-- close "body" -->
    </div> <!-- .container -->
	<div id="bottom" class="container text-center">
      Powered by <a class="footer_link" href="http://www.python.org" target="_blank">Python</a> and <a class="footer_link" href="https://www.djangoproject.com" target="_blank">Django</a>.  Contact {{ ADMIN.0 }} (<a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.1 }}</a>) for support.
    </div>
    <script type="text/javascript" src="{% static 'jquery/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/tablesorter-master/js/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="//yandex.st/highlightjs/8.0/highlight.min.js"></script>
	<script>
	<!-- Add highlight.js to pre blocks -->
		$(document).ready(function(){
			hljs.configure({useBR: true});
			$('pre').each(function(i, e) {hljs.highlightBlock(e)});
		});
    	<!-- prevent multiple form submissions by disabling submit button on all forms after post -->
		$("form").submit(function() {
			$(this).submit(function() {
				return false;
			});
			return true;
		});
	<!-- add Bootstrap form control to select elements -->
		$("input[type=text]").addClass("form-control");
		$("input[type=password]").addClass("form-control");
		$("select").addClass("form-control");

	<!-- remove border from main link buttons on click -->
		$(".main_link").click(function() {
			$(this).css("border", "none");
		});

	<!-- change display format for some things depending on window width -->
		$(window).ready(function() {
			var wi = $(window).width();
			if (wi <= 300) {
				$(".large_title").css("font-size", "39%");
				$(".medium_title").css("font-size", "55%");
				$(".small_title").css("font-size", "75%");
				$("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
			} else if (wi <= 380) {
				$(".large_title").css("font-size", "45%");
				$(".medium_title").css("font-size", "75%");
				$(".small_title").css("font-size", "85%");
				$("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
			} else if (wi <= 440) {
				$(".large_title").css("font-size", "55%");
				$(".medium_title").css("font-size", "85%");
				$(".small_title").css("font-size", "100%");
				$("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
			} else if (wi <= 480) {
				$(".large_title").css("font-size", "75%");
				$(".medium_title").css("font-size", "100%");
				$(".small_title").css("font-size", "100%");
				$("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
			} else if (wi <= 550) {
				$(".large_title").css("font-size", "85%");
				$(".medium_title").css("font-size", "100%");
				$(".small_title").css("font-size", "100%");
				$("#bottom").html('For support, click to e-mail: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.0 }}</a>.');
			} else if (wi <= 768) {
				$(".large_title").css("font-size", "100%");
				$(".medium_title").css("font-size", "100%");
				$(".small_title").css("font-size", "100%");
				$("#bottom").html('For support, click to e-mail: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.0 }}</a>.');
			} else if (wi > 768) {
				$(".large_title").css("font-size", "100%");
				$(".medium_title").css("font-size", "100%");
				$(".small_title").css("font-size", "100%");
				$("#bottom").html('Powered by <a class="footer_link" href="http://www.python.org" target="_blank">Python</a> and <a class="footer_link" href="https://www.djangoproject.com" target="_blank">Django</a>.  Contact {{ ADMIN.0 }} (<a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.1 }}</a>) for support.');
			}

			$(window).resize(function() {
				var wi = $(window).width();
				if (wi <= 300) {
					$(".large_title").css("font-size", "39%");
					$(".medium_title").css("font-size", "55%");
					$(".small_title").css("font-size", "75%");
					$("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
				} else if (wi <= 380) {
					$(".large_title").css("font-size", "45%");
					$(".medium_title").css("font-size", "75%");
					$(".small_title").css("font-size", "85%");
					$("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
				} else if (wi <= 440) {
					$(".large_title").css("font-size", "55%");
					$(".medium_title").css("font-size", "85%");
					$(".small_title").css("font-size", "100%");
					$("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
				} else if (wi <= 480) {
					$(".large_title").css("font-size", "75%");
					$(".medium_title").css("font-size", "100%");
					$(".small_title").css("font-size", "100%");
					$("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
				} else if (wi <= 550) {
					$(".large_title").css("font-size", "85%");
					$(".medium_title").css("font-size", "100%");
					$(".small_title").css("font-size", "100%");
					$("#bottom").html('For support, click to e-mail: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.0 }}</a>.');
				} else if (wi <= 768) {
					$(".large_title").css("font-size", "100%");
					$(".medium_title").css("font-size", "100%");
					$(".small_title").css("font-size", "100%");
					$("#bottom").html('For support, click to e-mail: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.0 }}</a>.');
				} else if (wi > 768) {
					$(".large_title").css("font-size", "100%");
					$(".medium_title").css("font-size", "100%");
					$(".small_title").css("font-size", "100%");
					$("#bottom").html('Powered by <a class="footer_link" href="http://www.python.org" target="_blank">Python</a> and <a class="footer_link" href="https://www.djangoproject.com" target="_blank">Django</a>.  Contact {{ ADMIN.0 }} (<a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.1 }}</a>) for support.');
				}
			});
		});
	</script>
    {% block endscripts %}{% endblock %}
  </body>
</html>
