{% extends "base.html" %}

{% block content %}
<h1 class="title">Bylaws</h1>

<div class="body">
<div class="toc"
><div class="heading"
><h2
>Contents</h2>
</div>
<div class="content"
><ul
><li><a href="#Elections">Elections 
</a></li><li><a href="#A_Calling_Elections">A. Calling Elections 
</a></li><li><a href="#b_Running_Elections">b. Running Elections 
</a></li><li><a href="#c_Ballot_Preparation_and_Counting">c. Ballot Preparation and Counting 
</a></li><li><a href="#House_Councils">House Councils 
</a></li><li><a href="#Motions_and_Voting">Motions and Voting
</a></li><li><a href="#Quiet_Hours">Quiet Hours 
</a></li><li><a href="#PNG_Bylaw">PNG Bylaw 
</a></li><li><a href="#Disability_Single_Bylaw_have_Room_Bids_and_then_this_as_a_subset_of">Disability Single Bylaw (have Room Bids and then this as a subset of)
</a></li><li><a href="#Fineable_Offenses">Fineable Offenses 
</a></li><li><a href="#Roof_Bylaw">Roof Bylaw
</a></li><li><a href="#General_Manager_Bylaws">General Manager Bylaws 
</a></li><li><a href="#Loft_Bylaw">Loft Bylaw 
</a></li><li><a href="#Political_Donations_Pledges_Etc">Political Donations, Pledges, Etc. 
</a></li><li><a href="#Toadish_Bylaw">Toadish Bylaw 
</a></li><li><a href="#Mural_Bylaw">Mural Bylaw 
</a></li><li><a href="#Carbon_Neutrality_Bylaw">Carbon Neutrality Bylaw 
</a></li></ul>
</div>
</div>

<br>
  (Note: the official house policies consist of the <a href="/internal_archive/kwiki/constitution" class="wiki" title="Kwiki: “Constitution”" target="_blank">[Constitution]</a>, <a href="/internal_archive/kwiki/bylaws" class="wiki" title="Kwiki: “Bylaws”" target="_blank">[Bylaws]</a>, <a href="/internal_archive/kwiki/policies" class="wiki" title="Kwiki: “Policies”" target="_blank">[Policies]</a>, and <a href="/internal_archive/kwiki/officer_duties" class="wiki" title="Kwiki: “Officer Duties”" target="_blank">[Officer Duties]</a>.) 
<br>

<br>
The Bylaws concern procedures, offenses, and matters of enduring relevance. No less that a 2/3 vote of the membership is required in favor any amendment to the Bylaws.
<br>

<br>
<h3 id="Elections">Elections 
</h3>

<br>
<h3 id="A_Calling_Elections">A. Calling Elections 
</h3>

<br>
1. The President must conduct regular elections for all officer positions 
<br>
At the end of the spring UC Berkeley semester, for summer and for the following fall semester 
<br>
At the end of the fall UC Berkeley semester, for the following spring semester 
<br>
Nominations must be opened by the president with at least two regular house council meetings remaining.
<br>

<br>

<br>
2. The President must conduct special elections to fill vacant officer positions: 
<br>
If an officer resigns, is incapacitated, or is recalled, nominations open immediately. 
<br>
If a position is vacant at the start of a semester, nominations open on move-in day. 
<br>

<br>

<br>
3. For all officer elections: 
<br>
The president must post a nomination sheet on the day that nominations open. 
<br>
At the second house meeting after that day, candidate speeches and public discussion take place, and then the election is opened. Nominations close 24 hours before that meeting. 
<br>

<br>

<br>
4. The President must also conduct special elections: 
<br>
To recall an officer (see the section on Recall Procedures). 
<br>
To amend the Constitution, Bylaws, or Policies. Amendments must be posted for one week and then passed by a majority in a house meeting. The election is then opened at that meeting. 
<br>

<br>

<br>
5. If an election yields a tie among several options, the President must place these options in a run-off election, opened within one week after the closing of the prior election. 
<br>

<br>
<h3 id="b_Running_Elections">b. Running Elections 
</h3>

<br>
1. All special and regular elections must be conducted by secret ballot. For all elections: 
<br>
The president must open the election at a house meeting, with ballots available and the ballot box present to receive ballots. 
<br>
The President must close the election at a house meeting 5 to 9 days later, with the ballot box present to receive ballots. 
<br>
The President or Vice President must bring the ballot box to at least three other dinners during the polling period to receive ballots. 
<br>

<br>

<br>
2. During the polling period, the President must keep a sign on the front door of the house to announce that elections are open and to indicate when and where members may meet the President to cast ballots. 
<br>

<br>
3. All ballots must be accepted in person by the President. Members may send proxies to cast their ballots. 
<br>

<br>
4. Results must not be tallied until the election is closed. 
<br>

<br>
5. The President must post the results within 48 hours after the election closes. 
<br>

<br>
6. The election results are valid only if the number of cast ballots (including blank ballots) meets a quota. The quota is the golden fraction (about 61.8%) of the residents and official boarders. Unofficial Boarders may vote in the election, but their ballots do not count towards this quota. 
<br>

<br>
<h3 id="c_Ballot_Preparation_and_Counting">c. Ballot Preparation and Counting 
</h3>

<br>
1. For officer positions: 
<br>
In regular elections (but not special elections) “none of the above” is also a valid option, and the President must announce this. If “none of the above” wins the election for a particular position, the position remains vacant, to be filled by a special election the next semester. 
<br>
Voters rank the options on the ballot by writing a number next to each option (1 for the most preferred choice, 2 for the second choice, and so on). It is valid to use any number more than once to indicate that options are equally preferred. It is also valid to leave options unmarked; all marked options are considered preferred to all unmarked options. 
<br>
On the marked ballots, any number other than positive whole numbers are ignored. 
<br>
To determine the winner, each option is compared with each other option in a one-on-one contest. In these contests, each ballot counts for the higher-ranked option. The winner is the option that wins all such contests (the Condorcet winner). If there is no Condorcet winner, the winner is decided using the Schulze method of successively dropping the weakest defeat. 
<br>

<br>

<br>
2. For a measure to recall an officer or amend the Constitution or Bylaws: 
<br>
There are three options on the ballot: “Yes”, “No”, and “Further Discussion”. 
<br>
A “two-thirds vote” passes if two-thirds of the marked ballots are marked “Yes”. 
<br>
If counting the ballots marked “Further Discussion” as “Yes” would change the outcome, the measure is brought back to a house meeting for further discussion. 
<br>

<br>

<br>
<h3 id="House_Councils">House Councils 
</h3>

<br>
1. The President must schedule and hold house meetings weekly during each UC Berkeley semester.
<br>

<br>
2. The President must provide reasonable advance notice of all meetings and reasonable opportunity for all members to put items on the agenda. 
<br>

<br>
3. Central-level boarders and House-level boarders are considered full members and are empowered to fully participate in house councils and elections. Quorum at any house council (including the Summer) must constitute at least 35% of contract-holding residents, rounding up. For example, meeting quorum for the Spring and Fall semesters (at full capacity) would require at least 18 members present at council.
<br>

<br>
<h3 id="Motions_and_Voting">Motions and Voting
</h3>
1. A motion is any proposal sponsored by a member and brought to a vote before the house council. A counter-motion is necessary in order to revoke motions passed by any previous council, see below. 
<br>
2.Motions should be submitted in a written form to the President at least 48 hours before a House Council, stating the motion, the reasoning behind the motion and, if money is involved, from what house account. 
<br>
a. If a motion involves a budget request larger than $1000, then a detailed project proposal <br>
including a timeline, project leadership and research must be submitted for review at the manager meeting preceding the vote. The management team may require a meeting with relevant BSC staff, such as the Kingman Maintenance crew member, the Head of Central Maintenance, or the Operations Manager before the project proposal goes to a vote at house council.
<br>
3. A motion can be passed at council simple majority, which is simply more yes votes than no votes. Any motion involving more than $500 requires an absolute majority in order to pass, which means a 50% majority plus one additional yes vote. 
<br>
4. In extenuating circumstances, the house council may vote by an absolute majority to move a vote online. If a house member asks for it, the house shall move to head-down vote, with two independent verifiers: the President and the Vice President
<br>
5. Any motion in conflict with the Constitution or Bylaws requires a two-thirds vote of the members present and voting.
<br>
6. Motions passed in house council are valid only for the semester in which they are passed. Motions must be resubmitted for approval in subsequent semesters, should they require additional time. In addition, any motion may written such that the original motion timeline will constitute a maximum of two semesters. Further extensions require a two-thirds vote of the house council. 
<br>
7.. In order to overturn a motion previously passed by the house council, a member must present a counter-motion. A counter-motion may only propose to rescind a previously passed motion in its entirety.
<p>a. A member must inform the president of a proposed counter-motion with 48 hours notice prior to <br>
a council meeting. The counter-motion must be announced at that next council.
<p>b. The president will post the motion to be rescinded by the counter-motion on the motion board 
<p>in common space and on guru (if available), and notify the membership of a counter-motion.
<p>c. The counter-motion must be posted in common space for at least seven consecutive days. After 
<p>a week, the counter-motion may be brought to a vote at council where it can be passed in two 
<p>ways:
<p><br>
i. by a two-thirds majority, or,
<p><br>
ii. by an absolute majority at two consecutive councils
<br>

<br>
<h3 id="Quiet_Hours">Quiet Hours 
</h3>

<br>
1. The quiet hours of Kingman Hall during fall, spring, and summer shall be from 10 p.m. to 10 a.m. Sunday through Thursday, and 1 a.m. to 11 a.m. on Friday and Saturday. 
<br>

<br>
2. Quiet hours may be changed per semester requiring a simple majority of quorum at council. 
<br>

<br>
<h3 id="PNG_Bylaw">PNG Bylaw 
</h3>

<br>
1. If the House Manager or the President determines that a non-house member (i.e. someone not under contract at Kingman, including unoffical boarders ) is causing trouble in the house, that officer may temporarily declare that person PNG. If a person is so declared, s/he must immediately leave the premises and may not come onto Kingman property again until either the temporary PNG is rescinded or until the next council meeting at which time the house will decide whether the PNG is to be made permanent. 
<br>

<br>
2. A 2/3 vote of those present at council is required to make the PNG permanent; otherwise the PNG is to be lifted at the moment of the vote. A PNG passed through council can be voided by (and only by) a 2/3 vote at any subsequent council meeting. Permanent PNGs can neither be passed nor voided at an emergency council or as an emergency motion. 
<br>

<br>
3. The House Manager or House President must immediately put the PNG motion on the agenda for the next council. 
<br>

<br>
4. A temporary PNG may be rescinded by the issuing manager prior to the next council meeting if that manager has secured the consent of all house members who requested the temporary PNG. The manager responsible for rescinding the PNG must immediately make a formal announcement to the house regarding this action. 
<br>

<br>
<h3 id="Disability_Single_Bylaw_have_Room_Bids_and_then_this_as_a_subset_of">Disability Single Bylaw (have Room Bids and then this as a subset of)
</h3>

<br>
1. Should it be the case that a house member requires a single due to a disability (as confirmed by Central Office) but lacks the necessary number of points to bid into one, ze will be assigned the final open single during room bids. 
<br>

<br>
2. If a student requiring a single due to a confirmed disability moves in during the semester, the current occupant of the disability single (i.e. the last single bid into at room bids) will move out of the room and into another vacant spot within the house. As such, a claim on the disability single takes priority over any squatter's rights. (Note that this may change the gender ratio in doubles rooms and necessitate an additional round of room bids.) 
<br>

<br>
3. Should a room designated as the proposed disability single be in some way unsuitable for a member requiring a disability single, ze will be assigned the single bid into immediately prior to the given room. 
<br>

<br>
<h3 id="Fineable_Offenses">Fineable Offenses 
</h3>

<br>
1. Tampering with the hot water heater: $50 
<br>

<br>
2. Tampering with the thermostats: $50 
<br>

<br>
3. Tampering with the hot tub: $50 
<br>

<br>
4. Tampering with the water main: $50 
<br>

<br>
5. Tampering with the electrical system of the house: $50 
<br>

<br>
6. Tampering with the main gas: $50 
<br>

<br>
7. Any unauthorized tampering with deep storage: $50 
<br>

<br>
8. Violating quiet hours after one warning by the president or house manager: $20 
<br>

<br>
9. Igniting flammable or explosives in the house: $50 
<br>

<br>
10. Throwing water, water balloons, or similar objects in the house: $20 
<br>

<br>
11. Smoking cigarettes inside the common areas: $20 
<br>

<br>
12. Parking in someone else’s parking space: $20 
<br>

<br>
13. Parking in the lot without renting a parking space: $20 
<br>

<br>
14. Vandalizing Kingman property: $20 plus any costs for the repair of the property vandalized 
<br>

<br>
15. Any fine resulting from a habitability inspection will be passed on to the member(s) at fault. 
<br>

<br>
16. Any fine resulting from a missed central level meeting shall be passed on to the manager(s) who was required to attend. 
<br>

<br>
17. Pulling a false fire alarm: $50 plus any additional fines imposed by the city 
<br>

<br>
18. Any two comped managers shall have the power to fine any member $20 for not removing any garbage, dishes, furniture or personal property from hallways or common areas after a 48 hour warning. 
<br>

<br>
19. Unauthorized fire extinguisher use: pay for recharge and any damage and clean up the mess 
<br>

<br>
20. Hoarding dishes, eating or cooking utensils in room: $0.50 per item 
<br>

<br>
21. Member is financially responsible for his/her guests, and any fineable offense committed by a guest will be charged to the hosting member. 
<br>

<br>
22. Any fines can be overturned by a two-thirds vote in council on a case-by-case basis. 
<br>

<br>
<h3 id="Roof_Bylaw">Roof Bylaw
</h3>

<br>
1. Noise abatement; south side (structural) 
<br>
a. Lock and soundproof existing south window in kitchen (double glaze) 
<br>
b. Soundproof kitchen porch (new wood and glass panels) 
<br>
c. Self-closing door to kitchen porch 
<br>
d. Upgrade ventilation system (new exhaust and supply fans) 
<br>
e. Research sound mitigation options for west side of kitchen (echoic fences double glaze) 
<br>
f. Position speakers to reduce south-directed noise. 
<br>
g. Limit speaker volume with a physical or electronic mechanism for use most of the time. 
<br>

<br>
2. Noise abatement and other pollution: 
<br>
a. Roof deck: No stereo, speaker, amplifier, or drums/drumming on the roof deck premises to exceed noise levels of the Berkeley Noise Ordinance, especially during parties. $50 fine for violations. Personal headphones allowed. The roof deck is intended to be used for quiet enjoyment, without impacting the neighbors below, particularly at night, particularly during Kingman parties. 
<br>
b. General: $25 minimum fine for noise infractions, $50 minimum fine for deliberate garbage infractions (trash thrown out windows, balconies, roof deck, onto neighboring properties). 
<br>

<br>
3. Neighborhood presence 
<br>
a. Social and House managers, “Neighbor day:” Saturday brunch/dinner inviting all neighbors each semester, at least introducing themselves as new managers to neighbors. To hear concerns, comments, discuss our image, enforce crime prevention (neighborhood watch?), or to act collectively upon common neighborhood concerns, in a respectful comfortable forum, including acting as another channel of communication with Cloyne Court as well as self-policing within the rest of the BSC system. Notify neighbors of all planned parties and social events. 
<br>
b. Social and House managers: Creation of a neighbor dossier: who are our neighbors, what is our impact on the neighborhood, what have been our successes and failures, what can we do now? An historical framework within which each generation should gauge its efforts and pass on its own record of struggles, mistakes, challenges overcome and lessons learned for future generations, as is its mature responsibility. 
<br>

<br>
<h3 id="General_Manager_Bylaws">General Manager Bylaws 
</h3>

<br>
1. No manager may spend more than $50 without reporting to the house. 
<br>

<br>
2. Manager may not exceed budget allotted per semester without 2/3 house approval: fineable up to $200. 
<br>

<br>
3. Withheld compensation is 20%. VOCs must be held at the end of each contract period, to determine withheld compensation. Withheld compensation will not be dispensed, regardless of VOC outcome, if the manager does not train the person elected to his/her position for the subsequent semester before leaving office, and it is the President’s duty to see that it has been done and report the release of compensation to the BSC central office (only applicable when position is filled at the end the semester). The membership must be notified of the final state of affairs. 
<br>

<br>
4. Compensation for each manager and officer position during Fall and Spring contract periods is as follows: 
<br>
a. President: 5 hours/week; 
<br>
b. Vice President: 3 hours/week; 
<br>
c. BSC  Board Representative: 5 hours/week; 
<br>
d. House Manager: 9/16 of semesterly rent plus 5 hours/week; 
<br>
e. Kitchen Manager: 100% of semesterly rent plus 5 hours/week; 
<br>
f. Workshift Manager: 9/16 of semesterly rent plus 5 hours/week; 
<br>
g. Maintenance Manager: 9/16 of semesterly rent plus 5 hours/week; 
<br>
h. Social Manager: 5 hours/week; 
<br>
i. Network Manager: 2+ hours/week 
<br>
j. Garden Faery: 5 hours/week 
<br>
k. Home Improvement Manager: 2 hours/week; and 
<br>
l. Waste Reduction Manager: 5 hours/week. 
<br>
m. Health Worker: 2+ hours/week
<br>

<br>
5. When a position is split by two or more people, those filling the position determine how they will split the available compensation and notify the house, house manager and house president, and the BSC central office. 
<br>
Recall Procedures 
<br>

<br>
Summer (as room and board house) contract periods is as follows:
<br>

<br>
a. President: 5 hours/week;
<br>
b. Vice President: 3 hours/week;
<br>
c. BSC Board Representative: 5 hours/week;
<br>
d. House Manager: 9/16 of summer rent* plus 5 hours/week;
<br>
e. Kitchen Manager: 100% of summer rent* plus 5 hours/week;
<br>
f. Workshift Manager: 9/16 of summer rent* plus 5 hours/week;
<br>
g. Maintenance Manager: 7/16 summer of rent* plus 5 hours/week;
<br>
h. Social Manager: 5 hours/week;
<br>
i. Network Manager: 2+ hours/week
<br>
j. Garden Faery: 5 hours/week
<br>
k. Waste Reduction Manager: 5 hours/week.
<br>
l. Health Worker: 2+ hours/week.
<br>
*summer rent in this case includes room and board fee.
<br>

<br>
6. Compensation for each manager and officer position during
<br>
Summer (as room-only house) contract periods is as follows:
<br>

<br>
a. President: 3 hours/week;
<br>
b. Vice President: 3 hours/week;
<br>
c. BSC Board Representative: 3 hours/week;
<br>
d. House Manager: 9/16 of summer rent plus 3 hours/week;
<br>
e. Kitchen Manager: 100% of summer rent plus 3 hours/week;
<br>
f. Workshift Manager: 7/16 of summer rent plus 3 hours/week;
<br>
g. Maintenance Manager: 7/16 summer of rent plus 3 hours/week;
<br>
h. Social Manager: 3 hours/week;
<br>
i. Network Manager: 2+ hours/week
<br>
j. Garden Faery: 3 hours/week
<br>
k. Waste Reduction Manager: 3 hours/week.
<br>
l: Health Worker: 2+/week
<br>
1. An officer who has held their post for less than one month cannot be recalled. 
<br>

<br>
2. One-fifth of the residents may initiate the recall process for any officer by signing a recall petition and delivering it to the President or Vice President. 
<br>

<br>
3. The President must hold a house meeting to discuss the recall within 72 hours after receiving a recall petition. The President must post the place and time of this meeting 48 hours in advance. 
<br>

<br>
4. At this meeting, the President must open a special election to vote on the recall. The officer is recalled if two-thirds of the residents vote for the recall. 
<br>

<br>
5. If a officer is recalled, the President must immediately appoint another member to take over their official duties until the election to fill their post is completed. 
<br>

<br>
6. If the recall does not pass, the officer in question cannot be recalled again for one month. 
<br>

<br>
7. In the event that the President is the subject of the recall, the Vice President must conduct the above recall procedures. 
<br>

<br>
<h3 id="Loft_Bylaw">Loft Bylaw 
</h3>

<br>
1. Constructing a loft: 
<br>
a. Any member will be fully refunded for the materials needed to construct a loft if the loft passes the current maintenance manager’s criteria for a safe and sturdy loft. Council can overrule a maintenance manager’s decision with a 2/3 vote. 
<br>
b. Any member who builds a loft that is approved by a maintenance manager shall receive house improvement (HI) hours for the time spent constructing his/her loft with a cap of the number of HI hours that are owed from each member that semester. This applies for both constructing an entirely new loft and for moving and installing an unused loft to a new room. 
<br>

<br>
2. Removal of a loft: 
<br>
a. No HI hour or normal workshift hour credit will be given to any member for taking down a loft. 
<br>
b. A majority vote at council is required as permission to take down a loft. 
<br>
c. Any removal of a loft must be assisted by at least one maintenance manager to ensure that the loft will be taken down in such a way that it can be used in another room. This assistance need not be any more than sufficient direction and providing the proper tools, but it can be as extensive as the maintenance manager and the member(s) see fit. 
<br>
d. Taking down a loft without the permission of council and/or without the presence or guidance of a maintenance manager will result in a $50 fine and five extra HI hours for each of the individuals involved. 
<br>

<br>
<h3 id="Political_Donations_Pledges_Etc">Political Donations, Pledges, Etc. 
</h3>

<br>
a) For donations to any cause a donation box may be set up by a member. 
<br>

<br>
Home Improvement  (group with Humor Shifts and Bathroom under Policies and mentioned in Workshift Manager description)
<br>

<br>
a) Every house member (including boarders) will owe 2 hours per semester to be done on some lasting form of home improvement (serious cleaning counts). These hours are in addition to the 5 hours per week of regular workshift obligations. 
<br>

<br>
b) Workshift, garden, and maintenance managers will assist house members as they materialize ideas for projects and keep track of HI hours completed by members (see Manager descriptions). 
<br>

<br>
c) All money spent on HI projects must be approved by council before it is spent. 
<br>

<br>
<h3 id="Toadish_Bylaw">Toadish Bylaw 
</h3>

<br>
Hear Ye Hear ye 
<br>

<br>
1. Toadish is the official language of Kingman. 
<br>

<br>
2. The president must speak one sentence of Toadish every council. 
<br>

<br>
3. The dictionary in the by laws folder as well as on the social board. 
<br>

<br>
<h3 id="Mural_Bylaw">Mural Bylaw 
</h3>

<br>
1. Murals in Common Spaces 
<br>
a. Any new murals in common space must be approved at council through a majority vote. 
<br>
b. All current murals in common spaces are frozen. All future murals in common 
<br>
space approved by council are frozen. To paint over them, council must approve it with a majority vote. 
<br>

<br>
2. In-Room Murals 
<br>
a. In-room murals do not have to be pre-approved by council unless they paint over in-room frozen murals. 
<br>
b. Upon completion of an in-room mural, the mural may become frozen through a majority vote in council. 
<br>

<br>
Note: Part 2 of this bylaw (In-Room Murals) is in tension with central level rules concerning the use of one’s own room. As such, its enforceability is questionable. However, as a member of the house and the Kingman community, we hope that this by-law will be respected and whoever dislikes a mural will bring the matter to council first before painting over the in-room mural. 
<br>
List of Frozen In-Room Murals 
<br>

<br>
1. Room 2E – Starry Night 
<br>

<br>
2. Room 3G - Enchanted Forest 
<br>

<br>
<h3 id="Carbon_Neutrality_Bylaw">Carbon Neutrality Bylaw 
</h3>

<br>
1. Kingman Hall values carbon neutrality and aims to be a carbon-neutral house. 
<br>

<br>
2. At least once per semester, we will take measures to ensure zero net carbon emissions from our electricity and natural gas usage for the semester. 
<br>

<br>
3. For this purpose, the House Manager is authorized to spend house funds, charged to members on house bills, to buy renewable energy credits that offset our carbon emissions.  
</div>
</div>
{% endblock %}
