<script>
<!-- Custom datetime parser -->
$.tablesorter.addParser({
    id: 'farnsworth_datetime',
    is: function(s) {
        return /d{1,2}\/d{1,2}\/d{1,4} d{1,2}:d{1,2} s(AM|PM)/.test(s);
    },
    format: function(s) {
        return Date.parse(s);
    },
    type: 'numeric'
});

<!-- Add highlight.js to pre blocks -->
    $(document).ready(function(){
        hljs.configure({useBR: true});
        $('pre').each(function(i, e) {hljs.highlightBlock(e)});
    });
    <!-- prevent multiple form submissions by disabling submit button on all forms after post -->
    $("form").submit(function() {
        $(this).submit(function() {
            return false;
        });
        return true;
    });
<!-- add Bootstrap form control to select elements -->
    $("input[type=text]").addClass("form-control");
    $("input[type=password]").addClass("form-control");
    $("select").addClass("form-control");

<!-- remove border from main link buttons on click -->
    $(".main_link").click(function() {
        $(this).css("border", "none");
    });

<!-- remove top and bottom margins on tables of class .table-->
    $(document).ready(function() {
        $('table.table').css('margin-top', '0');
        $('table.table').css('margin-bottom', '0');
    });

<!-- change display format for some things depending on window width -->
    $(window).ready(function() {
        var wi = $(window).width();
        if (wi <= 480) {
            $("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
        } else if (wi <= 768) {
            $("#bottom").html('For support, click to e-mail: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.0 }}</a>.');
        } else if (wi > 768) {
            $("#bottom").html('Powered by <a class="footer_link" href="http://www.python.org" target="_blank">Python</a> and <a class="footer_link" href="https://www.djangoproject.com" target="_blank">Django</a>.  Contact {{ ADMIN.0 }} (<a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.1 }}</a>) for support.');
        }

        $(window).resize(function() {
            var wi = $(window).width();
            if (wi <= 480) {
                $("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
            } else if (wi <= 768) {
                $("#bottom").html('For support, click to e-mail: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.0 }}</a>.');
            } else if (wi > 768) {
                $("#bottom").html('Powered by <a class="footer_link" href="http://www.python.org" target="_blank">Python</a> and <a class="footer_link" href="https://www.djangoproject.com" target="_blank">Django</a>.  Contact {{ ADMIN.0 }} (<a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.1 }}</a>) for support.');
            }
        });
    });
</script>
