<script>
/* Add CKEditor to all textareas */
$('textarea').addClass('ckeditor');

/* Italicize blockquotes and style addresses*/
$(document).ready(function() {
    $('blockquote').css({
        'font-style': 'italic',
        'font-family': 'Times New Roman'
    });
    $('blockquote *').css({
        'font-style': 'italic',
        'font-family': 'Times New Roman'
    });
    $('address').css({
        'margin-bottom': '0px',
        'margin-left': '20px',
        'font-style': 'italic'
    });
});

/* Custom datetime parser */
$.tablesorter.addParser({
    id: 'farnsworth_datetime',
    is: function(s) {
        return /d{1,2}\/d{1,2}\/d{1,4} d{1,2}:d{1,2} s(AM|PM)/.test(s);
    },
    format: function(s) {
        return Date.parse(s);
    },
    type: 'numeric'
});

/* Custom date parser */
$.tablesorter.addParser({
    id: 'farnsworth_date',
    is: function(s) {
        return /d{1,2}\/d{1,2}\/d{1,4}/.test(s);
    },
    format: function(s) {
        return Date.parse(s);
    },
    type: 'numeric'
});

/* Add highlight.js to pre blocks */
    $(document).ready(function(){
        //hljs.configure({useBR: true});
        $('pre').each(function(i, e) {hljs.highlightBlock(e)});
    });
    <!-- prevent multiple form submissions by disabling submit button on all forms after post -->
    $("form").submit(function() {
        $(this).submit(function() {
            return false;
        });
        return true;
    });

/* stylize code and footnotes */
$(document).ready(function() {
    $('pre').addClass('prettyprint linenums');
    $('code').addClass('prettyprint');
    $('.footnotes > header').addClass('text-muted');
    $('.footnotes > ol > li').addClass('text-muted');
    $('.footnotes > header > h2').after('<hr class="w_line main_divider" />');
    $('.footnotes > header > h2').replaceWith('<h3 class="w_subtitle" style="margin-top: 10px;">Footnotes</h3>');
    /* Highlight corresponding footnote when hoving over a link */
    $('a[rel="footnote"]').hover(function() {
        var h = $(this).attr('href');
        $(h).removeClass('text-muted');
    }, function() {
        var h = $(this).attr('href');
        $(h).addClass('text-muted');
    });
    /* Highlight corresponding footnote upon click of a link */
    $('a[rel="footnote"]').click(function() {
       $('.footnotes > ol > li').removeClass('bg-info');
       var h = $(this).attr('href');
       $(h).addClass('bg-info');
    });
});

/* add Bootstrap form control to select elements */
$("input[type=text]").addClass("form-control");
$("input[type=password]").addClass("form-control");
$("select").addClass("form-control");

/* remove border from main link buttons on click */
$(".main_link").click(function() {
    $(this).css("border", "none");
});

/* remove top and bottom margins on tables of class .table */
$(document).ready(function() {
    $('table.table').css('margin-top', '0');
    $('table.table').css('margin-bottom', '0');
});

/* change display format for some things depending on window width */
$(window).ready(function() {
    var wi = $(window).width();
    if (wi <= 480) {
        $("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
    } else if (wi <= 768) {
        $("#bottom").html('For support, click to e-mail: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.0 }}</a>.');
    } else if (wi > 768) {
        $("#bottom").html('Powered by <a class="footer_link" href="http://www.python.org" target="_blank">Python</a> and <a class="footer_link" href="https://www.djangoproject.com" target="_blank">Django</a>.  Contact {{ ADMIN.0 }} (<a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.1 }}</a>) for support.');
    }

    $(window).resize(function() {
        var wi = $(window).width();
        if (wi <= 480) {
            $("#bottom").html('Click: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">E-mail for support</a>.');
        } else if (wi <= 768) {
            $("#bottom").html('For support, click to e-mail: <a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.0 }}</a>.');
        } else if (wi > 768) {
            $("#bottom").html('Powered by <a class="footer_link" href="http://www.python.org" target="_blank">Python</a> and <a class="footer_link" href="https://www.djangoproject.com" target="_blank">Django</a>.  Contact {{ ADMIN.0 }} (<a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.1 }}</a>) for support.');
        }
    });
});

/* Smooth scroll for links inside page */
$(document).ready(function() {
    $(function() {
      $('a[href*=#]:not([href=#]):not(.carousel-control):not([data-toggle*="tab"]):not([data-toggle="tab"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
});

/* Retrieve requests, profile requests, and notifications. */
$(document).ready(function() {
    function update_html(element_id, html_string) {
        if ($(element_id).html() != html_string) {
            $(element_id).html(html_string);
        }
    }

    function update_page(element_names, data_dict) {
        for (var i=0; i<element_names.length; i++) {
            if (data_dict.hasOwnProperty(element_names[i])) {
                update_html('#' + element_names[i], data_dict[element_names[i]]);
            }
        }
    }

    setInterval(function() {
        $.getJSON(
            "{% url 'get_updates' %}",
            {request_pk_list: String(window.request_pk_list),
             event_pk_list: String(window.event_pk_list)},
            function(data) {
                var element_names = new Array(
                    'profile_requests_link',
                    'notifications_link',
                    'profile_dropdown_link'
                );

                if (data.hasOwnProperty('requests_dict')) {
                    var request_types = new Array();
                    for (var key in data['requests_dict']) {
                        request_types.push(key);
                    }
                    update_page(request_types, data['requests_dict']);
                }

                for (var i=0; i<window.event_pk_list.length; i++) {
                    element_names.push('rsvp_list_' + String(window.event_pk_list[i]));
                    link_string = 'rsvp_link_' + String(window.event_pk_list[i]);
                    link_id = '#' + link_string;

                    if (data.hasOwnProperty(link_string)) {
                        if (data[link_string] == true) {
                            update_html(link_id, 'Un-RSVP');
                            $(link_id).addClass('warning_link');
                            $(link_id).removeClass('success_link');
                            $(link_id).attr('title', 'Un-RSVP to this event');

                        } else {
                            update_html(link_id, 'RSVP');
                            $(link_id).addClass('success_link');
                            $(link_id).removeClass('warning_link');
                            $(link_id).attr('title', 'RSVP to this event');
                        }
                    }
                }

                for (var i=0; i<window.request_pk_list.legth; i++) {
                    element_names.push('vote_list_' + String(window.request_pk_list[i]));
                    link_string = 'vote_count_' + String(window.request_pk_list[i]);

                    if (data.hasOwnProperty(link_string)) {
                        update_html('#' + link_string, data[link_string]);

                        if (data[link_string] == 0) {
                            $('#' + link_string).parent().removeAttr('href');
                            $('#' + link_string).parent().removeAttr('data-toggle');
                            $('#' + link_string).parent().removeAttr('title');
                            $('#' + link_string).parent().parent().removeClass('open');

                        } else {
                            $('#' + link_string).parent().attr('href', '#');
                            $('#' + link_string).parent().attr('data-toggle', 'dropdown');
                            $('#' + link_string).parent().attr('title', 'Show Votes');
                        }
                    }

                    if (data.hasOwnProperty('in_votes_' + String(request_pk_list[pk]))) {
                        if (data['in_votes_' + String(request_pk_list[pk])] == true) {
                            $('#vote_button_' + String(request_pk_list[pk])).addClass(
                                'btn-success'
                            );
                            update_html('#vote_button_' + String(request_pk_list[pk]), '<span class="glyphicon glyphicon-star"></span>');

                        } else {
                            $('#vote_button_' + String(request_pk_list[pk])).removeClass(
                                'btn-success'
                            );
                            update_html('#vote_button_' + String(request_pk_list[pk]), '<span class="glyphicon glyphicon-star-empty"></span>');
                        }
                    }
                }
                update_page(element_names, data);
            }
        );
    }, 5000);
});
</script>
