{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% load thread_tags %}
{% load request_tags %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/homepage.css' %}" />
<script>
function show_new_response_form(response_form_id, button_id) {
    $(response_form_id).slideDown();
    $(button_id).fadeOut();
    //document.getElementById(response_form_id).style.display="inline";
    //document.getElementById(button_id).style.display="none";
}
function hide_new_response_form(response_form_id, button_id) {
    $(response_form_id).slideUp();
    $(button_id).fadeIn();
    //document.getElementById(response_form_id).style.display="none";
    //document.getElementById(button_id).style.display="inline";
}
function show_form(form_id) {
    $(form_id).slideDown();
    //document.getElementById(form_id).style.display="inline";
}
function hide_form(form_id) {
    $(form_id).slideUp();
    //document.getElementById(form_id).style.display="none";
}
</script>
<style>
  .form-group label[for*="body"] {
    display: none;
  }
</style>
{% endblock %}

{% block content %}
{% if requests_dict %}
{% for request_type, requests in requests_dict %}
{% with x=forloop.counter|stringformat:"s" %}
{% if requests %}
<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-12">
    <div class="requests">
      <form class="pull-right" action="{% url 'managers:requests' requestType=request_type.url_name %}">
        <button class="btn btn-info" type="submit">
		  <span class="glyphicon glyphicon-{% if request_type.glyphicon %}{{ request_type.glyphicon }}{% else %}inbox{% endif %}"></span>
		  <span class="hidden-xs"> Requests Page</span>
		</button>
      </form>
      <h1 class="w_title">{{ request_type.name }} Requests</h1>
      <hr class="w_line" />
      <div class="bordered_div">
        <div class="field_wrapper text-info">You hold a manager position responsible for addressing these requests.</div>
        {% for request, responses, response_form, upvote, vote_form in requests %}
        {% if forloop.counter > 1 %}
        <hr style="margin-top: 3px; margin-bottom: 3px;"/>
        {% endif %}
        <div class="request_row">
          <div class="request_name bg-warning" title="Open">
            <div class="request_owner">
              {% if not request.owner.user = user and user.username != ANONYMOUS_USERNAME %}
			  {% if vote_form %}
              <form style="display:inline" method="POST">
                {% csrf_token %}
                {{ vote_form|bootstrap }}
                {% if upvote %}
                <button type="submit" class="btn btn-xs" name="vote-{{ request.pk }}" title="Remove upvote">
                  <span class="glyphicon glyphicon-star"></span>
                </button>
                {% else %}
                <button type="submit" class="btn btn-xs" name="vote-{{ request.pk }}" title="Upvote to express approval">
                  <span class="glyphicon glyphicon-star-empty"></span>
                </button>
                {% endif %}
              </form>
			  {% endif %}
              {% endif %}
              {% with vote_count_request=request %}
              {% include "vote_list.html" %}
              {% endwith %}
            </div> <!-- .request_owner -->
            <div class="request_body">{{ request.body|safe }}
              {% if not request.owner.user = user %}
			  {% if vote_form %}
              <form class="pull-right" method="POST">
                {% csrf_token %}
                {{ vote_form|bootstrap }}
              </form>
              {% endif %}
              {% endif %}
            </div>
          </div> <!-- .request_name -->
          <div class="request_responses">
            <div class="response_table">
              {% for response in responses %}
              {% if forloop.counter > 1 %}
              <hr class="main_divider" />
              {% endif %}
              <div class="response_row hover_row{% if response.manager %} bg-info" title="Manager Response{% endif %}">
                <div class="response_owner">
                  <a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=response.owner.user.username %}">
					{{ response.owner|display_user:user }}
				  </a>
				  ({{ response.post_date }}):
                </div> <!-- .response_owner -->
                <div class="response_body">
                  {{ response.body|safe }}
                  {{ response.display_action|safe }}
                </div> <!-- response_body -->
              </div> <!-- .response_row -->
              {% endfor %}
              {% with y=forloop.counter|stringformat:"s" %}
              {% with response_form_id="response_form_"|add:x|add:"_"|add:y %}
              {% with button_id="button_"|add:x|add:"_"|add:y %}
              <div class="text-center">
                <button class="btn btn-primary" type="button" id="{{ button_id }}" onclick="show_new_response_form('{{ response_form_id }}', '{{ button_id }}')">
				  <span class="glyphicon glyphicon-paperclip"></span> Add Response
				</button>
              </div> <!-- .text-center -->
              <form class="new_response_form" id="{{ response_form_id }}" method="post">
                {% csrf_token %}
                {{ response_form|bootstrap }}
                <div class="text-center">
                  <div class="btn-group">
                    <button type="submit" class="btn btn-success" name="add_response-{{ request.pk }}">
					  <span class="glyphicon glyphicon-send"></span> Add Response
					</button>
                    <button type="button" class="btn btn-default" name="cancel_response_form" onclick="hide_new_response_form('{{ response_form_id }}', '{{ button_id }}')">
					  <span class="glyphicon glyphicon-collapse-up"></span> Hide
					</button>
                  </div> <!-- .btn-group -->
                </div> <!-- .text-center -->
              </form>
              {% endwith %}
              {% endwith %}
              {% endwith %}
            </div> <!-- .response_table -->
          </div> <!-- .request_responses -->
        </div> <!-- .requests_row -->
        {% endfor %}
      </div> <!-- .requests_table -->
    </div> <!-- .requests -->
  </div> <!-- .col-md-12 -->
</div> <!-- .row -->
{% endif %}
{% endwith %}
{% endfor %}
{% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="announcements">
      {% if announcement_form %}
      <button class="btn btn-primary pull-right" type="button" onclick="show_form('new_announcement_form')"><span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs"> New Announcement</span></button>
      {% endif %}
      <h1 class="w_title">Recent Announcements</h1>
      <hr class="w_line" />
      {% if announcement_form %}
      <form id="new_announcement_form" class="main_form" method="post" action="">
        {% csrf_token %}
        <div class="form-group">
          <label class="control-label" for="id_as_manager">As Manager</label>
          {{ announcement_form.manager }}
        </div>
        <div class="form-group">
          <label class="control-label" for="id_announcement_body">Body</label>
          <textarea id="id_announcement_body" name="body"></textarea>
        </div>
        <div class="text-center">
          <div class="btn-group">
            <button type="submit" class="btn btn-success" name="post_announcement"><span class="glyphicon glyphicon-bullhorn"></span> Announce</button>
            <button type="button" class="btn btn-default" name="cancel_announcement" onclick="hide_form('new_announcement_form')"><span class="glyphicon glyphicon-collapse-up"></span> Hide</button>
          </div> <!-- .btn-group -->
        </div> <!-- .text-center -->
      </form>
      {% endif %}
      {% if not announcements_dict %}
      <div class="field_wrapper">No recent announcements.</div>
      {% else %}
      <div class="bordered_div">
        {% for tuple in announcements_dict %}
        {% if forloop.counter > 1 %}
        <hr class="main_divider" />
        {% endif %}
        <div class="main_row hover_row">
          <div class="announcement_owner">
            <a class="page_link" title="View Details" href="{% url 'managers:view_manager' managerTitle=tuple.0.manager.url_title %}">{{ tuple.0.manager }}</a>
            (<a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=tuple.0.incumbent.user.username %}">{{ tuple.0.incumbent|display_user:user }}</a>),
            {{ tuple.0.post_date }}:
          </div> <!-- .announcement_owner -->
          <div class="announcement_body">{{ tuple.0.body|safe }}
            {% if tuple.1 %}
            <form class="pull-right" method="post" action="">
              {% csrf_token %}
              {{ tuple.1 }}
              {% if tuple.0.pinned %}
              <button type="submit" class="main_link warning_link" name="unpin" title="Unpin from homepage">Unpin</button>
              {% else %}
              <button type="submit" class="main_link success_link" name="unpin" title="Pin to homepage">Pin</button>
              {% endif %}
            </form>
            <form class="pull-right" action="{% url 'managers:edit_announcement' announcement_pk=tuple.0.pk %}">
              <button type="submit" class="main_link primary_link" title="Edit this announcement">Edit</button>
            </form>
            {% endif %}
          </div>
        </div> <!-- .announcement_row -->
        {% endfor %}
      </div>
      {% endif %}
    </div> <!-- .announcements -->
  </div> <!-- .col-md-12 -->
</div> <!-- .row -->

<div class="row">
  <div class="col-lg-7" style="margin-top: 20px;">
    <div class="threads">
      <button class="btn btn-primary pull-right" onclick="show_form('new_thread_form')" type="button">
		<span class="glyphicon glyphicon-pencil"></span>
		<span class="hidden-xs"> New Thread</span>
	  </button>
      <h1 class="w_title">Recent Threads</h1>
      <hr class="w_line" />
	  {% if thread_form %}
      <form id="new_thread_form" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ thread_form|bootstrap }}
          <div class="text-center">
            <div class="btn-group">
              <button type="submit" class="btn btn-success" name="submit_thread_form">
				<span class="glyphicon glyphicon-comment"></span> Start Thread
			  </button>
              <button type="button" class="btn btn-default" name="cancel_thread_form" onclick="hide_form('new_thread_form')">
				<span class="glyphicon glyphicon-collapse-up"></span> Hide
			  </button>
            </div> <!-- .btn-group -->
          </div> <!-- .text-center -->
        </div>
      </form>
	  {% endif %}
      {% if not thread_set %}
      <div class="field_wrapper">No threads found in database.</div>
      {% else %}
      <table class="table table-striped table-bordered table-condensed table-hover" id="threads_table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Progenitor</th>
            <th>Replies</th>
            <th>Last Message</th>
            <th>Last Poster</th>
          </tr>
        </thead>
        <tbody>
          {% for thread, last_message in thread_set %}
          <tr>
            <td>
			  <a title="View Thread" class="page_link" href="{% url 'threads:view_thread' pk=thread.pk %}">
				{{ thread.subject|truncatechars:45 }}
			  </a>
			</td>
            <td>
			  <a class="page_link" href="{% url 'member_profile' targetUsername=thread.owner.user.username %}" title="View Profile">
				{{ thread.owner.user.get_full_name }}
			  </a>
			</td>
            <td>{{ thread.number_of_messages|add:"-1" }}</td>
            <td>{{ thread.change_date|date:"m/d/Y, h:i A" }}</td>
            <td><a title="page_link" href="{% url 'member_profile' targetUsername=last_message.owner.user.username %}">{{ last_message.owner.user.get_full_name }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div align="center"><a href="{% url 'threads:list_all_threads' %}">See all threads</a></div>
      {% endif %}
    </div> <!-- .threads -->
  </div> <!-- .col-lg-7 -->

  <div class="col-lg-5" style="margin-top: 20px;">
    <div class="events">
      <form action="{% url 'events:list' %}" class="pull-right">
        <button class="btn btn-info header_button" type="submit"><span class="glyphicon glyphicon-calendar"></span><span class="hidden-xs"> Events Page</span></button>
      </form>
      <h1 class="w_title">Week's Events</h1>
      <hr class="w_line" />
      {% if not events_dict %}
      <div class="field_wrapper">
        No events in next 7 days.
      </div>
      {% else %}
      <div class="bordered_div">
        {% for tuple in events_dict %}
        {% if forloop.counter > 1 %}
        <hr class="main_divider">
        {% endif %}
        <div class="main_row hover_row{% if tuple.0.cancelled %} bg-danger" title="Cancelled{% elif tuple.1 %} bg-success" title="Happening Now{% elif tuple.0.as_manager %} bg-info" title="Official House Event{% endif %}">
          <div class="main_owner">
            {% if tuple.0.as_manager %}
            <a class="page_link" title="View Details" href="{% url 'managers:view_manager' managerTitle=tuple.0.as_manager.url_title %}">{{ tuple.0.as_manager }}</a>
            (<a class="page_link" title="View Profile" href="{ url 'member_profile targetUsername=tuple.0.owner.user.username %}">{{ tuple.0.owner|display_user:user }}</a>):
            {% else %}
            <a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=tuple.0.owner.user.username %}">{{ tuple.0.owner|display_user:user }}</a>:
            {% endif %}
          </div> <!-- .main_owner -->
          <div class="event_body">
            <div class="text-center">
              <h4 class="event_header">{{ tuple.0.title }}{% if tuple.0.cancelled %}
                <small class="text-danger">CANCELLED</small>{% endif %}
                <br />
                <small>{{ tuple.0.location }}</small>
                <br />
                <small>{{ tuple.0.start_time }} to {{ tuple.0.end_time }}</small></h4>
              <hr style="width: 75%; margin-top: 3px; margin-bottom: 3px;">
            </div> <!-- .text-center -->
            {{ tuple.0.description|safe }}
            <hr style="width: 75%; margin-top: 3px; margin-bottom: 3px;" />
            {% if tuple.0.rsvps.all %}
            RSVPs: {% for member in tuple.0.rsvps.all %}{% if forloop.counter > 1 %},
            {% endif %}<a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=member.user.username %}">{{ member|display_user:user }}</a>{% endfor %}
            {% else %}
            No RSVPs.
            {% endif %}
            <div class="pull-right">
              {% if user.username != ANONYMOUS_USERNAME %}
              <form class="pull-right" method="post" action="">
                {% csrf_token %}
                {{ tuple.3 }}
                {% if tuple.2 %}
                <button type="submit" class="main_link warning_link" name="rsvp" title="Un-RSVP to this event">Un-RSVP</button>
                {% else %}
                <button type="submit" class="main_link success_link" name="rsvp" title="RSVP to this event">RSVP</button>
                {% endif %}
              </form>
              {% endif %}
              {% if tuple.0.owner.user == user or user.is_superuser %}
              <form class="pull-right" action="{% url 'events:edit' event_pk=tuple.0.pk %}">
                <button class="main_link primary_link" title="Edit this event">Edit</button>
              </form>
              {% endif %}
            </div> <!-- .pull-right -->
          </div> <!-- .event_body -->
        </div> <!-- .main_row -->
        {% endfor %}
      </div> <!-- .bordered_div -->
      {% endif %}
    </div> <!-- .events -->
  </div> <!-- .col-lg-5 -->
</div> <!-- .row -->
{% endblock %}

{% block endscripts %}
<script>
$(document).ready(function() {
    $('table').tablesorter({
        headers: {
            3: {
                sorter: 'farnsworth_datetime'
            }
        },
        sortList: [[3,1]],
        widgets: ["resizable"],
        widgetOptions: {
            resizable: true
        }
    });
});
</script>
{% endblock %}
