{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}
<h1 class="w_title">{{ page_name }}</h1>
<hr class="w_line" />
{% if not notifications %}
<p>No unread notifications</p>
{% else %}
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <th>Status</th>
    <th>Message</th>
    <th>Time</th>
  <tbody>
    {% for notification in notifications %}
    <tr>
      <td>{% if notification.unread %}unread{% endif %}</td>
      <td>
	{% if notification.actor %}
	{% if notification.actor.get_view_url %}
	<a href="{{ notification.actor.get_view_url }}">
	  {{ notification.actor }}
	</a>
	{% else %}
	{{ notification.actor }}
	{% endif %}
	{% endif %}
	{% if notification.verb %}
	{{ notification.verb }}
	{% endif %}
	{% if notification.action_object %}
	{% if notification.action_object.get_view_url %}
	<a href="{{ notification.action_object.get_view_url }}">
	  {{ notification.action_object|striptags|truncatechars:50 }}
	</a>
	{% else %}
	{{ notification.action_object|striptags|truncatechars:50 }}
	{% endif %}
	{% endif %}
	{% if notification.target and notification.action_object %}
	on
	{% endif %}
	{% if notification.target %}
	{% if notification.target.get_view_url %}
	<a href="{{ notification.target.get_view_url }}">
	  {{ notification.target|truncatechars:50 }}
	</a>
	{% else %}
	{{ notification.target|truncatechars:50 }}
	{% endif %}
	{% endif %}
      </td>
      <td>{{ notification.timestamp }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}

{% block endscripts %}
<script>
$(document).ready(function() {
    $('table').tablesorter({
        sortList: [[0, 0], [2, 0]],
        headers: {
            2: {
                sorter: 'farnsworth_datetime',
            }
        },
        widgets: ["filter", "resizable"],
        widgetOptions: {
            resizable: true
        }
    }).tablesorterPager({
        container: "#notifications_pager",
        cssGoto: "#notifications_goto"
    });
});
</script>
{% endblock %}
