{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}
<h1 class="w_title">{{ page_name }}</h1>
<hr class="w_line" />
{% if not notifications %}
<p>No unread notifications</p>
{% else %}
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <th>Status</th>
    <th>Message</th>
    <th>Time</th>
  <tbody>
    {% for notification in notifications %}
    <tr>
      <td>{% if notification.unread %}unread{% endif %}</td>
      <td>
	{{ notification.actor }} {{ notification.verb }}
	{% if notification.target and notification.action_object %}
	{{ notification.action_object }} on {{ notification.target }}
	{% elif notification.target %}
	{{ notification.target }}
	{% elif notification.action_object %}
	{{ notification.action_object }}
	{% endif %}
      </td>
      <td>{{ notification.timestamp }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}

{% block w_endscripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('table').tablesorter({
        sortList: [[0, 0], [2, 0]],
        headers: {
            2: {
                sorter: 'farnsworth_datetime',
            }
        },
        widgets: ["filter", "resizable"],
        widgetOptions: {
            resizable: true
        }
    }).tablesorterPager({
        container: "#notifications_pager",
        cssGoto: "#notifications_goto"
    });
});
</script>
<script src="{% static 'jquery/tablesorter-master/js/jquery.tablesorter.widgets.js' %}"></script>
{% endblock %}
