{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'jquery/tablesorter-master/css/theme.default.css' %}" />
<script type="text/javascript" src="{% static 'jquery/jquery-1.11.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/tablesorter-master/js/jquery.tablesorter.min.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/manage_profile_requests.css' %}" />
<script>
$(document).ready(function() {
	$('table').tablesorter({
		sortList: [[1,0], [2,0]]
	});
});
</script>
{% endblock %}

{% block content %}
<div class="table_container">
	<div class="header"><h3 class="table_title">Profile Requests</h3></div>
	<div class="main_table">
	{% if not profile_requests %}
		<div class="field_wrapper text-success">No profile requests in database.</div>
	{% else %}
	<table class="table table-striped table-bordered table-condensed table-hover members_table" id="requests_table">
	<thead>
	<tr>
		<th>Username</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>E-mail</th>
		<th>Request Date</th>
		<th>Affiliation</th>
	</tr>
	</thead>
	<tbody>
	{% for r in profile_requests %}
		<tr>
			<td><a class="page_link" href="{% url 'modify_profile_request' request_pk=r.pk %}" title="Modify Profile Request"><span class="glyphicon glyphicon-plus"></span> {{ r.username }}</a></td>
			<td>{{ r.first_name }}</td>
			<td>{{ r.last_name }}</td>
			<td><a class="page_link" title="Write E-mail" href="mailto:{{ r.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ r.email }}</a></td>
			<td>{{ r.request_date }}</td>
			<td>{% for choice in choices %}{% if r.affiliation == choice.0 %}{{ choice.1 }}{% endif %}{% endfor %}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}
	</div> <!-- .main_table -->
</div> <!-- .table_container -->
<div class="alert alert-info" style="margin-top: 10px;">
Don't know how profile requests work?  Check out the
<a target="_blank" href="{% url 'helppage' %}#profile_requests" class="alert-link"><span class="glyphicon glyphicon-new-window"></span>
Profile Requests sub-section</a> of the
<a target="_blank" href="{% url 'helppage' %}" class="alert-link"><span class="glyphicon glyphicon-new-window"></span> help page</a>.
</div>
{% endblock %}
