{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/modify_profile_request.css' %}" />
{% endblock %}

{% block content %}
    <div class="table_container" style="position: relative; margin: 0px auto; max-width: 85%;">
        <div class="header"><h3 class="table_title small_title">Modify Profile Request</h3></div>
        <div class="main_table">
        {% if provider and uid %}
        <div class="text-info field_wrapper">
        This is an OAuth request from provider {{ provider }} with UID {{ uid }}.
        </div>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                {{ add_user_form|bootstrap }}
                <div class="text-center">
                <div class="btn-group btn-group-lg">
                    <button type="submit" name="add_user" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Add User</button>
                    <button type="submit" name="delete_request" class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> Delete Request</button>
                </div>
                </div>
            </div>
        </form>
        </div> <!-- .main_table -->
    </div>
{% endblock %}
