{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}

{% block content %}
<div class="row">
<div class="col-md-7">
<h1 class="w_title">Modify Profile Request</h1>
<hr class="w_line" />
{% if provider and uid %}
<div class="text-info field_wrapper">
This is an OAuth request from provider {{ provider }} with UID {{ uid }}.
</div>
{% endif %}
{% if affiliation_message %}
<div class="text-info field_wrapper">Affiliation message: {{ affiliation_message }}</div>
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        {{ add_user_form|bootstrap }}
        <div class="text-center">
        <div class="btn-group btn-group-lg">
            <button type="submit" name="add_user" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Add User</button>
            <button type="submit" name="delete_request" class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> Delete Request</button>
        </div>
        </div>
    </div>
</form>
</div> <!-- .col-md-7 -->
<div class="col-md-5">
<br class="hidden-md hidden-lg" />
<hr class="hidden-md hidden-lg" />
<h1 class="w_title">Existing Users</h1>
<hr class="w_line" />
    <table class="table table-striped table-bordered table-condensed table-hover members_table">
    <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    {% for member in members %}
    <tr>
      <td><a class="page_link" title="Modify Profile" href="{% url 'custom_modify_user' targetUsername=member.username %}"><span class="glyphicon glyphicon-cog"></span> {{ member.username }}</a></td>
      <td>{{ member.first_name }}</td>
      <td>{{ member.last_name }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table> <!-- .table -->
</div> <!-- .col-md-5 -->
</div> <!-- .row -->
{% endblock %}

{% block endscripts %}
<script>
$(document).ready(function() {
    $('table').tablesorter({
        sortList: [[1,0], [2,0]],
        widgets: ["filter", "resizable"],
        widgetOptions: {
            resizable: true
        }
    });
});
</script>
{% endblock %}
