{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}

{% block content %}
<div class="row">
<div class="col-md-7">
<h1 class="w_title">Update Your Profile</h1>
<hr class="w_line" />
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        {{ update_profile_form|bootstrap }}
        <div class="text-center"><button type="submit" class="btn btn-success" name="submit_profile_form"><span class="glyphicon glyphicon-floppy-disk"></span> Update Profile</button></div>
    </div>
</form>
</div> <!-- .col-md-7 -->

<br class="visible-xs visible-sm" />
<hr class="visible-xs visible-sm" />

<div class="col-md-5">
<h1 class="w_title">Change Password</h1>
<hr class="w_line" />
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        {{ change_password_form|bootstrap }}
        <div class="text-center"><button type="submit" class="btn btn-danger" name="submit_password_form"><span class="glyphicon glyphicon-warning-sign"></span> Change Password</button></div>
    </div>
</form>
</div> <!-- .col-md-5 -->
</div> <!-- .row -->
{% endblock %}
