<div class="field_wrapper">
    <div class="pager tablesorter-pager" id="{{ id_prefix }}_pager" style="margin-top: 0px; margin-bottom: 0px;">
        <a class="last pull-right" style="margin-left: 5px;"
            title="Last page" tabindex="0" aria-disabled="false"><span class="glyphicon glyphicon-fast-forward"></span></a>
        <a class="next pull-right" title="Next page" tabindex="0" aria-disabled="false"><span class="glyphicon glyphicon-forward"></span></a>
        <a class="first pull-left" style="margin-right: 5px;"
            title="First page" tabindex="0" aria-disabled="false"><span class="glyphicon glyphicon-fast-backward"></span></a>
        <a class="prev pull-left" title="Previous page" tabindex="0" aria-disabled="false"><span class="glyphicon glyphicon-backward"></span></a>
        Page:
        <select id="{{ id_prefix }}_goto" aria-disabled="false" style="width: 50px; height: 25px; padding: 0px; margin: none; display: inline;"></select>
        |
        <span class="pagedisplay"></span>
        |
        Rows per page:
        <select class="pagesize" aria-disabled="false" style="width: 50px; height: 25px; padding: 0px; margin: none; display: inline;">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div> <!-- .pager -->
</div> <!-- .field_wrapper -->
