<div class="field_wrapper">
    <div class="pager tablesorter-pager" id="{{ id_prefix }}_pager" style="margin-top: 0px; margin-bottom: 0px;">
        Page:
        <select id="{{ id_prefix }}_goto" aria-disabled="false" style="width: 50px; height: 25px; padding: 0px; margin: none; display: inline;"></select>
        |
        <span class="first glyphicon glyphicon-fast-backward" title="First page" tabindex="0" aria-disabled="false"></span>
        <span class="prev glyphicon glyphicon-backward" title="First page" tabindex="0" aria-disabled="false"></span>
        |
        <span class="pagedisplay"></span>
        |
        <span class="next glyphicon glyphicon-forward" title="First page" tabindex="0" aria-disabled="false"></span>
        <span class="last glyphicon glyphicon-fast-forward" title="First page" tabindex="0" aria-disabled="false"></span>
        |
        Rows per page:
        <select class="pagesize" aria-disabled="false" style="width: 50px; height: 25px; padding: 0px; margin: none; display: inline;">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div> <!-- .pager -->
</div> <!-- .field_wrapper -->


