{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}

{% block template_page_name %} - Reset Password{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <h1 class="w_title">Reset Password</h1>
    <hr class="w_line" />
    <div class="text-info" style="margin: 10px 10px;">Please enter the e-mail address associated with your account.
    An e-mail will be sent to you with a link to reset your password.</div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
        {{ form|bootstrap }}
        <div class="text-center">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-send"></span> Submit</button>
        </div> <!-- .text-center -->
        </div> <!-- .form-group -->
    </form>
</div> <!-- .col-md-8 -->
{% endblock %}
