{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<style>
.pages_list {
    list-style-type: none;
    padding-left: 40px;
    padding-bottom: 10px;
}

.pages_list li {
    display: block;
    padding-top: 5px;
    font-size: 13pt;
}
</style>
{% endblock %}

{% block content %}
<h1 class="w_title">General Pages</h1>
<hr class="w_line" />
<ul class="pages_list">
  <li><a class="page_link" href="{% url 'external' %}" >External Landing</a> - go to the external landing to this site.</li>
  <li><a class="page_link" href="{% url 'helppage' %}" >Help Page</a> - see some helpful information about the site.</li>
  <li><a class="page_link" href="https://github.com/knagra/farnsworth" target="_blank" >Project Source Code</a> - see this project's source code on <a class="page_link" href="https://github.com" target="_blank" >GitHub</a>.</li>
  {% if not user.is_authenticated %}
  <li><a class="page_link" href="{% url 'login' %}" >Login Page</a> - login to an existing member account.</li>
  <li><a class="page_link" href="{% url 'request_profile' %}" >Create Account</a> - request a new account and profile on the site.</li>
  {% endif %}
</ul>
{% if user.is_authenticated and user.username != ANONYMOUS_USERNAME %}
<h1 class="w_title">Profile Pages</h1>
<hr class="w_line" />
<ul class="pages_list">
  <li><a class="page_link" href="{% url 'my_profile' %}" >My Profile</a> - see and update your profile or change your password.</li>
  <li><a class="page_link" href="{% url 'managers:my_requests' %}" >My Requests</a> - see all your requests.</li>
  <li><a class="page_link" href="{% url 'logout' %}" >Logout</a> - logout of your account.</li>
</ul>
{% endif %}
{% if user.is_authenticated %}
<h1 class="w_title">Member Pages</h1>
<hr class="w_line" />
<ul class="pages_list">
  <li><a class="page_link" href="{% url 'homepage' %}" >Home Page</a> - go to your home page.</li>
  <li><a class="page_link" href="{% url 'member_directory' %}" >Member Directory</a> - see a list of residents, boarders, alumni, and their phone numbers, e-mail addresses, etc.</li>
  <li><a class="page_link" href="{% url 'threads:list_all_threads' %}" >Member Forums</a> - see active member conversations.</li>
  <li><a class="page_link" href="{% url 'managers:announcements' %}" >Manager Announcements</a> - see manager announcements.</li>
  <li><a class="page_link" href="{% url 'events:list' %}" >Upcoming Events</a> - see a list of upcoming events.</li>
  {% if REQUEST_TYPES %}
  {% for request_type, count in REQUEST_TYPES %}
  <li><a class="page_link" href="{% url 'managers:requests' requestType=request_type.url_name %}">{{ request_type.name|title }} Requests</a> - see and add to recent {{ request_type.name.lower }} requests.</li>
  {% endfor %}
  {% endif %}
</ul>
<h1 class="w_title">Archives</h1>
<hr class="w_line" />
<ul class="pages_list">
  <li><a class="page_link" href="{% url 'threads:list_all_threads' %}" >All Threads</a> - see all threads on this site.</li>
  <li><a class="page_link" href="{% url 'managers:all_requests' %}">All Requests</a> - see all requests.</li>
  <li><a class="page_link" href="{% url 'managers:all_announcements' %}" >All Announcements</a> - see all announcements.</li>
  <li><a class="page_link" href="{% url 'events:all' %}" >All Events</a> - see all events.</li>
</ul>
{% endif %}
{% if user.is_superuser %}
<h1 class="w_title">Admin</h1>
<hr class="w_line" />
<ul class="pages_list">
  <li><a class="page_link" href="{% url 'custom_manage_users' %}" >Manage Users</a> - see and modify user profiles.</li>
  <li><a class="page_link" href="{% url 'custom_add_user' %}" >Add User</a> - add a new user to the site.</li>
  <li><a class="page_link" href="{% url 'manage_profile_requests' %}" >Profile Requests</a> - see and manage profile requests.</li>
  <li><a class="page_link" href="{% url 'utilities' %}" >Utilities</a> - see and use a set of site utilities.</li>
</ul>
{% endif %}
{% if user.is_superuser or PRESIDENT %}
<h1 class="w_title">President</h1>
<hr class="w_line" />
<ul class="pages_list">
  <li><a class="page_link" href="{% url 'managers:meta_manager' %}">Meta-Manager</a> - manage managers.</li>
  <li><a class="page_link" href="{% url 'managers:add_manager' %}">Add Manager</a> - add a new manager to the site.</li>
  <li><a class="page_link" href="{% url 'managers:manage_request_types' %}">Manage Request Types</a> - manage request types.</li>
  <li><a class="page_link" href="{% url 'managers:add_request_type' %}">Add Request Type</a> - add a new request type to the site.</li>
</ul>
{% endif %}
{% endblock %}
