{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<style>
.utilities_list {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.utilities_list li {
    display: block;
    padding-top: 5px;
    font-size: 13pt;
}
</style>
{% endblock %}

{% block content %}
<h1 class="w_title">Site Utilities</h1>
<hr class="w_line" />
<ul class="utilities_list">
{% if ANONYMOUS_SESSION %}
    <li>You are currently temporarily logged in.  When you log out, the anonymous user "{{ ANONYMOUS_USERNAME }}"  will be logged in.
    You can log out the anonymous user and end the anonymous session.
    <ul><li>End anonymous session and logout anonymous user: <a class="page_link" href="{% url 'managers:end_anonymous_session' %}"><span class="glyphicon glyphicon-log-out"></span> End Anonymous Session</a></li></ul>
    </li>
{% else %}
    <li>You can log out and login as the anonymous user (username "{{ ANONYMOUS_USERNAME }}").
    It is recommended that you only do this on common space computers.
    If you have started an anonymous session on another machine, you can end the session by logging in as yourself on that machine and ending the session through this same page.
    <ul><li>Login as the anonymous user "{{ ANONYMOUS_USERNAME }}": <a class="page_link" href="{% url 'managers:anonymous_login' %}"><span class="glyphicon glyphicon-log-out"></span> Anonymous Login</a></li></ul>
    </li>
{% endif %}
    <li>Sometimes (especially if someone used the Django admin), the number of request responses
    and thread messages stored in their model fields can be different from the real value.
    The change date for a thread can also fall out of line from the post date of the latest message
    associated with that thread.
    If this is the case, or you're not sure, you can recount both these fields for each request and thread
    and update the change_date for those threads.
    It is advised that you do this every few weeks.
    Running this utility will not modify the change date on either requests or threads.
    <ul><li>Recount request responses and thread messages: <a class="page_link" href="{% url 'recount' %}"><span class="glyphicon glyphicon-repeat"></span> Recount</a></li></ul>
    </li>
    <li>You can alternatively go to the Django admin interface for more low-level control.
    Be careful.  If you mess up real bad, contact Karandeep through <a class="page_link" href="//github.com/knagra" target="_blank">his GitHub page</a>.
    <ul><li>Django admin: <a class="page_link" href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-wrench"></span> Django Admin</a></li></ul>
    </li>
</ul>
{% endblock %}
