<h3 class="result_title">
  <a href="{% url 'member_profile' targetUsername=result.object.user.username %}">{{ result.object.user.get_full_name }}</a>
  <small>User</small>
</h3>
<dl class="result_description dl-horizontal">
  <dt>Status</dt>
  <dd>{% if targetUser.username == ANONYMOUS_USERNAME %}Anonymous user for common space computers.{% else %}{{ result.object.get_status_display }}{% endif %}</dd>
  {% if not result.object.user.username == ANONYMOUS_USERNAME %}
  <dt>Former Houses</dt>
  <dd>{{ result.object.former_houses }}&nbsp;</dd>
  {% if result.object.room_set.count %}
  <dt>Current Room</dt>
  <dd>
	{% for room in result.object.room_set.all %}{% if not forloop.first %}, {% endif %}<a href="{{ room.get_view_url }}">{{ room.title }}</a>{% endfor %}
  </dd>
  {% endif %}
  {% if result.object.previousresident_set.count %}
  <dt>Former Rooms</dt>
  <dd>
	{% for prev_res in result.object.previousresident_set.all %}{% if not forloop.first %}, {% endif %}<a href="{{ prev_res.room.get_view_url }}">{{ prev_res.room.title }}</a>{% endfor %}
  </dd>
  {% endif %}
  {% if result.object.email_visible %}
  <dt>E-mail</dt>
  <dd><a href="mailto:{{ result.object.user.email }}">{{ result.object.user.email }}</a>&nbsp;</dd>
  {% endif %}
  {% if result.object.phone_visible %}
  <dt>Phone</dt>
  <dd>{{ result.object.phone_number }}&nbsp;</dd>
  {% endif %}
  {% endif %}
</dl>
