<h3 class="result_title"><a href="{% url 'member_profile' targetUsername=object.user.username %}">{{ object.user.get_full_name }}</a> <small>User</small></h3>
<dl class="result_description dl-horizontal">
    <dt>Status</dt>
    <dd>{% if targetUser.username == ANONYMOUS_USERNAME %}Anonymous user for common space computers.{% else %}{{ object.get_status_display }}{% endif %}</dd>
    {% if not object.user.username == ANONYMOUS_USERNAME %}
        <dt>Current Room</dt>
        <dd>{{ object.current_room }}&nbsp;</dd>
        <dt>Former Rooms</dt>
        <dd>{{ object.former_rooms }}&nbsp;</dd>
        <dt>Former Houses</dt>
        <dd>{{ object.former_houses }}&nbsp;</dd>
    {% if object.email_visible %}
        <dt>E-mail</dt>
        <dd><a href="mailto:{{ object.user.email }}">{{ object.user.email }}</a>&nbsp;</dd>
    {% endif %}
    {% if object.phone_visible %}
        <dt>Phone</dt>
        <dd>{{ object.phone_number }}&nbsp;</dd>
    {% endif %}
    {% endif %}
</dl>
