<div class="field_wrapper text-info">
The records displayed here were salvaged from the legacy Kingman website using
<a href="https://github.com/knagra/reappropriation"
    target="_blank"><b><span class="glyphicon glyphicon-new-window"></span>
    this migration software</b></a>.
The racist and exotifying name of the legacy application is deprecated.
Uses of the name in these records are preserved for historical purposes
and do not reflect the sensibilities of the author of the migration software.
</div>
