{% extends "base.html" %}

{% block content %}
<h1 class="w_title">Legacy Events</h1>
<hr class="w_line" />
{% include "legacy.html" %}
{% if not events %}
<div class="field_wrapper text-info">No legacy events.</div>
{% else %}
<div class="bordered_div">
    {% for event in events %}
        {% if not forloop.first %}<hr class="main_divider" />{% endif %}
        <div class="hover_row" style="padding: 5px;">
            <b>{{ event.title }}</b>,
            <span class="text-muted">{{ event.date|date:"m/d/Y" }}</span>:
            {{ event.description|safe }}
        </div>
    {% endfor %}
    <div class="field_wrapper text-info">
        {{ event_count }} total legacy events in database.
    </div>
    <div class="field_wrapper">
        {% if events.has_previous %}
            <a href="?page={{ events.previous_page_number }}"><span
                class="glyphicon glyphicon-chevron-left"></span>
                Previous</a>
        {% else %}
            <span class="glyphicon glyphicon-chevron-left"></span>
            Previous
        {% endif %}

        |

        <span class="current">
            Page {{ events.number }} of {{ events.paginator.num_pages }}.
        </span>

        |

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}">Next
                <span class="glyphicon glyphicon-chevron-right"></span>
        {% else %}
            Next <span class="glyphicon glyphicon-chevron-right"></span>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
