/*
  Project: Farnsworth

Author: Karandeep Singh Nagra
*/

* {
    font-family: 'Source Sans Pro', Tahoma, sans-serif;
    font-weight: 400;
}

#page_title {
    color: black;
    font-size: 800%;
    font-weight: 300;
    margin: 0;
}

#small_page_title {
	color: black;
	font-size: 600%;
	font-weight: 300;
	margin: 0;
}

.sub_title {
	color: black;
	font-size: 250%;
	font-weight: 300;
}

.sub_subtitle {
	color: black;
	font-size: 125%;
	font-weight: 300;
}

html {
    position: relative;
    height: 100%;
}

#html_body {
    min-height: 100%;
    height: auto;
    width: 100%;
    position: relative;
}

.navbar-static-top {
    margin-bottom: 19px;
}

#search_bar {
	padding-right: 0px;
}

#body {
    clear: both;
    position: relative;
    width: 100%;
    height: auto;
    color: black;
    padding-bottom: 50px;
}

#title {
    float: center;
    width: 100%;
}

#content {
    clear: both;
}

#bottom {
	color: #aeaeae;
	font-size: 11pt;
	position: absolute;
	bottom: 0px;
	clear: both;
	width: 100%;
	height: 50px;
	overflow: auto;
	padding-top: 19px;
}


.footer_link {
    color: #7e7e7e;
    font-weight: 400;
    text-decoration: none;
}

a.footer_link:hover {
    color: black;
    font-style: bold;
}
