/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.page_link {
	color: #7e7e7e;
	text-decoration: underline;
}

.page_link:hover {
	color: black;
}

.header {
	margin: auto;
	background: #5e5e5e;
	color: #fafafa;
	font-size: 20pt;
	height: 40px;
}

.table_title {
	padding-left: 10px;
	font-size: 100%;
	margin-top: 0px;
	padding-top: 5px;
	font-weight: 200;
	margin-bottom: 0px;
}

.farnsworth_header {
	font-weight: 200;
	margin: 0px;
	padding: 0px;
}

.button {
	font-weight: 300;
}
