/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

p {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

img {
	width: 100%;
	height: auto;
	display: inline-block;
	border: none;
	margin: 0px 0px 0px 0px;
}

h1 {
	color: #7e7e7e;
}

h3 {
	margin: 5px 0px 0px 0px;
}
