/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.table_container {
	float: middle;
	position: relative;
	margin-bottom: 10px;
	font-size: 15pt;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	overflow: hidden;
}

#residents_table {
	margin: 0px;
}

#boarders_table {
	margin: 0px;
}

#alumni_table {
	margin: 0px;
}

.members_table {
	margin: 0;
}

.table {
	margin-bottom: 0px;
}
