/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

#update_profile {
	border: 1px solid #7e7e7e;
	position: relative;
	margin: 0px auto;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	overflow: hidden;
	width: 75%;
}

#change_password {
	border: 1px solid #7e7e7e;
	position: relative;
	margin: 0px auto;
	margin-top: 20px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	overflow: hidden;
	width: 50%;
}

.form-group {
	padding-left: 5px;
	padding-right: 5px;
}

.btn {
	width: 50%;
	margin-top: 15px;
}
