/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.page_table {
	width: 100%;
	padding-top: 20px;
}

p {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	clear: left;
}

.slider-wrapper {
	width: 100%;
	z-index: -1;
	padding-top: 20px;
}

#google_map {
	padding-top: 20px;
	padding-left: 140px;
}
