/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/
/*
.page_table {
	width: 100%;
	padding-top: 20px;
}
*/
p {
	padding-top: 10px;
	clear: left;
}

.page_container {
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	margin-top: 10px;
}

.slider-wrapper {
	width: 100%;
	z-index: -1;
	padding-top: 10px;
}

#google_map {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
