/*
  Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.requests {
    float: middle;
    border: 1px solid #7e7e7e;
    margin: 10px 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    font-size: 15pt;
    overflow: hidden;
}

.requests_title {
    padding-left: 20px;
    font-size: 180%;
    margin-top: 0px;
}

.add_request {
    background: #5e5e5e;
    color: #fafafa;
    font-size: 20pt;
    float: right;
    margin-top: 7px;
    margin-right: 5px;
}

.add_request:hover {
    background: #fafafa;
    border-left: none;
    border-bottom: 1px solid #5e5e5e;
    color: black;
    cursor: pointer;
}

.button {
    background: #5e5e5e;
    color: #fafafa;
    font-size: 15pt;
    border: none;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#submit_request_form {
    width: 50%;
    border-right: 1px solid #3f3f3f;
    float: left;
}

#cancel_request_form {
    width: 50%;
    border-left: 1px solid #8b8b8b;
    clear: left;
}

.new_response_form {
    display: none;
}

.submit_response_form {
    background: #5e5e5e;
    color: #fafafa;
    font-size: 13pt;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #3f3f3f;
    float: left;
    font-weight: 300;
}

.cancel_response_form {
    background: #5e5e5e;
    color: #fafafa;
    font-size: 13pt;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #8b8b8b;
    clear: left;
    font-weight: 300;
}

.add_response {
    padding: 0px;
}

.submit_response_form:hover {
    background: #fafafa;
    color: black;
    border-top: 1px solid #7e7e7e;
    cursor: pointer;
    border-left: none;
    border-right: none;
}

.cancel_response_form:hover {
    background: #fafafa;
    color: black;
    border-top: 1px solid #7e7e7e;
    cursor: pointer;
    border-left: none;
    border-right: none;
}

.button:hover {
    background: #fafafa;
    color: black;
    border-top: 1px solid #7e7e7e;
    border-bottom: 1px solid #7e7e7e;
    cursor: pointer;
    border-left: none;
    border-right: none;
}

.requests_table {
    float: left;
    width: 100%;
}

.table_header {
    margin: auto;
    background: #5e5e5e;
    color: #fafafa;
    font-size: 20pt;
    height: 60px;
}

.requests_row {
    width: 100%;
    color: black;
    border-bottom: 1px solid #7e7e7e;
    overflow: hidden;
}

.request_name {
    text-align: center;
    margin: 5px auto;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 75%;
    background: #dde;
    border: 1px solid #888;
}

.request_responses {
    padding-left: 0px;
    padding-right: 0px;
}

.response_row {
    padding-left: 5px;
    padding-right: 5px;
}

.response_row:hover {
    background: #ddf;
}

.response_table {
    padding-bottom: 10px;
}

.response_divider {
    width: 75%;
    margin: 0px;
}

#response_divier {
    margin: 0px;
    height: 1px;
    background: #888;
}

.request_divider {
    width: 75%;
}

#response_divider {
    margin: 0px;
    height: 1px;
    background: #888;
}

/*
  Remove confusion about table layout in case user enters a horizontal line.
  */	
.response_table hr:not(.response_divider) {
    margin-left: 10px;
}

.response_owner {
    color: #7e7e7e;
    font-size: 11pt;
}

.manager_response {
    background-color: #efffef;
}

.request_owner {
    padding-left: 5px;
    padding-top: 5px;
    color: #7e7e7e;
    font-size: 11pt;
}

.response_body {
    font-size: 13pt;
    word-wrap: break-word;
    overflow-x: auto;
}

.request_body {
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 13pt;
    word-wrap: break-word;
    overflow-x: auto;
    text-align: left;
}

#new_request_form {
    display: none;
    padding-bottom: 10px;
}

#new_request_table {
    padding-top: 10px;
    padding-bottom: 20px;
    clear: both;
    float: left;
}

#id_subject {
    margin-bottom: 5px;
    max-width: 75%;
}

.more_requests {
    background: #5e5e5e;
    border: none;
    width: 100%;
    clear: both;
    text-align: center;
}

.more_requests:hover {
    background: #fafafa;
    color: black;
    cursor: pointer;
}

.more_requests > a {
    color: #fafafa;
    font-size: 20pt;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-weight: 300;
}

.more_requests:hover > a {
    color: black;
}

.field_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.mark_filled {
    width: 100%;
}
