/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.requests {
	float: middle;
	border: 1px solid #7e7e7e;
	width: 860px;
	margin: 30px 10px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	font-size: 15pt;
	overflow: hidden;
}

.requests_title {
	background: #5e5e5e;
	background: linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -moz-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -webkit-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	color: #fafafa;
	padding-left: 10px;
	padding-top: 10px;
	height: 40px;
	font-size: 20pt;
	width: 634px;
	float: left;
	border-right: 1px solid #3f3f3f;
}

.add_request {
	background: #5e5e5e;
	background: linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -moz-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -webkit-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	color: #fafafa;
	height: 50px;
	font-size: 20pt;
	width: 215px;
	float: right;
	border-left: 1px solid #8b8b8b;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #5e5e5e;
}

.add_request:hover {
	background: #fafafa;
	border-left: none;
	border-bottom: 1px solid #5e5e5e;
	color: black;
	cursor: pointer;
}

.button {
	background: #5e5e5e;
	color: #fafafa;
	font-size: 15pt;
	border: none;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#submit_request_form {
	width: 50%;
	border-right: 1px solid #3f3f3f;
	float: left;
}

#cancel_request_form {
	width: 50%;
	border-left: 1px solid #8b8b8b;
	clear: left;
}

.new_response_form {
	display: none;
}

.submit_response_form {
	background: #5e5e5e;
	color: #fafafa;
	font-size: 13pt;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 50%;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-right: 1px solid #3f3f3f;
	float: left;
	font-weight: 300;
}

.cancel_response_form {
	background: #5e5e5e;
	color: #fafafa;
	font-size: 13pt;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 50%;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #8b8b8b;
	clear: left;
	font-weight: 300;
}

.add_response {
	background: #5e5e5e;
	color: #fafafa;
	font-size: 13pt;
	border: none;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
	font-weight: 300;
}

.add_response:hover {
	background: #fafafa;
	color: black;
	cursor: pointer;
}

.submit_response_form:hover {
	background: #fafafa;
	color: black;
	border-top: 1px solid #7e7e7e;
	cursor: pointer;
	border-left: none;
	border-right: none;
}

.cancel_response_form:hover {
	background: #fafafa;
	color: black;
	border-top: 1px solid #7e7e7e;
	cursor: pointer;
	border-left: none;
	border-right: none;
}

.button:hover {
	background: #fafafa;
	color: black;
	border-top: 1px solid #7e7e7e;
	border-bottom: 1px solid #7e7e7e;
	cursor: pointer;
	border-left: none;
	border-right: none;
}

.requests_table {
	float: left;
	width: 100%;
}

.table_header {
	color: black;
	font-size: 15pt;
	font-weight: bold;
	position: relative;
	text-align: center;
	width: 100%;
}

.requests_row {
	width: 100%;
	color: black;
	border-bottom: 1px solid #7e7e7e;
	overflow: hidden;
}

.table_header .request_responses {
	padding-top: 5px;
	padding-bottom: 5px;
}

.table_header .request_name {
	padding-top: 5px;
	padding-bottom: 5px;
}

.request_name {
	width: 430px;
	float: left;
	position: relative;
	display: inline-block;
	word-wrap: break-word;
}

.request_responses {
	width: 429px;
	float: right;
	display: inline-block;
	border-left: 1px solid #7e7e7e;
}

.response_row {
	width: 100%;
	border-bottom: 1px solid #7e7e7e;
}

.response_table {
	width: 100%;
	padding-bottom: 10px;
	float: left;
}

.response_divider {
	width: 75%;
}

.request_divider {
	width: 75%;
}

/*
Remove confusion about table layout in case user enters a horizontal line.
*/	
.response_table hr:not(.response_divider) {
	margin-left: 10px;
}

.response_owner {
	padding-left: 5px;
	padding-top: 5px;
	color: #7e7e7e;
	font-size: 11pt;
}

.manager_response {
	background-color: #efffef;
}

.request_owner {
	padding-left: 5px;
	padding-top: 5px;
	color: #7e7e7e;
	font-size: 11pt;
}

.response_body {
	padding-left: 5px;
	padding-bottom: 5px;
	font-size: 13pt;
	word-wrap: break-word;
	overflow-x: auto;
}

.request_body {
	padding-left: 5px;
	padding-bottom: 5px;
	font-size: 13pt;
	word-wrap: break-word;
	overflow-x: auto;
}

#new_request_form {
	display: none;
	padding-bottom: 10px;
}

#new_request_table {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	clear: both;
	float: left;
}

#id_subject {
	margin-bottom: 5px;
	max-width: 75%;
}

.more_requests {
	background: #5e5e5e;
	border: none;
	width: 100%;
	clear: both;
	text-align: center;
}

.more_requests:hover {
	background: #fafafa;
	color: black;
	cursor: pointer;
}

.more_requests > a {
	color: #fafafa;
	font-size: 20pt;
	text-decoration: none;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	font-weight: 300;
}

.more_requests:hover > a {
	color: black;
}

.field_wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
