/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.requests {
	float: middle;
	overflow: hidden;
	width: 100%;
}

.btn-group {
	margin-top: 5px;
}

#new_announcement_form .btn-group {
	padding-bottom: 10px;
	margin-bottom: 3px;
	border-bottom: 1px solid #eee;
}

.unpin_form {
	display: inline-block;
	float: right;
	position: relative;
}

.requests_row {
	width: 100%;
	color: black;
	overflow: auto;
}

.request_name {
	margin: 5px auto;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 75%;
	background: #e9e9e9;
	border: 1px solid #888;
}

.request_owner {
	text-align: center;
	padding-left: 5px;
	padding-top: 3px;
	color: #7e7e7e;
	font-size: 11pt;
}

.request_body {
	font-size: 11pt;
	word-wrap: break-word;
	overflow-x: auto;
	padding-left: 5px;
}

.main_row {
	padding-left: 5px;
	padding-right: 5px;
}

.announcement_owner {
	color: #7e7e7e;
}

.announcement_body {
	word-wrap: break-word;
	overflow-x: auto;
}

.new_response_form {
	display: none;
}

.response_row {
	padding-left: 5px;
	padding-right: 5px;
}

.response_table {
	padding-bottom: 5px;
}

.response_owner {
	color: #7e7e7e;
	font-size: 10pt;
}

.manager_response{
	background-color: #efffef;
}

.response_body {
	font-size: 11pt;
	word-wrap: break-work;
	overflow-x: auto;
}

.rsvp_form {
	display: inline-block;
	float: right;
	position: relative;
}

#threads_table {
	margin-top: 0px;
	margin-bottom: 0px;
}

#new_thread_form {
	display: none;
}
