/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

#login_form {
	border: 1px solid #7e7e7e;
	position: relative;
	margin: 0 auto;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	overflow: hidden;
	width: 75%;
}

.fieldWrapper {
	padding-top: 10px;
}

.form-group {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
}

.btn {
	width: 50%;
	margin-top: 15px;
}
