/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.threads {
	float: middle;
	border: 1px solid #7e7e7e;
	position: relative;
	width: 860px;
	margin: 30px 10px;
	font-size: 15pt;
	overflow: hidden;
}

.threads_title {
	background: #5e5e5e;
	background: linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -moz-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -webkit-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	color: #fafafa;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	height: 40px;
	font-size: 20pt;
	width: 634px;
	float: left;
	border-right: 1px solid #3f3f3f;
	position: relative;
}

.add_thread {
	background: #5e5e5e;
	background: linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -moz-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -webkit-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	color: #fafafa;
	padding-left: 0px;
	padding-top: 0px;
	height: 50px;
	padding-bottom: 0px;
	font-size: 20pt;
	width: 215px;
	float: right;
	position: relative;
	border-left: 1px solid #8b8b8b;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #5e5e5e;
}

.add_thread:hover {
	background: #fafafa;
	border-left: none;
	border-bottom: 1px solid #5e5e5e;
	color: #5e5e5e;
	cursor: pointer;
}

.button {
	background: #5e5e5e;
	color: #fafafa;
	font-size: 15pt;
	border: none;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}

table {
	border-spacing: 0px;
	table-layout: fixed;
}

#submit_thread_form {
	width: 50%;
	border-right: 1px solid #3f3f3f;
	float: left;
}

#cancel_thread_form {
	width: 50%;
	border-left: 1px solid #8b8b8b;
	clear: left;
}

.new_message_form {
	display: none;
}

.submit_message_form {
	background: #5e5e5e;
	color: #fafafa;
	font-size: 13pt;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	width: 50%;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-right: 1px solid #3f3f3f;
	float: left;
}

.cancel_message_form {
	background: #5e5e5e;
	color: #fafafa;
	font-size: 13pt;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	width: 50%;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #8b8b8b;
	clear: left;
}

.add_message {
	background: #5e5e5e;
	color: #fafafa;
	font-size: 13pt;
	border: none;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
}

.add_message:hover {
	background: #fafafa;
	color: #7e7e7e;
	cursor: pointer;
}

.submit_message_form:hover {
	background: #fafafa;
	color: #7e7e7e;
	border-top: 1px solid #7e7e7e;
	border-bottom: 1px solid #7e7e7e;
	cursor: pointer;
	border-left: none;
	border-right: none;
}

.cancel_message_form:hover {
	background: #fafafa;
	color: #7e7e7e;
	border-top: 1px solid #7e7e7e;
	border-bottom: 1px solid #7e7e7e;
	cursor: pointer;
	border-left: none;
	border-right: none;
}

.button:hover {
	background: #fafafa;
	color: #7e7e7e;
	border-top: 1px solid #7e7e7e;
	border-bottom: 1px solid #7e7e7e;
	cursor: pointer;
	border-left: none;
	border-right: none;
}

.threads_table {
	position: relative;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 15px;
	float: left;
	width: 100%;
}

tr.table_header > * {
	font-size: 15pt;
	font-weight: bold;
	vertical-align: middle;
	float: center;
}

tr.table_header > td {
	padding-left: 5px;
}

.threads_table tr > th {
	width: 25%;
	border-right: 1px solid #7e7e7e;
	vertical-align: top;
	padding: 5px;
	position: relative;
}

td {
	word-wrap: break-word;
}

.threads_table tr > * {
	border-bottom: 1px solid #7e7e7e;
	padding: 0;
}

.threads_table tr > td {
	width: 75%;
	float: left;
	padding-top: 0px;
}

.message_table {
	width: 100%;
	padding-bottom: 10px;
	position: relative;
	float: left;
}

.message_table tr > * {
	border-bottom: 1px solid #7e7e7e;
}

.message_table tr > td {
	width: 100%;
	float: left;
	padding-top: 0px;
	height: auto;
}

.message_divider {
	width: 75%;
}

/*
Remove confusion about table layout in case user enters a horizontal line.
*/	
.message_table hr:not(.message_divider) {
	margin-left: 10px;
}

.message_owner {
	padding-left: 5px;
	padding-top: 5px;
	color: #7e7e7e;
}

.message_body {
	padding-left: 5px;
	padding-bottom: 5px;
}

#new_thread_form {
	display: none;
	padding-bottom: 10px;
}

#new_thread_table {
	position: relative;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 20px;
	clear: both;
	float: left;
}

#new_thread_table tr > * {
	padding-left: 5px;
	padding-top: 5px;
}

