/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.table_container {
	float: middle;
	border: 1px solid #7e7e7e;
	position: relative;
	margin: 30px 10px;
	font-size: 15pt;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	overflow: hidden;
}

.table_title {
	background: #5e5e5e;
	color: #fafafa;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20pt;
}

.field_wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
