/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.table_container {
	float: middle;
	border: 1px solid #7e7e7e;
	position: relative;
	width: 860px;
	margin: 30px auto;
	font-size: 15pt;
	overflow: hidden;
}

.table_title {
	background: #5e5e5e;
	background: linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -moz-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -webkit-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	color: #fafafa;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20pt;
}

.members_table {
	margin: 0;
}

.field_wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
