/*
  Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.threads {
    float: middle;
    border: 1px solid #7e7e7e;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    font-size: 15pt;
    overflow: hidden;
}

.table_header {
    margin: auto;
    background: #5e5e5e;
    color: #fafafa;
    font-size: 20pt;
    height: 50px;
}

label {
	padding-left: 5px;
}

.thread_title {
    padding-left: 10px;
    font-size: 150%;
    margin-top: 0px;
	font-weight: 200;
	margin-bottom: 0px;
}

.btn-success {
	width: 45%;
	margin-left: 10px;
	margin-top: 5px;
}

.btn-warning {
	width: 45%;
	position: absolute;
	right: 10px;
	margin-right: 10px;
	margin-top: 5px;
}

.add_thread {
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}

#submit_thread_form {
    width: 50%;
    border-right: 1px solid #3f3f3f;
    float: left;
}

#cancel_thread_form {
    width: 50%;
    border-left: 1px solid #8b8b8b;
    clear: left;
}

.new_message_form {
    display: none;
}

.threads_table {
    padding: 0px;
}

.thread_name {
    text-align: center;
    margin: 5px auto;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 75%;
    background: #dde;
    border: 1px solid #888;
}

.thread_messages {
    padding-left: 0px;
    padding-right: 0px;
}

#message_divider {
    margin: 0px;
    height: 1px;
    background: #888;
}

.message_row {
    padding-left: 5px;
    padding-right: 5px;
}

.message_row:hover {
    background: #ddf;
}

.message_table {
    padding-bottom: 10px;
}

.message_divider {
    width: 75%;
    margin: 0px;
}
/*
.add_message {
    padding: 0px;
}

/*
  Remove confusion about table layout in case user enters a horizontal line.
  */	
.message_table hr:not(.message_divider) {
    margin-left: 10px;
}

.message_owner {
    color: #7e7e7e;
    font-size: 11pt;
}

.message_body {
    font-size: 13pt;
    word-wrap: break-word;
    overflow-x: auto;
}

.form-group {
	padding-bottom: 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#new_thread_form {
    display: none;
    padding-bottom: 10px;
}

#new_thread_table {
    padding-top: 10px;
    padding-bottom: 20px;
    clear: both;
    float: left;
}

#id_subject {
    margin-bottom: 5px;
    max-width: 75%;
}

.field_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
