/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

#update_profile {
	float: middle;
	border: 1px solid #7e7e7e;
	position: relative;
	width: 800px;
	margin: 30px auto;
	font-size: 15pt;
	overflow: hidden;
}

#change_password {
	float: middle;
	border: 1px solid #7e7e7e;
	position: relative;
	width: 800px;
	margin: 30px auto;
	font-size: 15pt;
	overflow: hidden;
}

.title {
	background: #5e5e5e;
	background: linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -moz-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	background: -webkit-linear-gradient(top, #7e7e7e 0%, #5e5e5e 100%);
	color: #fafafa;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20pt;
}

.fieldWrapper {
	padding-top: 10px;
	position: relative;
	padding-left: 10px;
}

.button {
	background: #5e5e5e;
	color: #fafafa;
	font-size: 15pt;
	border: none;
	width: 100%;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}

.button:hover {
	background: #fafafa;
	color: #7e7e7e;
	border-top: 1px solid #7e7e7e;
	cursor: pointer;
}

.form_table {
	position: relative;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.form_table tr th {
	padding-right: 5px;
	vertical-align: middle;
	position: relative;
}

.form_table tr td ul {
	float: right;
	display: block;
	position: relative;
	overflow: hidden;
}

.form_table tr td ul li {
	color: red;
	display: block;
	padding-left: 3px;
}
