/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

#update_profile {
	border: 1px solid #7e7e7e;
	position: relative;
	margin: 0px auto;
	margin-bottom: 10px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	overflow: hidden;
	width: 100%;	
}

#change_password {
	border: 1px solid #7e7e7e;
	position: relative;
	margin: 0px auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	overflow: hidden;
	width: 100%;
}

.fieldWrapper {
	padding-top: 10px;
	position: relative;
	padding-left: 10px;
}

.form-group {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
}

.btn {
	width: 50%;
	margin-top: 15px;
}

