/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.requests {
    margin-bottom: 10px;
}

label {
	padding-left: 5px;
}

.checkbox {
	margin-left: 10px;
}

.btn-group {
	margin-top: 5px;
}

.form-group {
	padding-bottom: 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.add_request {
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}

.new_response_form {
    display: none;
}

.add_response {
    padding: 0px;
}

.requests_table {
    width: 100%;
}

.requests_row {
    width: 100%;
    color: black;
    overflow: hidden;
}

.request_name {
    text-align: center;
    margin: 5px auto;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 75%;
    background: #e9e9e9;
    border: 1px solid #888;
}

.request_responses {
    padding-left: 0px;
    padding-right: 0px;
}

.response_row {
    padding-left: 5px;
    padding-right: 5px;
}

.response_row:hover {
    background: #e9e9e9;
}

.response_table {
    padding-bottom: 10px;
}

/*
  Remove confusion about table layout in case user enters a horizontal line.
  */	
.response_table hr:not(.main_divider) {
    margin-left: 10px;
}

.response_owner {
    color: #7e7e7e;
    font-size: 11pt;
}

.manager_response {
    background-color: #e6ffe6;
}

.request_owner {
    padding-left: 2px;
    color: #7e7e7e;
    font-size: 11pt;
}

.response_body {
    font-size: 13pt;
    word-wrap: break-word;
    overflow-x: auto;
}

.request_body {
    padding-left: 5px;
    font-size: 13pt;
    word-wrap: break-word;
    overflow-x: auto;
    text-align: left;
}

.new_request_form {
    display: none;
    padding-bottom: 10px;
}
