/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.result_title {
	padding-top: 5px;
	padding-left: 5px;
}

.result_description {
	margin-left: 20px;
	padding-bottom: 5px;
	height: auto;
}

.result_description tr th {
	padding-right: 5px;
}

.response_body {
	font-size: 11pt;
	word-wrap: break-word;
}

th {
	padding-right: 5px;
}
