/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.threads {
    float: middle;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    font-size: 15pt;
    overflow: hidden;
}

.thread_link {
	text-decoration: none;
	color: black;
}

.thread_link:hover {
	color: #7e7e7e;
}

label {
	padding-left: 5px;
}

.btn-group {
	margin-top: 5px;
}

.add_thread {
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}

.new_message_form {
    display: none;
}

.threads_table {
    padding: 0px;
}

.thread_name {
    text-align: center;
    margin: 5px auto;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 75%;
    background: #e9e9e9;
    border: 1px solid #888;
}

.thread_messages {
    padding-left: 0px;
    padding-right: 0px;
}

.message_divider {
    margin: 0px;
    height: 1px;
    background: #888;
}

.message_row {
    padding-left: 5px;
    padding-right: 5px;
}

.message_row:hover {
    background: #e9e9e9;
}

.message_table {
    padding-bottom: 10px;
}

/*
  Remove confusion about table layout in case user enters a horizontal line.
  */	
.message_table hr:not(.message_divider) {
    margin-left: 10px;
}

.message_owner {
    color: #7e7e7e;
    font-size: 11pt;
}

.message_body {
    font-size: 13pt;
    word-wrap: break-word;
    overflow-x: auto;
}

.form-group {
	padding-bottom: 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#new_thread_form {
    display: none;
    padding-bottom: 10px;
}

#id_subject {
    margin-bottom: 5px;
    max-width: 75%;
}
