{% load highlight %}
{% load thread_tags %}
<h3 class="result_title"><a href="{% url 'view_manager' managerTitle=object.url_title %}">{{ object.title }}</a>
	<small>Incumbent: {% if object.incumbent %}
		<a href="{% url 'member_profile' targetUsername=object.incumbent.user.username %}">{{ object.incumbent|display_user:user }}</a>
		{% else %}none{% endif %}
	</small></h3>
{% if object.email %}
<div class="result_description">E-mail: <a title="Write E-mail" href="mailto:{{ object.email }}">{{ object.email }}</a></div>
{% elif object.incumbent.email_visible and object.incumbent.user.email %}
<div class="result_description">
	<span title="No e-mail address for this manager in database.  This is the incumbent's personal e-mail address.">Personal E-mail:</span>
	<a title="Write E-mail" href="mailto:{{ object.incumbent.user.email }}">{{ object.incumbent.user.email }}</a>
</div>
{% endif %}
{% if object.incumbent.phone_visible and object.incumbent.phone_number %}
<div class="result_description">Personal Phone: {{ object.incumbent.phone_number }}</div>
{% endif %}
<div class="result_highlight">{% highlight result.text with query %}</div>
