{% load highlight %}
<h3 class="result_title"><small>{% if result.object.request.filled %}Filled{% elif result.object.request.closed %}Closed{% elif result.object.request.open %}Open{% elif result.object.request.expired %}Expired{% endif %}</small>
	<a href="{% url 'managers:view_request' request_pk=result.object.request.pk %}">{{ result.object.request.request_type.name }} Request</a>
	<small>Response to request</small>
</h3>
<div class="result_highlight">{% highlight result.text with query %}</div>
