{% load workshift_tags %}
<h3 class="result_title">
  <a href="{{ result.object.get_view_url }}">{{ result.object }}</a>
  <small>
    Regular Workshift
  </small>
</h3>
<dl class="result_description dl-horizontal">
  <dt>
    Workshift Type
  </dt>
  <dd>
    <a href="{{ result.object.workshift_type.get_view_url }}">
      {{ result.object.workshift_type.title }}
    </a>
  </dd>
  <dt>
    Workshift Pool
  </dt>
  <dd>
    <a href="{{ result.object.pool.get_view_url }}">
      {{ result.object.pool }}
    </a>
  </dd>
  <dt>
    Hours
  </dt>
  <dd>
    {{ result.object.hours }}
    &nbsp;
  </dd>
  {% if result.object.current_assignees.count > 0 %}
  <dt>
    Assignees
  </dt>
  <dd>
    {% for assignee in result.object.current_assignees.all %}{% if forloop.counter > 1 %},
    {% endif %}<a href="{{ assignee.get_view_url }}">{{ assignee.get_full_name }}</a>{% endfor %}
  </dd>
  {% endif %}
  <dt>Time</dt>
  <dd>
    {{ result.object.get_time_range }}
    &nbsp;
  </dd>
</dl>
