<h3 class="result_title"><a href="{% wurl 'workshift:view_semester' sem_url=object.sem_url %}">{{ object }}</a>
    <small>{% if object.current %}Current{% else %}Past{% endif %}
Workshift Semester</small></h3>
<dl class="result_description dl-horizontal">
    <dt>Policy</dt>
    <dd>{% if object.policy %}<a
        href="{{ object.policy }}">{{ object.policy }}</a>{% else %}&nbsp;{% endif %}</dd>
    <dt>Workshift Managers</dt>
    <dd>{% for user in object.workshift_managers %}<a
        href="{% url 'member_profile' targetUsername=user.username %}">{{ user.get_full_name }}</a><br />{% empty %}&nbsp;{% endfor %}</dd>
    <dt>Workshift Rate</dt>
    <dd>{{ object.display_rate }}</dd>
    <dt>Start Date</dt>
    <dd>{{ object.start_date }}&nbsp;</dd>
    <dt>End Date</dt>
    <dd>{{ object.end_date }}&nbsp;%</dd>
</dl>
