{% load thread_tags %}
<h3 class="result_title"><a href="{% wurl 'workshift:profile' sem_url=result.object.semester.sem_url targetUsername=result.object.get_user %}">{{ result.object }}</a>
    <small>Workshift Profile</small></h3>
<dl class="result_description dl-horizontal">
    <dt>User Profile</dt>
    <dd><a href="{% url 'member_profile' targetUsername=result.object.get_user %}">{{ result.object.get_full_name }}</a></dd>
    {% for hours in result.object.pool_hours %}
        <dt>{{ hours.pool }} Standing</dt>
        <dd>{{ hours.standing }}&nbsp;</dd>
    {% endfor %}
</dl>
