{% load workshift_tags %}
<h3 class="result_title">
  <a href="{{ result.object.get_view_url }}">{{ result.object }}</a>
  <small>
    Workshift Profile
  </small>
</h3>
<dl class="result_description dl-horizontal">
  {% for hours in result.object.pool_hours.all %}
  <dt>
    <a href="{{ hours.pool.get_view_url}}">
      {{ hours.pool }}
    </a>
    &nbsp;
  </dt>
  <dd>
    <span class="text-{% if hours.standing >= 0 %}success{% else %}danger{% endif %}">
      {{ hours.standing }}
    </span>
    &nbsp;
  </dd>
  {% endfor %}
</dl>
