{% load highlight %}
{% load thread_tags %}
<h4 class="result_title"><a href="{% url 'view_manager' managerTitle=result.object.url_title %}">{{ result.object.title }}</a> <small>Incumbent: {% if result.object.incumbent %}<a href="{% url 'member_profile' targetUsername=result.object.incumbent.user.username %}">{{ result.object.incumbent|display_user:user }}</a>{% else %}none{% endif %}</small></h4>
{% if result.object.email %}
<div class="result_description">E-mail: <a title="Write E-mail" href="mailto:{{ result.object.email }}">{{ result.object.email }}</a></div>
{% elif result.object.incumbent.email_visible and result.object.incumbent.user.email %}
<div class="result_description"><span title="No e-mail address for this manager in database.  This is the incumbent's personal e-mail address.">Personal E-mail:</span> <a title="Write E-mail" href="mailto:{{ result.object.incumbent.user.email }}">{{ result.object.incumbent.user.email }}</a></div>
{% endif %}
{% if result.object.incumbent.phone_visible and result.object.incumbent.phone_number %}
<div class="result_description">Personal Phone: {{ result.object.incumbent.phone_number }}</div>
{% endif %}
