{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap %}
{% block template_page_name %} - Search{% endblock %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/search.css' %}" />
{% endblock %}
{% block content %}
{% if not query %}
<form id="search_form" method="get" action=".">
	{{ form|bootstrap }}
	<div class="text-center">
	<button class="btn btn-lg btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
	</div>
{% else %}
<div class="table_container">
<div class="header">
	<form style="display: inline-block; position: relative; top: -3px; float: right; margin-right: 2px;" action="{% url 'haystack_search' %}">
	<button type="submit" class="btn btn-default">New Search</button>
	</form>
	<h3 class="table_title">Search: "{{ query }}"</h3>
</div>
<div class="results_container">
{% for result in page.object_list %}
{% if forloop.counter > 1 %}
<hr class="main_divider" />
{% endif %}
<div class="hover_row">
{% if result.object.is_userprofile %}
	{% include "search/userprofile.html" %}
{% elif result.object.is_thread %}
	{% include "search/thread.html" %}
{% elif result.object.is_message %}
	{% include "search/message.html" %}
{% elif result.object.is_manager %}
	{% include "search/manager.html" %}
{% elif result.object.is_request %}
	{% include "search/request.html" %}
{% elif result.object.is_response %}
	{% include "search/response.html" %}
{% elif result.object.is_announcement %}
	{% include "search/announcement.html" %}
{% elif result.object.is_event %}
	{% include "search/event.html" %}
{% endif %}
</div> <!-- .hover_row -->
{% empty %}
	<div class="field_wrapper">No results found.</div>
{% endfor %}

{% if page.has_previous or page.has_next %}
	<div class="text-center">
	{% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
	|
	{% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
	</div> <!-- text-center" -->
{% endif %}
{% endif %}
</div> <!-- .results_container -->
</div> <!-- .table_container -->
</form>
{% endblock %}
