{% extends "base.html" %}

{% load static from staticfiles %}
{% load request_tags %}

{% block content %}
{% if page_name == 'Archives - All Threads' %}
    <form action="{% url 'all_threads' %}" class="pull-right">
    <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-fullscreen"></span><span class="hidden-xs"> Expanded View</span></button>
    </form>
{% elif page_name == 'My Threads' %}
    <form action="{% url 'my_threads' %}" class="pull-right">
    <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-fullscreen"></span><span class="hidden-xs"> Expanded View</span></button>
    </form>
{% elif targetUsername %}
    <form action="{% url 'member_profile' targetUsername=targetUsername %}" class="pull-right">
    <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-user"></span><span class="hidden-xs"> {{ targetUsername }}'s Profile</span></button>
    </form>
{% endif %}
<h1 class="w_title">{{ page_name }}</h1>
<hr class="w_line" />
  {% if not threads %}
  <div class="field_wrapper text-info">No threads found.</div>
  {% else %}
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
    <th>Subject</th>
    {% if page_name == 'Archives - All Threads' %}<th>Progenitor</th>{% endif %}
    <th>Replies</th>
    <th>Posted</th>
    <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for thread in threads %}
      <tr>
    <td><a title="View Thread" class="page_link" href="{% url 'view_thread' thread_pk=thread.pk %}">{% if page_name == 'Archives - All Threads' %}{{ thread.subject|truncatechars:40 }}{% else %}{{ thread.subject|truncatechars:60 }}{% endif %}</a></td>
    {% if page_name == 'Archives - All Threads' %}<td><a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=thread.owner.user.username %}" title="View Profile">{{ thread.owner.user.first_name }} {{ thread.owner.user.last_name }}</a></td>{% endif %}
    <td>{{ thread.number_of_messages|add:"-1" }}</td>
    <td>{{ thread.start_date|date:"m/d/Y, h:i A" }}</td>
    <td>{{ thread.change_date|date:"m/d/Y, h:i A" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if threads.count > 10 %}
    {% with id_prefix="thread" %}
        {% include "pager.html" %}
    {% endwith %}
  {% elif threads.count %}
    <div class="text-center text-info" style="margin-top: 10px;">
        {{ threads.count }} thread{{ threads|pluralize }} in total.
    </div>
  {% endif %}
  {% endif %}
{% endblock %}

{% block endscripts %}
<script>
$(document).ready(function() {
    $('table').tablesorter({
        {% if page_name == 'Archives - All Threads' %}
        headers: {
            3: {
                sorter: 'farnsworth_datetime',
            },
            4: {
                sorter: 'farnsworth_datetime',
            }
        },
        sortList: [[4,1], [3,1]],
        {% else %}
        headers: {
            2: {
                sorter: 'farnsworth_datetime',
            },
            3: {
                sorter: 'farnsworth_datetime',
            }
        },
        sortList: [[3,1], [2,1]],
        {% endif %}
        widgets: ["filter", "resizable"],
        widgetOptions: {
            resizable: true
        }
    }).tablesorterPager({
       container: "#thread_pager",
       cssGoto: '#thread_goto'
    });
});
</script>
{% endblock %}
