{% extends "base.html" %}

{% load static from staticfiles %}
{% load thread_tags %}
{% load bootstrap %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/threads.css' %}" />
{% endblock %}

{% block content %}
<div class="">
  <div class="pull-right">
	{% if follow_form %}
	<form method="POST">
	  [% csrf_token %}
	  {{ follow_form|bootstrap }}
	  <button class="btn header_button" name="follow_thread" type="submit">
		{% if following %}
		<span class="glyphicon glyphicon-minus-sign"></span>
		<span class="hidden-xs"> Unfollow</span>
		{% else %}
		<span class="glyphicon glyphicon-plus-sign"></span>
		<span class="hidden-xs"> Follow</span>
		{% endif %}
	  </button>
	</form>
	{% endif %}
	<form action="{% url 'threads:list_all_threads' %}">
      <button class="btn btn-info header_button" type="submit">
		<span class="glyphicon glyphicon-comment"></span>
		<span class="hidden-xs"> Member Forums</span>
	  </button>
	</form>
  </div>
  <h1 class="w_title">View Thread</h1>
  <hr class="w_line" />
  {% if not thread %}
  <div class="field_wrapper text-warning">
	Thread not found.
  </div>
  {% else %}
  <div class="thread_table bordered_div">
    <div class="thread_messages">
      <div class="message_table">
		<h3 class="thread_name">{{ thread.subject }}</h3>
		{% for message, forms in messages_list %}
		{% if forloop.counter > 1 %}
		<hr class="main_divider" />
		{% endif %}
		<div class="message_row">
		  <div class="message_owner">
			<a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=message.owner.user.username %}" >
			  {{ message.owner|display_user:user }}
			</a> ({{ message.post_date }}):
		  </div>
		  <div class="message_body">{{ message.body|safe }}</div>
		</div> <!-- message_row -->
		{% for form in forms %}
		{% if form %}
		<form class="{{ form.label }}_message_form" id="{{ form.label }}_message_form_{{ message.pk }}" method="post">
		  {% csrf_token %}
		  {{ form|bootstrap }}
		  <div class="text_center">
			<div class="btn-group">
              <button type="submit" class="btn btn-{{ form.button }}" name="{{ form.label }}_message">
				<span class="glyphicon glyphicon-{{ form.glyph }}"></span> {{ form.display }}
			  </button>
              <button type="button" class="btn btn-default" name="cancel_message" onclick="hide_new_message_form('{{ form.label }}_message_form_{{ message.pk }}', 'show_{{ form.label }}_{{ message.pk }}')">
				<span class="glyphicon glyphicon-collapse-up"></span> Hide
			  </button>
			</div>
		  </div>
		</form>
		{% endif %}
		{% endfor %}
		{% endfor %}
		<div class="text-center">
		  <button class="btn btn-primary" type="button" id="show_form" onclick="show_new_message_form('add_message_form', 'show_form')">
			<span class="glyphicon glyphicon-paperclip"></span> Add Message
		  </button>
		</div>
		{% if add_mesage_form %}
		<form class="new_message_form" id="add_message_form" method="post">
          {% csrf_token %}
          {{ add_mesage_form|bootstrap }}
          <div class="text-center">
            <div class="btn-group">
              <button type="submit" class="btn btn-success" name="add_message">
				<span class="glyphicon glyphicon-comment"></span> Post
			  </button>
              <button type="button" class="btn btn-default" name="cancel_message_form" onclick="hide_new_message_form('add_message_form', 'show_form')">
				<span class="glyphicon glyphicon-collapse-up"></span> Hide
			  </button>
            </div> <!-- .btn-group -->
          </div> <!-- .text-center -->
        </form>
		{% endif %}
      </div> <!-- message_table -->
    </div> <!-- thread_messages -->
  </div> <!-- thread_table -->
  {% endif %}
</div>
<div class="text-center text-info" style="margin-top: 10px;">
  Showing {{ messages_list|length }} message{{ messages_list|length|pluralize }}.
  Viewed {{ thread.views }} time{{ thread.views|pluralize }}.
</div>
{% endblock %}

{% block endscripts %}
<script>
  function show_new_message_form(message_form_id, button_id) {
    document.getElementById(message_form_id).style.display="inline";
    document.getElementById(button_id).style.display="none";
  }
  function hide_new_message_form(message_form_id, button_id) {
    document.getElementById(message_form_id).style.display="none";
    document.getElementById(button_id).style.display="inline";
  }
</script>
{% endblock %}
