/*
  Project: Farnsworth

Author: Karandeep Singh Nagra
*/

* {
    font-family: 'Source Sans Pro', Tahoma, sans-serif;
    font-weight: 400;
}

.navbar_custom {
    background-color: #5e5e5e !important;
    border-color: #e7e7e7 !important;
}

.navbar_custom .navbar-brand {
    color: #dddddd !important;
}

.navbar_custom .navbar-brand:hover {
    color: #ffffff !important;
}

.navbar_custom .dropdown-toggle {
    color: #dddddd !important;
}

.navbar_custom .dropdown-toggle:hover {
    color: #ffffff !important;
}

.navbar_custom .navbar-right > li > a {
    color: #dddddd !important;
}

.navbar_custom .navbar-right > li > a:hover {
    color: #ffffff !important;
}
@media only screen and (max-width: 766px) {
    .navbar_custom .navbar-nav .open .dropdown-menu > li > a {
        color: #dddddd !important;
    }

    .navbar_custom .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #ffffff !important;
    }

    .navbar_custom .navbar-nav .open .dropdown-menu > .dropdown-header {
        color: #bbbbbb !important;
    }
}

#page_title {
    color: black;
    font-size: 400%;
    font-weight: 200;
    margin: 0;
}

#page_title small {
    font-weight: 200;
}

#small_page_title {
    color: black;
    font-size: 600%;
    font-weight: 300;
    margin: 0;
}

.sub_title {
    color: black;
    font-size: 250%;
    font-weight: 300;
}

.sub_title small {
    font-weight: 300;
}

.sub_subtitle {
    color: black;
    font-size: 125%;
    font-weight: 300;
}

html {
    position: relative;
    height: 100%;
}

#html_body {
    min-height: 100%;
    height: auto;
    width: 100%;
    position: relative;
}

.navbar-static-top {
    margin-bottom: 19px;
}

#search_bar {
    padding-right: 0px;
}

#body {
    padding-bottom: 50px;
    overflow-x: auto;
}

#title {
    float: center;
    width: 100%;
}

#content {
    clear: both;
}

#bottom {
    color: #9c9c9c;
    font-size: 10pt;
    position: absolute;
    bottom: 0px;
    clear: both;
    width: 100%;
    height: 40px;
    overflow: auto;
    padding-top: 19px;
}


.footer_link {
    color: #7e7e7e;
    font-weight: 400;
    text-decoration: none;
}

a.footer_link:hover {
    color: black;
    font-style: bold;
}

.form-group {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

form > .form-group {
    margin-bottom: 15px;
}

.field_wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.w_title {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
}

.w_subtitle {
    font-weight: 300;
    margin-top: 0px;
}

.bordered_div {
    border: 1px solid #e7e7e7;
    /*box-shadow: 0px 0px 4px rgba(0,0,0,0.25);*/
}

.w_line {
    margin-top: 2px;
    margin-bottom: 5px;
}

.line_75 {
    text-align: center;
    width: 75%;
}

.centered_table {
    margin: 0px auto;
}

.main_form {
    display: none;
}

.main_link {
    color: #a9a9a9;
    border: none;
    background: none;
    font-size: 14px;
}

.main_link:hover {
    text-decoration: underline;
}

.main_link:focus {
    outline: none;
}

.main_link:active {
    outline: none;
}

.warning_link:hover {
    color: #8a6d3b;
}

.success_link:hover {
    color: #3c763d;
}

.info_link:hover {
    color: #31708f;
}

.danger_link:hover {
    color: #a94442;
}

.primary_link:hover {
    color: #428bca;
}

.bg-expired {
    background-color: #e9e9e9;
}

.expired > td{
    background-color: #e9e9e9 !important;
}

.expired:hover > td {
    background-color: #e0e0e0 !important;
}

.main_divider {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #dedede;
}

.hover_row {
    overflow: auto;
}

.hover_row:hover {
    background: #e9e9e9;
}

.btn-group {
    min-width: 60%;
}

.btn-group .btn {
    width: 50%;
}

.btn:focus {
    outline: none !important;
}

.btn:active {
    outline: none !important;
}

.vote_list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
}

pre {
    font-family: "Source Code Pro", "Courier New", monospace;
}

code {
    font-family: "Source Code Pro", "Courier New", monospace;
}

.tablesorter-filter-row td {
    padding: 0px 0px !important;
}
