/*
  Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.table_container {
	margin-bottom: 10px;
}

#residents_table {
    margin: 0px;
}

#boarders_table { 
    margin: 0px;
}

#alumni_table {
    margin: 0px;
}
