/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.pages_list {
	list-style-type: none;
	padding-left: 40px;
	padding-bottom: 10px;
}

.pages_list li {
	display: block;
	padding-top: 5px;
	font-size: 13pt;
}

.list_container {
	margin-bottom: 10px;
}
