/*
Project: Farnsworth

Author: Karandeep Singh Nagra
*/

.utilities_list {
	list-style-type: none;
	padding-left: 20px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.utilities_list li {
	display: block;
	padding-top: 5px;
	font-size: 13pt;
}
