{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_headers %}
<script type="text/javascript" src="{% static 'jquery/jquery-1.11.0.min.js' %}"></script>
<style>
    table tbody tr td div label {
        display: none;
    }
</style>
{% endblock %}

{% block w_content %}
<div class="instance_container">
  <h1 class="w_title">Add Workshifter</h1>
  {% if add_workshifter_forms %}
  <form method="post" action="">
	{% csrf_token %}
	<table>
	  <tbody>
		{% for form in add_workshifter_forms %}
		<tr>
		  <td>{{ form.add_profile|bootstrap }}</td>
		  <td>{{ form.hours|bootstrap }}</td>
		  <td>{{ form.user.get_full_name }}</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
	<button type="submit" class="btn btn-success">Add Workshifters</button>
  </form>
  {% else %}
  <p>Everyone in the database already has a workshift profile for this semester!</p>
  {% endif %}
</div>
{% endblock %}
