{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_headers %}
{% endblock %}

{% block w_content %}
<div class="instance_container">
  <h1 class="w_title">Add Workshifter</h1>
  {% if add_workshifter_form %}
  <form method="post" action="">
	{% csrf_token %}
	{{ add_workshifter_form|bootstrap }}
	<button type="submit" class="btn btn-success">Add Workshifter</button>
  </form>
  {% else %}
  <p>Everyone in the database already has a workshift profile for this semester!</p>
  {% endif %}
</div>
{% endblock %}
