{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_headers %}
<style>
    table tbody tr td div label {
        display: none;
    }
    .checkbox label span {
        display: none;
    }
</style>
{% endblock %}

{% block w_content %}
<div class="instance_container">
  <h1 class="w_title">Add Workshifter</h1>
  <hr class="w_line" />
  {% if add_workshifter_forms %}
  <form method="post" action="">
    {% csrf_token %}
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Add</th>
          <th>Full Name</th>
          <th>Workshift Hours</th>
        </tr>
      </thead>
      <tbody>
        {% for form in add_workshifter_forms %}
        <tr>
          <td>
			{{ form.add_profile|bootstrap }}
		  </td>
          <td style="vertical-align: middle;">
			<a href="{{ form.user.get_view_url }}">
			  {{ form.user.get_full_name }}
			</a>
		  </td>
          <td>
			{{ form.hours|bootstrap }}
		  </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-center field_wrapper">
      <button type="submit" class="btn btn-success">Add Workshifters</button>
    </div>
  </form>
  {% else %}
  <div class="field_wrapper text-info">Every resident and boarder already has a workshift profile for this semester!</div>
  {% endif %}
</div>
{% endblock %}

{% block w_endscripts %}
<script>
    $(document).ready(function(){
        $('div.form-group').css('margin', 0);
    })
</script>
{% endblock %}
