{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
{% endblock %}

{% block w_content %}
{% if add_instance_form %}
<form method="post" action="" name="add_instance">
  {% csrf_token %}
  {{ add_instance_form|bootstrap }}
  <button type="submit" class="btn btn-success">Create Single Workshift</button>
</form>
{% endif %}
{% if add_shift_form %}
<form method="post" action="" name="add_shift">
  {% csrf_token %}
  {{ add_shift_form|bootstrap }}
  <button type="submit" class="btn btn-success">Create Regular Workshift</button>
</form>
{% endif %}
{% if add_type_form %}
<form method="post" action="" name="add_type">
  {% csrf_token %}
  {{ add_type_form|bootstrap }}
  <button type="submit" class="btn btn-success">Create Workshift Type</button>
</form>
{% endif %}
{% endblock %}
