{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_headers %}
<style>
    .assign_row td div label {
        display: none;
    }
</style>
{% endblock %}

{% block w_content %}
<div id="assign_container">
  <h1 class="w_title">{{ page_name }}</h1>
  <hr class="w_line" />
  {% if auto_assign_form %}
  <form method="post">
    {% csrf_token %}
	{{ auto_assign_form|bootstrap }}
    <div class="text-center">
      <button type="submit" class="btn btn-primary" name="auto_assign">
		Auto assign shifts
      </button>
    </div>
  </form>
  {% endif %}
  <hr class="w_line" />
  <h3 class="w_title">Assign individual shifts</h3>
  <form method="post">
    {% csrf_token %}
    <table id="assign_shifts_table" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Title</th>
		  <th>Time</th>
          <th>Workshifter</th>
        </tr>
      </thead>
      <tbody>
        {% for form in assign_forms %}
        <tr class="assign_row">
          <td><a href="{% wurl 'workshift:view_shift' pk=form.instance.pk sem_url=SEMESTER.sem_url %}">{{ form.instance.workshift_type.title }}</td>
		  <td>{{ form.instance.display_time }}</td>
          <td>{{ form.current_assignees|bootstrap }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
	<div class="text-center">
	  <button type="submit" class="btn btn-success" name="individual_assign">
	    Assign Shifts
	  </button>
	</div>
  </form>
</div> <!-- #assign_container -->
{% endblock %}
