{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}

{% block w_content %}
<div class="shift_container">
  <h1 class="w_title">{{ page_name }}</h1>
  <hr class="w_line" />
  <form method="post" action="">
    {% csrf_token %}
    {{ edit_form|bootstrap }}
    <div class="text-center">
      <div class="btn-group">
        <button type="submit" class="btn btn-success" name="edit"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
        <button type="submit" class="btn btn-danger" name="delete"><span class="glyphicon glyphicon-fire"></span> Delete</button>
      </div> <!-- .btn-group -->
    </div> <!-- .text-center -->
  </form>
</div> <!-- .shift_container -->
{% endblock %}

{% block w_endscripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'ui/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
  function renewDatePickers(row) {
    $("[id$=time]", row || null).datetimepicker({pickDate: false});
  };
  $(document).ready(function() {
    renewDatePickers();
  });
</script>
{% endblock %}
