{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_headers %}
<style>
    .pool_row td {
        padding-right: 5px;
        padding-bottom: 5px;
        border-top: none !important;
        border-bottom: 1px solid #e4e4e4;
    }
    .pool_row td div {
        margin: 0px;
    }
    .pool_row td div label {
        display: none;
    }
</style>
{% endblock %}

{% block w_content %}
<h1 class="w_title">{{ page_name }}</h1>
<hr class="w_line" />
<form mehtod="post">
  {% csrf_token %}
  {% if note_form %}
  {{ note_form|bootstrap }}
  {% endif %}

  {% if pools_tuples and note_form %}
  <br class="w_line" />
  {% endif %}

  {% if pools_tuples %}
  <table>
    <thead>
      <tr>
	<th>Pool</th>
	<th>Regular Hourly Requirement</th>
	<th>Hour Adjustment</th>
      </tr>
    </thead>
    <tbody>
      {% for pool_hours, form in pools_tuples %}
      <tr class="pool_row">
	<td>{{ pool_hours.pool.title }}</td>
	<td>{{ form.hours|bootstrap }}</td>
	<td>{{ form.hour_adjustment|bootstrap }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <button type="submit" class="btn btn-success">
    <span class="glyphicon glyphicon-floppy-disk"></span> Save
  </button>
</form>
{% endblock %}
