{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}

{% block w_headers %}
<style>
 .shifts_formset_row td {
     padding-right: 5px;
     padding-bottom: 5px;
     border-top: none !important;
     border-bottom: 1px solid #e4e4e4;
 }
 .shifts_formset_row td div {
     margin: 0px;
 }
 .shifts_formset_row td div label {
     display: none;
 }
</style>
{% endblock %}

{% block w_content %}
<div class="type_container">
  <h1 class="w_title">{{ page_name }}</h1>
  <form method="post">
    {% csrf_token %}
	{% if edit_form %}
    {{ edit_form|bootstrap }}
	{% endif %}
	{% if shifts_formset %}
    <table id="shifts" class="table table-condensed table-striped"
		   border="0" cellpadding="0" cellspacing="0">
      <thead>
		<tr>
		  <th>Pool</th>
		  <th>Day</th>
		  <th>Count</th>
		  <th>Hours</th>
		  <th>Start Time</th>
		  <th>End Time</th>
		</tr>
      </thead>
      <tbody>
		{% for form in shifts_formset.forms %}
		{{ form.id }}
		<tr class="shifts_formset_row">
		  <td>
		    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
		    {{ form.pool|bootstrap }}
		  </td>
		  <td>{{ form.day|bootstrap }}</td>
		  <td>{{ form.count|bootstrap }}</td>
		  <td>{{ form.hours|bootstrap }}</td>
		  <td>{{ form.start_time|bootstrap }}</td>
		  <td>{{ form.end_time|bootstrap }}</td>
          <td style="vertical-align: middle;"></td>
		</tr>
		{% endfor %}
      </tbody>
    </table>
    {{ shifts_formset.management_form }}
	<p class="help-block">
	  Note: All open instances of this workshift will be remove and replaced if
	  you save your edits. This means that members who have signed into or out
	  of their shifts will need to repeat that action.
	</p>
	{% endif %}
    <div class="text-center">
      <div class="btn-group">
        <button type="submit" class="btn btn-success" name="edit">
		  <span class="glyphicon glyphicon-floppy-disk"></span> Save
		</button>
        <button type="submit" class="btn btn-danger" name="delete">
		  <span class="glyphicon glyphicon-fire"></span> Delete
		</button>
      </div> <!-- .btn-group -->
    </div> <!-- .text-center -->
  </form>
</div> <!-- .type_container -->
{% endblock %}

{% block w_endscripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'ui/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
 function renewDatePickers(row) {
   $("[id$=time]", row || null).datetimepicker({
     pickDate: false,
     pick12HourFormat: true,
   });
 };
 $(document).ready(function() {
   $(function() {
     $(".shifts_formset_row").formset({
       prefix: "{{ shifts_formset.prefix }}",
       added: renewDatePickers,
     });
     renewDatePickers();
   });
 });
</script>
{% endblock %}
