{% extends "base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
{% endblock %}

{% block content %}
<div class="table_container">
  <p>{{ shift.pool.title }}</p>
  <form method="post" action="edit_shift">
	{{ csrf_token }}
	{{ edit_form|bootstrap }}
  </form>
  <table>
	<thead>
	  <tr>
		<th>Time</th>
		<th>Entry</th>
		<th>Note</th>
	  </tr>
	</thead>
	<tbody>
	  {% for log in shift.shift_log.all %}
	  <tr>
		<td>{{ log.entry_time }}</td>
		<td><a href="{% url 'workshift:profile' log.person.pk %}">{{ log.person.user.get_full_name }}</a>
		  {% if log.entry_type == 'A' %}
		  was assigned to this shift.
		  {% elif log.entry_type == 'B' %}
		  marked this shift as blown.
		  {% elif log.entry_type == 'I' %}
		  signed into this shift.
		  {% elif log.entry_type == 'O' %}
		  signed out of this shift.
		  {% elif log.enty_type == 'V' %}
		  verified that this shift was completed.
		  {% endif %}</td>
		<td>{{ log.note }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
</div> <!-- .table_container -->
{% endblock %}
