{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}

{% block w_headers %}
{% endblock %}

{% block w_content %}
<div class="type_container">
  <h1 class="w_title">{{ page_name }}</h1>
  <form method="post" action="">
	{% csrf_token %}
	{{ edit_form|bootstrap }}
	<button type="submit" class="btn btn-success" name="edit">Edit</button>
	<button type="submit" class="btn btn-danger" name="delete"><span class="glyphicon glyphicon-fire"></span> Delete</button>
  </form>
</div> <!-- .instance_container -->
{% endblock %}
