{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_headers %}
{% endblock %}

{% block w_content %}
<div id="manage_container">

  <div>
	<h4>Links</h4>
	<ul>
	  <li><a href="{% wurl 'workshift:add_shift' semester=SEMESTER.sem_url %}">Add Shift</a></li>
	  <li><a href="{% wurl 'workshift:assign_shifts' semester=SEMESTER.sem_url %}">Assign Shifts</a></li>
	  <li><a href="{% wurl 'workshift:add_workshifter' semester=SEMESTER.sem_url %}">Add Workshifter</a></li>
	</ul>
  </div>

  {% for pool_form in pool_forms %}
  {% if not forloop.first %}
  <br/>
  {% endif %}
  <form method="post" action="">
	{% csrf_token %}
	{{ pool_form|bootstrap }}
	<button type="submit" class="btn btn-success" name="edit_pool">Edit Workshift Pool</button>
  </form>
  {% endfor %}

  {% if add_instance_form %}
  <br/>
  <form method="post" action="">
	{% csrf_token %}
	{{ add_instance_form|bootstrap }}
	<button type="submit" class="btn btn-success" name="add_instance">Add Workshift</button>
  </form>
  {% endif %}

  {% if workshifters %}
  <br/>

  <table class="table table-striped table-bordered table-condensed table-hover members_table" id="workshifters_table">
	<thead>
	  <tr>
		<th>Workshifter</th>
		<th>Contact</th>
		<th>Standing</th>
	  </tr>
	</thead>
	<tbody>
	  {% for workshifter, pool_hours in workshifters %}
	  <tr>
		<td><a href="{% wurl 'workshift:profile' sem_url=SEMESTER.sem_url targetUsername=workshifter.user.username %}">{{ workshifter.user.get_full_name }}</td>
		<td><a href="mailto:{{ workshifter.user.email }}">{{ workshifter.user.email }}</a></td>
		<td>
		  {% for hours in pool_hours %}{% if not forloop.first %}, {% endif %}
		  {{ hours.pool.title }} - {% if 0 > hours.standing %}<font color="red">{% else %}<font color="green">{% endif %}{{ hours.standing }}</font>{% endfor %}
		</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
  {% endif %}
</div> <!-- #manage_container -->
{% endblock %}

{% block endscripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'ui/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
  $("[id$=date]").datetimepicker({pickTime: false});
  $("[id$=time]").datetimepicker({pickDate: false});
</script>
{% endblock %}
