{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_headers %}
<link type="text/css" rel="stylesheet" href="{% static 'jquery/tablesorter-master/css/theme.default.css' %}" />
{% endblock %}

{% block w_content %}
<div id="manage_container">
  <h1 class="w_title">Manage Workshifts</h1>

  {% if pools %}

  <table class="table table-striped table-bordered table-condensed table-hover members_table" id="pools_table">
	<thead>
	  <tr>
		<th>Workshift Pool</th>
		<th>Managers</th>
		<th>Hours</th>
	  </tr>
	</thead>
	<tbody>
	  {% for pool in pools %}
	  <tr>
		<td><a href="{% wurl 'workshift:view_pool' pk=pool.pk sem_url=SEMESTER.sem_url %}">{{ pool.title }}</a></td>
		<td>
		  {% if pool.managers.count %}
		  {% for pos in pool.managers.all %}
		  {% if not forloop.first %}, {% endif %}
		  <a {% if pos.active %}title="View Details" href="{% url 'view_manager' managerTitle=pos.url_title %}"{% else %}title="This position is not active. Click to edit." class="text-muted" href="{% url 'edit_manager' managerTitle=pos.url_title %}"{% endif %}><span class="glyphicon glyphicon-tower"></span> {{ pos.title }}</a>
		  {% if pos.incumbent %}
		  (<a title="View Profile" href="{% url 'member_profile' targetUsername=pos.incumbent.user.username %}">{{ pos.incumbent }}</a>)
		  {% else %}
		  <span title="There is currently no incumbent for this position." class="text-danger">(No incumbent)</span>
		  {% endif %}
		  {% endfor %}
		  {% endif %}
		</td>
		<td>{{ pool.show_hours }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
  {% endif %}

  {% if workshifters %}
  <br/>

  <table class="table table-striped table-bordered table-condensed table-hover members_table" id="workshifters_table">
	<thead>
	  <tr>
		<th>Workshifter</th>
		<th>E-mail</th>
		<th>Standing</th>
	  </tr>
	</thead>
	<tbody>
	  {% for workshifter, pool_hours in workshifters %}
	  <tr>
		<td><a href="{% wurl 'workshift:profile' sem_url=SEMESTER.sem_url targetUsername=workshifter.user.username %}">{{ workshifter.user.get_full_name }}</td>
		<td><a href="mailto:{{ workshifter.user.email }}">{{ workshifter.user.email }}</a></td>
		<td>
		  {% for hours in pool_hours %}{% if not forloop.first %}, {% endif %}
		  <a href="{% wurl 'workshift:view_pool' pk=hours.pool.pk sem_url=SEMESTER.sem_url %}">{{ hours.pool.title }}</a>: {% if 0 > hours.standing %}<font color="red">{% else %}<font color="green">{% endif %}{{ hours.standing }}</font>{% endfor %}
		</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
  {% endif %}
</div> <!-- #manage_container -->
{% endblock %}

{% block w_endscripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'ui/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
  $("[id$=date]").datetimepicker({pickTime: false});
  $("[id$=time]").datetimepicker({pickDate: false});
  $(document).ready(function() {
    $('table').tablesorter({
        sortList: [[0,0]]
    });
  });
</script>
{% endblock %}
