{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_content %}
<h1 class="w_title">{{ page_name }}</h1>
<hr class="w_line" />
{% if shift_tuples %}
<div class="workshift_table">
  <table class="workshift_inner table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
		<th>Preferred</th>
		<th>Date</th>
        <th>Title</th>
		<th>Starts</th>
		<th>Ends</th>
        <th>Hours</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for instance, forms, preferred in instance_tuples %}
      <tr class="{% if instance.blown %}danger{% elif instance.closed %}success{% elif instance.liable %}warning{% elif not instance.workshifter %}info{% endif %}">
		<td>{% if preferred %}preferred{% endif %}</td>
		<td>{{ instance.date }}</td>
        <td>
          <a href="{{ instance.get_view_url }}">
			{{ instance.title }}
		  </a>
        </td>
		<td>
		  {{ instance.get_start_time }}
		</td>
		<td>
		  {{ instance.get_end_time }}
		</td>
        <td>
          {% if instance.intended_hours == instance.hours %}
          {{ instance.hours }}
          {% else %}
          <del>{{ instance.intended_hours}}</del> {{ instance.hours }}
          {% endif %}
        </td>
        <td>
          <form method="POST" action="">
            {% csrf_token %}
			{% include "shift_forms.html" %}
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="field_wrapper">
	{% if instances.has_previous %}
	<a href="?page={{ instances.previous_page_number }}">
	  <span class="glyphicon glyphicon-chevron-left"></span>
	  Previous
	</a>
	{% else %}
    <span class="glyphicon glyphicon-chevron-left"></span>
    Previous
    {% endif %}

    |

    <span class="current">
      Page {{ instances.number }} of {{ instances.paginator.num_pages }}
    </span>

    |

    {% if instances.has_next %}
    <a href="?page={{ instances.next_page_number }}">
	  Next
      <span class="glyphicon glyphicon-chevron-right"></span>
	</a>
    {% else %}
    Next
	<span class="glyphicon glyphicon-chevron-right"></span>
    {% endif %}
  </div>
  <div class="field_wrapper text-info">
    {{ instance_count }} total open shifts in database.
  </div>
</div> <!-- .workshift_table -->
{% else %}
<p>
  No open shifts.
</p>
{% endif %}
{% endblock %}

{% block w_endscripts %}
<script>
 $(document).ready(function() {
   $('table').tablesorter({
     sortList: [[1, 0], [0, 0], [2, 0]],
     widgets: ["filter", "resizable"],
     widgetOptions: {
       resizable: true
     }
   });
 });
</script>
{% endblock %}
