{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}

{% block w_headers %}
<script type="text/javascript" src="{% static 'jquery/jquery-1.11.0.min.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/bootstrap-datetimepicker.min.css' %}" />
{% endblock %}

{% block w_content %}
<form id="preferences_form" method="post" action="">
  {% csrf_token %}
  {% if rating_forms %}
  <h2 class="w_title">Workshift Preferences</h2>
  <table>
	<tbody>
	  {% for form in rating_forms %}
	  <tr id="rating_forms_row">
		<td>{{ form.title }}:</td>
		<td>{{ form.rating }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
  {% endif %}
  {% if time_formset %}
  <h2>Your Schedule</h2>
  <table>
  	<tbody>
  	  {% for form in time_formset.forms %}
	  {{ form.id }}
  	  <tr class="time_formset_row">
  		<td>{{ form.preference }}</td>
  		<td>{{ form.day }}</td>
  		<td>{{ form.start_time }}</td>
  		<td>{{ form.end_time }}</td>
  	  </tr>
  	  {% endfor %}
  	</tbody>
  </table>
  {{ time_formset.management_form }}
  {% endif %}
  <h2>Notes</h2>
  {{ note_form|bootstrap }}
  <button type="submit" class="btn btn-success" name="update_preferences">Update preferences</button>
</form>
{% endblock %}

{% block endscripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'ui/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
  function renewDatePickers(row) {
    $("[id$=start_time]", row || null).datetimepicker({
      pickDate: false,
      pick12HourFormat: true,
    });
    $("[id$=end_time]", row || null).datetimepicker({
      pickDate: false,
      pick12HourFormat: true,
    });
  };
  $(document).ready(function() {
    $(function() {
      $(".time_formset_row").formset({
        prefix: "{{ time_formset.prefix }}",
        added: renewDatePickers,
      });
      renewDatePickers();
    });
  });
</script>
{% endblock %}
