{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}

{% block w_headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<script type="text/javascript" src="{% static 'jquery/jquery-1.11.0.min.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/bootstrap-datetimepicker.min.css' %}" />
{% endblock %}

{% block w_content %}
<form id="preferences_form" method="post" action="" name="update_preferences">
  {% csrf_token %}
  {% if rating_formset %}
  <h2 class="w_title">Workshift Preferences</h2>
  <table>
	<!-- <tbody> -->
	<!--   {% for form in rating_formset.forms %} -->
	<!--   <tr id="rating_formset_row"> -->
	<!-- 	<\!-- {{ form.pk }} -\-> -->
	<!-- 	<\!-- {{ form.workshift_type }} -\-> -->
	<!-- 	<td>{{ form.title }}:</td> -->
	<!-- 	<td>{{ form.rating }}</td> -->
	<!--   </tr> -->
	<!--   {% endfor %} -->
	<!-- </tbody> -->
	{{ rating_formset.as_table }}
  </table>
  <!-- {{ rating_formset.management_form }} -->
  {% endif %}
  {% if time_formset %}
  <h2>Your Schedule</h2>
  <!-- <table> -->
  <!-- 	<tbody> -->
  <!-- 	  {% for form in time_formset.forms %} -->
  <!-- 	  <tr id="time_formset_row"> -->
  <!-- 		<td>{{ form.preference }}</td> -->
  <!-- 		<td>{{ form.day }}</td> -->
  <!-- 		<td>{{ form.start_time }}</td> -->
  <!-- 		<td>{{ form.end_time }}</td> -->
  <!-- 	  </tr> -->
  <!-- 	  {% endfor %} -->
  <!-- 	</tbody> -->
  <!-- </table> -->
  <table>
	{{ time_formset.as_table }}
  </table>
  <!-- {{ time_formset.management_form }} -->
  {% endif %}
  <h2>Notes</h2>
  {{ note_form|bootstrap }}
  <button type="submit" class="btn btn-success">Update preferences</button>
</form>
{% endblock %}

{% block endscripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'ui/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
  function renewDatePickers() {
    $("[id$=start_time]").datetimepicker('destroy');
    $("[id$=end_time]").datetimepicker('destroy');
    $("[id$=start_time]").datetimepicker({pickDate: false});
    $("[id$=end_time]").datetimepicker({pickDate: false});
  };
  $(document).ready(function() {
    $(renewDatePickers);
    $(function() {
      $("#time_formset_row").formset({
        prefix: "{{ time_formset.prefix }}",
        added: renewDatePickers,
        removed: renewDatePickers,
      });
    });
  });
</script>
{% endblock %}
