{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}

{% block w_headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
{% endblock %}

{% block w_content %}
<h3>{{ page_name }}</h3>
<div class="table_container">
  <a href="{% wurl 'workshift:preferences' targetUsername=profile.user.username sem_url=SEMESTER.sem_url %}">Edit your preferences</a>
  {% for pool_hour in profile.pool_hours.all %}
  <div>
	<p><a href="">{{ pool_hour.pool.title }}</a>:</p>
	<p>{{ pool_hour.hours }} per week</p>
	<p>{% if pool_hour.standing < 0 %}<span color="red">{% else %}<span color="green">{% endif %}{{ pool_hour.standing }}</span></p>
	{% if pool_hour.first_date_standing %}
	<p>First Fine Date Standing: {{ pool_hour.first_date_standing }}</p>
	{% endif %}
	{% if pool_hour.second_date_standing %}
	<p>Second Fine Date Standing: {{ pool_hour.second_date_standing }}</p>
	{% endif %}
	{% if pool_hour.third_date_standing %}
	<p>Third Fine Date Standing: {{ pool_hour.third_date_standing }}</p>
	{% endif %}
  </div>
  {% endfor %}
  {% if profile.note %}
  <p>Profile notes: {{ profile.note }}</p>
  {% endif %}
</div> <!-- .table_container -->
{% endblock %}
