{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_content %}
<div class="profile_container">
  {% if can_edit %}
  <div class="pull-right">
    <a href="{{ profile.get_edit_url }}"
       class="btn btn-warning">
      <span class="glyphicon glyphicon-edit"></span>
      <span class="hidden-xs">Edit</span>
    </a>
  </div>
  {% endif %}
  <h1 class="w_title">
    {{ page_name }}
  </h1>
  {% if regular_shifts %}
  <hr class="w_line" />
  <h3 class="w_subtitle">Regular Shifts</h3>
  <table class="table table-striped table-bordered table-condensed table-hover members_table" id="regular_shifts_table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Time</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      {% for shift in regular_shifts %}
      <tr>
        <td>
          <a href="{{ shift.get_view_url }}">
            {{ shift.workshift_type.title }}
          </a>
        </td>
        <td>
          {% if shift.week_long %}
          Week long
          {% else %}
          {{ shift.get_day_display }}
          {% endif %}
          {{ shift.get_time_range }}
        </td>
        <td>{{ shift.hours }} hour{{ shift.hours|pluralize }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if assigned_instances %}
  <hr class="w_line" />
  <h3 class="w_subtitle">
    Assigned Singular Workshifts
  </h3>
  <table class="table table-striped table-bordered table-condensed table-hover members_table" id="assigned_instances_table">
    <thead>
      <tr>
        <th>Pool</th>
        <th>Title</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in assigned_instances %}
      <tr>
        <td>
          <a href="{{ instance.pool.get_view_url }}">
            {{ instance.pool }}
          </a>
        </td>
        <td>
          <a href="{{ instance.get_view_url }}">
            {{ instance.title }}
          </a>
        </td>
        <td>
          {{ instance.date }}
        </td>
        <td>
          {{ instance.get_start_time }}
        </td>
        <td>
          {{ instance.get_end_time }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if past_shifts %}
  <hr class="w_line" />
  <h3 class="w_subtitle">Past Shifts</h3>
  <table class="table table-striped table-bordered table-condensed table-hover members_table" id="past_shifts_table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Hours</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for shift in past_shifts %}
      <tr class="{% if shift.blown %}danger{% elif shift.closed %}success{% elif shift.liable %}warning{% elif not shift.workshifter %}info{% endif %}">
        <td>
          <a href="{{ shift.get_view_url }}">
            {{ shift.title }}
          </a>
        </td>
        <td>
          {{ shift.date }}
        </td>
        <td>
          {% include "shift_hours.html" %}
        </td>
        <td>
          {% include "shift_status.html" %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if pool_hours %}
  <hr class="w_line" />
  <h3 class="w_subtitle">
    Workshift Requirements
  </h3>
  <table class="table table-striped table-bordered table-condensed table-hover members_table" id="pool_hours_table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Hours</th>
        <th>Standing</th>
      </tr>
    </thead>
    <tbody>
      {% for hours in pool_hours %}
      <tr>
        <td>
          <a href="{{ hours.pool.get_view_url }}">
            {{ hours.pool.title }}
          </a>
        </td>
        <td>
          {{ hours.show_hours }}
        </td>
        <td>
          {% if 0 > hours.standing %}
          <font color="red">{{ hours.standing }}</font>
          {% else %}
          <font color="green">{{ hours.standing }}</font>
          {% endif %}
          {% if hours.first_date_standing %}
          <br />
          First Fines: {{ hours.first_date_standing|currency }}
          {% endif %}
          {% if hours.second_date_standing %}
          <br />
          Second Fines: {{ hours.second_date_standing|currency }}
          {% endif %}
          {% if hours.third_date_standing %}
          <br />
          Third Fines: {{ hours.third_date_standing|currency }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if view_note and profile.note %}
  <hr class="w_line" />
  <h3 class="w_subtitle">
    Profile notes
  </h3>
  <p>
    {{ profile.note|safe }}
  </p>
  {% endif %}
</div> <!-- .instance_container -->
{% endblock %}

{% block w_endscripts %}
<script>
 $(document).ready(function() {
   $("#regular_shifts_table, #assigned_instances_table, #past_shifts_table").tablesorter({
     sortList: [[0,0]],
     widgets: ["resizable"],
     widgetOptions: {
       resizable: true
     }
   });
   $("#pool_hours_table").tablesorter({
     widgets: ["resizable"],
     widgetOptions: {
       resizable: true
     }
   });
 });
</script>
{% endblock %}
