{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_content %}
<div class="profiles_container">
  <h1 class="w_title">{{ page_name }}</h1>
  <hr class="w_line" />
  <table class="table table-striped table-bordered table-condensed table-hover members_table" id="profiles_table">
	<thead>
	  <tr>
		<th>First Name</th>
        <th>Last Name</th>
		{% for pool in pools %}
		<th><a href="{% wurl 'workshift:view_pool' pk=pool.pk sem_url=SEMESTER.sem_url %}">{{ pool.title }}</a></th>
		{% endfor %}
	  </tr>
	</thead>
	<tbody>
	  {% for workshifter in workshifters %}
	  <tr>
		<td><a href="{% wurl 'workshift:profile' targetUsername=workshifter.user.username sem_url=SEMESTER.sem_url %}">{{ workshifter.user.first_name }}</a></td>
        <td>{{ workshifter.user.last_name }}</td>
		{% for pool_hours in workshifter.pool_hours.all %}
		<td>{% if 0 > pool_hours.standing %}<font color="red">{% else %}<font color="green">{% endif %}{{ pool_hours.standing }}</font></td>
		{% endfor %}
	  </tr>
	  {% endfor %}
	</tbody>
  </table> <!-- #profiles_table -->
</div> <!-- .profiles_container -->
{% endblock %}

{% block w_endscripts %}
<script>
$(document).ready(function() {
    $('table').tablesorter({
        sortList: [[0,0], [1,0]],
        widgets: ["filter", "resizable"],
        widgetOptions: {
            resizable: true
        }
    });
});
</script>
{% endblock %}
