{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
{% endblock %}

{% block w_content %}
<h3>{{ page_name }}</h3>
<div class="table_container">
  <a href="{% wurl 'workshift:preferences' targetUsername=profile.user.username sem_url=SEMESTER.sem_url %}">Edit your preferences</a>

  {% if upcoming_shifts %}
  <h4>Upcoming Shifts</h4>
  {% for shift in upcoming_shifts %}
  <div>
	<p><a href="{% wurl 'workshift:view_instance' pk=shift.pk sem_url=SEMESTER.sem_url %}">{{ shift.title }}</a> ({{ shift.hours }} hour{{ shift.hours|pluralize }})</p>
	<p>{{ shift.start_time }} - {{ shift.end_time }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% if past_shifts %}
  <h4>Past Shifts</h4>
  {% for shift in past_shifts %}
  <div>
	<p><a href="{% wurl 'workshift:view_instance' pk=shift.pk sem_url=SEMESTER.sem_url %}">{{ shift.title }}</a> - {{ shift.hours }}{% if shift.blown %} - <span color="red">BLOWN</span>{% elif shift.verifier %}- <span color="green">Verified by <a href="{% wurl 'workshift:profile' targetUsername=shift.verifier.user.username sem_url=SEMESTER.sem_url %}">{{ shift.verifier.user.get_full_name }}</a>{% endif %}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% for pool_hour in profile.pool_hours.all %}
  <div>
	<p><a href="">{{ pool_hour.pool.title }}</a>:</p>
	<p>{{ pool_hour.hours }} per week</p>
	<p>{% if pool_hour.standing < 0 %}<span color="red">{% else %}<span color="green">{% endif %}{{ pool_hour.standing }}</span></p>
	{% if pool_hour.first_date_standing %}
	<p>First Fine Date Standing: {{ pool_hour.first_date_standing }}</p>
	{% endif %}
	{% if pool_hour.second_date_standing %}
	<p>Second Fine Date Standing: {{ pool_hour.second_date_standing }}</p>
	{% endif %}
	{% if pool_hour.third_date_standing %}
	<p>Third Fine Date Standing: {{ pool_hour.third_date_standing }}</p>
	{% endif %}
  </div>
  {% endfor %}
  {% if profile.note %}
  <p>Profile notes: {{ profile.note }}</p>
  {% endif %}
</div> <!-- .table_container -->
{% endblock %}
