{% extends "base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
{% endblock %}

{% block content %}
<h3>Workshifts for {{ day }}</h3>
<table>
  <thead>
	<th>
	  <td>Shift Title</td>
	  <td>Time</td>
	  <td>Hours</td>
	  <td>Workshifter</td>
	  <td>Verifier</td>
	  <td>Mark</td>
	</th>
  </thead>
  <tbody>
	{% for shift in day_shifts %}
	<tr>
	  <td>{{ shift.title }}</td>
	  <td>{% if shift.start_time %}{{ shift.start_time }}
		{% if shift.end_time %}- {{ shift.end_time }}{% endif %}{% endif %}
	  </td>
	  <td>{% if shift.intended_hours == shift.hours %}{{ shift.hours }}
		{% else %}<del>{{ shift.intended_hours}}</del> {{ shift.hours }}{% endif %}
	  </td>
	  <td>
		{% if shift.workshifter %}
		<a href="{% url 'workshift:profile' pk=shift.workshifter.pk %}">{{ shift.workshifter.user.get_full_name }}</a>
		{% endif %}
	  </td>
	  <td>
		{% if shift.blown %}
		BLOWN
		{% elif shift.verifier %}
		<a href="{% url 'workshift:profile' pk=shift.verifier.pk %}">{{ shift.verifier.user.get_full_name }}</a>
		{% endif %}
	  </td>
	  <td>{{ forms }}</td>
	</tr>
	{% endfor %}
  </tbody>
</table>
<div class="table_container">
</div> <!-- .table_container -->
{% endblock %}
