{% if shift.blown %}
<font color="red">
  BLOWN
</font>
{% elif shift.verify == 'A' %}
{% if shift.closed %}
<font color="green">
  Verified
  <span class="hidden-xs">
    automatically
  </span>
</font>
{% else %}
Auto
<span class="hidden-xs">
  verify
</span>
{% endif %}
{% elif shift.verifier %}
<font color="green">
  Verified
  <span class="hidden-xs">
    by
    <a href="{{ shift.verifier.get_view_url }}">
      {{ shift.verifier.user.get_full_name }}
    </a>
  </span>
</font>
{% endif %}
