{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}

{% block w_headers %}
<style>
    table tbody tr td div label {
        display: none;
    }
    .checkbox label span {
        display: none;
    }
</style>
{% endblock %}

{% block w_content %}
<div class="w_container">
  <h1 class="w_title">Start New Semester</h1>
  <hr class="w_line" />
  <form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
      {{ semester_form|bootstrap }}
    </div> <!-- .form-group -->
    {% if pool_forms %}
    <hr />
    <h3 class="w_subtitle">Workshift Pool</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <th>Add</th>
        <th>Title</th>
        <th>Hours</th>
      </thead>
      <tbody>
        {% for form in pool_forms %}
        <tr>
          <td>{{ form.copy_pool|bootstrap }}</td>
          <td>{{ form.title|bootstrap }}</td>
          <td>{{ form.hours|bootstrap }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <div class="text-center">
      <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Start Semester</button>
    </div>
  </form>
</div> <!-- .w_container -->
{% endblock %}

{% block w_endscripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  $(function() {$("[id$=date]").datetimepicker({pickTime: false});});
  //$(function() {$("#id_year").datetimepicker({
    //    format: "YYYY",
    //    viewMode: "years",
    //    minViewMode: "years",
    //    pickTime: false
    //});});
  $(document).ready(function() {
        $('#id_rate').wrap('<div class="input-group"></div>');
        $('<span class="input-group-addon">$</span>').insertBefore('#id_rate');
    });
</script>
{% endblock %}
