{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
{% endblock %}

{% block content %}
<div class="table_container">
  <form method="post" action="">
	{% csrf_token %}
	<div class="form-group">
	  {{ semester_form|bootstrap }}
	  <div class="text-center"><button type="submit" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-plus"></span> Start Semester</button></div>
  </form>
</div> <!-- .table_container -->
{% endblock %}

{% block end_scripts %}
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  $(function() {
    $('#id_start_date').datetimepicker({
      pickTime: false
    });
    $('#id_end_date').datetimepicker({
      pickTime: false
    });
  });
</script>
{% endblock %}
