{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_content %}
<div class="instance_container">
  <h3>{{ page_name }}</h3>
  <p>{{ shift.date }}</p>
  <p>{{ shift.workshifter.user.get_full_name }}</p>
  <p>{{ shift.description }}</p>
  {% if shift.weekly_workshift %}<p>{{ shift.weekly_workshift.workshift_type.quick_tips }}</p>{% endif %}
  <p>{{ shift.hours }}</p>
  {% if shift.logs.all %}
  <table class=" table table-striped table-bordered table-condensed table-hover">
	<thead>
	  <tr>
		<th>Time</th>
		<th>Entry</th>
		<th>Note</th>
	  </tr>
	</thead>
	<tbody>
	  {% for log in shift.logs.all %}
	  <tr>
		<td>{{ log.entry_time }}</td>
		<td><a href="{% url 'workshift:profile' log.person.pk %}">{{ log.person.user.get_full_name }}</a>
		  {% if log.entry_type == 'A' %}
		  was assigned to this shift.
		  {% elif log.entry_type == 'B' %}
		  marked this shift as blown.
		  {% elif log.entry_type == 'I' %}
		  signed into this shift.
		  {% elif log.entry_type == 'O' %}
		  signed out of this shift.
		  {% elif log.enty_type == 'V' %}
		  verified that this shift was completed.
		  {% endif %}</td>
		<td>{{ log.note }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
  {% endif %}
</div> <!-- .instance_container -->
{% endblock %}
