{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_content %}
<div class="type_container">
  {% if WORKSHIFT_MANAGER %}
  <form action="{% wurl 'workshift:edit_type' pk=shift.pk sem_url=SEMESTER.sem_url %}" class="pull-right">
    <button class="btn btn-warning" type="submit">
      <span class="glyphicon glyphicon-edit"></span>
      <span class="hidden-xs">Edit</span>
    </button>
  </form>
  {% endif %}
  <h1 class="w_title">{{ page_name }}</h1>
  {% if shift.description %}
  <h3>Description</h3>
  <p>{{ shift.description|safe }}</p>
  {% endif %}
  {% if shifts.quick_tips %}
  <h3>Quick Tips</h3>
  <p>{{ shift.quick_tips|safe }}</p>
  {% endif %}
</div> <!-- .instance_container -->
{% endblock %}
