{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_content %}
<div class="instancee_container">
  <p>{{ shift.pool.title }}</p>
  <p>{{ shift.get_day_display }}</p>
  <p>{{ shift.workshifter.user.get_full_name }}</p>
  <p>{{ shift.hours }}</p>
  <p>{{ shift.workshift_type.quick_tips }}</p>
  <p>{{ shift.workshift_type.description }}</p>
  {% if shift.current_assignee %}<p>{{ shift.current_assignee.user.get_full_name }}</p>{% endif %}
</div> <!-- .instance_container -->
{% endblock %}
