{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_content %}
<div class="instance_container">
  {% if WORKSHIFT_MANAGER %}
  <form action="{{ instance.get_edit_url }}" class="pull-right">
    <button class="btn btn-warning" type="submit">
      <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
    </button>
  </form>
  {% endif %}
  <h1 class="w_title">
	{{ page_name }}
  </h1>
  <hr class="w_line" />
  <dl id="info_table" class="dl-horizontal">
    {% if instance.weekly_workshift %}
    <dt>Recurring Workshift</dt>
    <dd><a href="{{ instance.weekly_workshift.get_view_url }}">{{ instance.weekly_workshift.display_time }}</a></dd>
    {% endif %}
	<dt>Workshift Pool</dt>
	<dd><a href="{{ instance.pool.get_view_url }}">{{ instance.pool.title }}</a></dd>
	<dt>Date</dt>
	<dd>{{ instance.date }}</dd>
	{% if instance.workshifter or instance.liable %}
	<dt>
	  Assignee
	</dt>
	{% if instance.workshifter %}
	<dd>
	  <a href="{{ instance.workshifter.get_view_url }}">
		{{ instance.workshifter.user.get_full_name }}
	  </a>
	</dd>
	{% elif instance.liable %}
	<dd>
	  <a href="{{ instance.liable.get_view_url }}">{{ instance.liable.user.get_full_name }}</a> signed out less than {{ instance.pool.sign_out_cutoff }} hour{{ instance.pool.sign_out_cutoff|pluralize }} before the beginning of this shift and is still expected to complete the shift if it is not filled by another person.
	</dd>
	{% endif %}
	{% endif %}
	<dt>
	  Workshit Hours
	</dt>
	<dd>
	  {{ instance.hours }} hour{{ instance.hours|pluralize }}
	</dd>
	{% if interact_forms %}
	<dt>
	  Action
	</dt>
	<dd>
      <form style="display:inline" method="POST">
		{% for form in interact_forms %}
		{% csrf_token %}
		{{ form }}
		<button type="submit"
				class="btn btn-xs btn-{% if form.title_long = 'Verify' %}success{% elif form.title_long = 'Blown' %}danger{% elif form.title_long = 'Sign In' %}primary{% else %}warning{% endif %}"
				name="{{ form.action_name }}">{{ form.title_short|safe }}
          {{ form.title_long }}
		</button>
		{% endfor %}
		{{ note_form|bootstrap }}
      </form>
	</dd>
	{% endif %}
	{% if edit_hours_form %}
	<dt>
	  Edit Credited Hours
	</dt>
	<dd>
	  <form method="POST">
		{% csrf_token %}
		{{ edit_hours_form|bootstrap }}
		<button type="submit" class="btn btn-default" name="edit_hours">
		  <span class="glyphicon glyphicon-edit"></span>
		  Edit Hours
		</button>
	  </form>
	</dd>
	{% endif %}
  </dl>
  <hr />
  {% if instance.description or instance.addendum %}
  <h3 class="w_subtitle">
	Description
  </h3>
  <hr class="w_line" />
  <div>
	{% if instance.description %}
	{{ instance.description|safe }}
	{% endif %}
	{% if instance.description and instance.addendum %}
	<br />
	{% endif %}
	{% if instance.addendum %}
	{{ instance.addendum|safe }}
	{% endif %}
  </div>
  <hr />
  {% endif %}
  {% if instance.weekly_workshift.workshift_type.quick_tips %}
  <h3 class="w_subtitle">
	Quick Tips
  </h3>
  <hr class="w_line" />
  <div>
	{{ instance.weekly_workshift.workshift_type.quick_tips|safe }}
  </div>
  <hr />
  {% endif %}
  {% if instance.logs.all %}
  <h3 class="w_subtitle">
	Logs
  </h3>
  <table class=" table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th>Time</th>
        <th>Entry</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      {% for log in instance.logs.all %}
      <tr
{% if log.entry_type == 'B' %}
class="danger"
{% elif log.entry_type == 'V' %}
class="success"
{% endif %}
>
        <td>{{ log.entry_time }}</td>
        <td>
          {% if log.person %}
          <a href="{% url 'workshift:profile' targetUsername=log.person.user.username %}">{{ log.person.user.get_full_name }}</a>
          {% else %}
          Farnsworth automatically
          {% endif %}
          {% if log.entry_type == 'A' %}
          was assigned to this shift.
          {% elif log.entry_type == 'B' %}
          marked this shift as blown.
          {% elif log.entry_type == 'I' %}
          signed into this shift.
          {% elif log.entry_type == 'O' %}
          signed out of this shift.
          {% elif log.entry_type == 'V' %}
          verified that this shift was completed.
		  {% elif log.entry_type == 'M' %}
		  changed the hours credited by this shift to {{ log.hours }} hour{{ log.hours|pluralize}}.
          {% endif %}
		</td>
        <td>{% if log.note %}{{ log.note }}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div> <!-- .instance_container -->
{% endblock %}

{% block w_endscripts %}
<script>
 $(document).ready(function() {
   $('table').tablesorter({
     headers: {
       0: {
         sorter: 'farnsworth_datetime'
       }
     },
     sortList: [[0, 1]],
     widgets: ["resizable"],
     widgetOptions: {
       resizable: true
     }
   });
 });
</script>
{% endblock %}
