{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_content %}
<div class="instance_container">
  <h3>{{ page_name }}</h3>
  {% if WORKSHIFT_MANAGER %}
  <p><a href="{% wurl 'workshift:edit_shift' pk=shift.pk sem_url=SEMESTER.sem_url %}">Edit this shift</a></p>
  {% endif %}
  <p>{{ shift.title }}</p>
  <p>{{ shift.hours }}</p>
  <p>{{ shift.quick_tips }}</p>
  <p>{{ shift.description }}</p>
</div> <!-- .instance_container -->
{% endblock %}
