{% extends "w_base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% load bootstrap %}
{% load workshift_tags %}

{% block w_content %}
<div class="shift_container">
  {% if WORKSHIFT_MANAGER %}
  <form action="{% wurl 'workshift:edit_shift' pk=shift.pk sem_url=SEMESTER.sem_url %}" class="pull-right">
    <button class="btn btn-warning" type="submit">
      <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
    </button>
  </form>
  {% endif %}
  <h1 class="w_title">{{ page_name }}</h1>
  <hr class="w_line" />
  <dl class="dl-horizontal">
    <dt>Days</dt>
    <dd>{{ shift.get_days_display }}&nbsp;</dd>
    <dt>Workshifter</dt>
    <dd>{{ shift.workshifter.user.get_full_name }}&nbsp;</dd>
    <dt>Hours</dt>
    <dd>{{ shift.hours }}</dd>
    <dt>Quick Tips</dt>
    <dd>{{ shift.workshift_type.quick_tips|safe }}&nbsp;</dd>
    <dt>Description</dt>
    <dd>{{ shift.workshift_type.description|safe }}</dd>
    <dt>Workshift Pool</dt>
    <dd><a href="{% wurl 'workshift:view_pool' pk=shift.pool.pk sem_url=SEMESTER.sem_url %}">{{ shift.pool.title }}</a></dd>
    {% if shift.current_assignees %}
    <dt>Assignees</dt>
    <dd>{% for assignee in shift.current_assignees.all %}{% if forloop.counter > 1 %},
    {% endif %}<a
        href="{% wurl 'workshift:profile' sem_url=assignee.semester.sem_url targetUsername=assignee.get_user %}">{{ assignee.get_full_name }}</a></dd>
    {% endfor %}
    </dd>
  </dl>
  {% endif %}
</div> <!-- .instance_container -->
{% endblock %}
