{% extends "base.html" %}

{% load static from staticfiles %}
{% load workshift_tags %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/workshift.css' %}" />
{% block w_headers %}{% endblock %}
{% endblock %}

{% block jumbotron %}
<div class="container">
  {% if CURRENT_SEMESTER %}
  <div class="row" style="margin-top: 0px;">
    <div class="col-xs-12">
      <div class="row">
        <h5 class="col-xs-3 text-left"><a
            href="{% wurl 'workshift:view_semester' %}?day={{ CURRENT_SEMESTER.start_date|date:'Y-m-d' }}"
            title="Jump to date">{{ CURRENT_SEMESTER.start_date|date:"N d" }}<span class="hidden-xs">,
            {{ CURRENT_SEMESTER.start_date|date:"Y" }}</span></a></h5>
        <a href="{% wurl 'workshift:view_semester' sem_url=CURRENT_SEMESTER.sem_url %}">
          <h4 class="col-xs-6 text-center" id="current_semester"><span class="hidden-xs">Current Semester
              - </span>{{ CURRENT_SEMESTER.get_season_display }} {{ CURRENT_SEMESTER.year }}</h4>
        </a>
        <h5 class="col-xs-3 text-right"><a
            href="{% wurl 'workshift:view_semester' %}?day={{ CURRENT_SEMESTER.end_date|date:'Y-m-d' }}"
            title="Jump to date">{{ CURRENT_SEMESTER.end_date|date:"N d" }}<span class="hidden-xs">,
            {{ CURRENT_SEMESTER.end_date|date:"Y" }}</span></a></h5>
      </div> <!-- .row -->
      <div title="{{ days_passed }} day{{ days_passed|pluralize }} of {{ total_days }} in semester passed ({{ semester_percent}}%)" class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ days_passed }}" aria-valuemin="0" aria-valuemax="{{ total_days }}" style="width: {{ semester_percent }}%;">
          <span class="sr-only">{{ semester_percent }}%</span>
        </div> <!-- .progress-bar -->
      </div> <!-- .progress -->
    </div> <!-- .col-xs-12 -->
  </div> <!-- .row -->
  {% else %}
  <div style="margin-top: 10px;"></div>
  {% endif %}
  <div class="row" style="margin-top: 0px;">
    <div id="workshift_content" class="col-md-9">
      {% block w_content %}{% endblock %}
    </div> <!-- #workshift_content -->
    <br class="visible-sm visible-xs" />
    <hr class="visible-sm visible-xs" />
    <div id="sidebar" class="col-md-3">
      {% block sidebartop %}{% endblock %}
      <h4><a href="{% wurl 'workshift:view_open' sem_url=SEMESTER.sem_url %}">Open Shifts</a></h4>
      {% if upcoming_shifts %}
      <h4 id="shifts_title">Upcoming &amp; Recent Shifts</h4>
      <div id="upcoming_shifts" class="list-group">
        {% for shift, happening in upcoming_shifts %}
        <a title="See shift info" href="{% wurl 'workshift:view_instance' pk=shift.pk sem_url=SEMESTER.sem_url %}" class="list-group-item">
          <span title="Worth {{ shift.hours }} hour{{ shift.hours|pluralize }}"
            class="badge">{{ shift.hours }}</span>{{ shift.title }}{% if not shift.week_long %}, {{ shift.date|date:"l" }}{% endif %}
          {{ shift.start_time }}
          {% if shift.end_time and shift.end_time %} - {% endif %}
          {{ shift.end_time }}
        </a>
        {% endfor %}
      </div> <!-- #upcoming_shifts -->
      {% endif %}
      <div class="row">
      {% if WORKSHIFT_PROFILE %}
      <div class="col-md-12 col-lg-12{% if WORKSHIFT_MANAGER %} col-sm-6 col-xs-6{% endif %}">
      <h4 class="w_subtitle"><a href="{% wurl 'workshift:profile' targetUsername=WORKSHIFT_PROFILE.user.username sem_url=SEMESTER.sem_url %}">My Profile</a></h4>
      <ul class="sidebar_list">
        <li><a href="{% wurl 'workshift:preferences' targetUsername=WORKSHIFT_PROFILE.user.username sem_url=SEMESTER.sem_url %}">Edit My Preferences</a></li>
      </ul>
      {% else %}

      {% endif %}
      </div> <!-- .col-md-12 -->
      {% if WORKSHIFT_MANAGER %}
      <div class="col-md-12 col-lg-12 col-sm-6 col-xs-6">
      <h4 class="w_subtitle"><a href="{% wurl 'workshift:manage' semester=SEMESTER.sem_url %}">Manage Workshift</a></h4>
      <ul class="sidebar_list">
        <li><a href="{% wurl 'workshift:add_shift' semester=SEMESTER.sem_url %}">Add Shift</a></li>
        <li><a href="{% wurl 'workshift:assign_shifts' semester=SEMESTER.sem_url %}">Assign Shifts</a></li>
        <li><a href="{% wurl 'workshift:add_pool' semester=SEMESTER.sem_url %}">Add Workshift Pool</a></li>
        <li><a href="{% wurl 'workshift:add_workshifter' semester=SEMESTER.sem_url %}">Add Workshifter</a></li>
      </ul>
      </div> <!-- .col-md-12 -->
      {% endif %}
      </div> <!-- .row -->
      {% block sidebarbottom %}{% endblock %}
    </div> <!-- #side_bar -->
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function() {
        $('.navbar').css('margin-bottom', '0');
        $('.alert').css('margin-top', '10');
    });
</script>
{% block w_endscripts %}{% endblock %}
{% endblock %}
