{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% block headers %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/layout.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/bootstrap-datetimepicker.min.css' %}" />
{% endblock %}

{% block content %}
<div class="table_container" style="position: relative; margin: 0px auto; max-width: 85%;">
	<div class="header"><h3 class="table_title">Edit Event</h3></div> <!-- .header -->
	<div class="event_table main_table">
		<form id="event_form" method="post" action="">
			{% csrf_token %}
			<div class="form-group">
				{{ event_form|bootstrap }}
				<div class="text-center">
					<button type="submit" class="btn btn-lg btn-success" name="post_event" style="min-width: 50%;"><span class="glyphicon glyphicon-floppy-disk"></span> Save Event</button>
				</div> <!-- .text-center -->
			</div> <!-- .form-group -->
		</form>
	</div> <!-- .event_table -->
</div> <!-- .table_container -->
{% endblock %}

{% block endscripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
	$(function(){$("#id_start_time").datetimepicker();});
	$(function(){$("#id_end_time").datetimepicker();});
</script>
{% endblock %}
