{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}

{% block content %}
<h1 class="w_title">Edit Event</h1>
<div class="event_table">
    <form id="event_form" method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            {{ event_form|bootstrap }}
            <div class="text-center">
                <button type="submit" class="btn btn-success" name="post_event"><span class="glyphicon glyphicon-floppy-disk"></span> Save Event</button>
            </div> <!-- .text-center -->
        </div> <!-- .form-group -->
    </form>
</div> <!-- .event_table -->
{% endblock %}

{% block endscripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
    $(function(){$("#id_start_time").datetimepicker();});
    $(function(){$("#id_end_time").datetimepicker();});
</script>
{% endblock %}
