{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% load thread_tags %}
{% block headers %}
<script>
  function show_new_event_form() {
  document.getElementById("new_event_form").style.display="inline";
  }
  function hide_new_event_form() {
  document.getElementById("new_event_form").style.display="none";
  }
</script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/list_events.css' %}" />
{% endblock %}

{% block content %}
{% if can_edit %}
<form action="{% url 'events:edit' event_pk=event.pk %}" class="pull-right">
  <button class="btn btn btn-primary"><span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span></button>
</form>
{% endif %}
<h1 class="w_title">{{ page_name }}</h1>
<hr class="w_line" />
<div class="bordered_div hover_row{% if event.cancelled %} bg-danger"
  title="Cancelled{% elif ongoing %} bg-success"
  title="Happening Now{% elif event.as_manager %} bg-info"
  title="Official House Event{% endif %}">
  <div class="event_owner" style="padding-left: 5px;">
    {% if event.as_manager %}
    <a class="page_link" title="View Details"
      href="{% url 'managers:view_manager' managerTitle=event.as_manager.url_title %}">{{ event.as_manager }}</a>
    (<a class="page_link" title="View Profile"
      href="{% url 'member_profile' targetUsername=event.owner.user.username %}">{{ event.owner|display_user:user }}</a>),
      {{ event.post_date }} (updated {{ event.change_date }}):
    {% else %}
    <a class="page_link" title="View Profile"
      href="{% url 'member_profile' targetUsername=event.owner.user.username %}">{{ event.owner|display_user:user }}</a>,
    {{ event.post_date }} (updated {{ event.change_date }}):
    {% endif %}
  </div> <!-- .event_owner -->
  <div class="event_body" style="padding-left: 5px;">
    <div class="text-center">
      <h3 class="event_header">{{ event.title }}{% if event.cancelled %}
          <small class="text-danger">CANCELLED</small>{% endif %}
      <br />
      <small>{{ event.location }}</small>
      <br />
      <small>{{ event.start_time }} to {{ event.end_time }}</small></h3>
      {% if event.owner.user == user or user.is_superuser %}
      {% endif %}
      <hr style="width: 75%;">
    </div>
    {{ event.description|safe }}
    <hr style="width: 75%;" />
    <span class="pull-right">
    {% if user.username != ANONYMOUS_USERNAME %}
    <form class="pull-right" id="rsvp_form_{{ event.pk }}" method="post" action="">
      {% csrf_token %}
      {{ rsvp_form }}
      {% if not already_passed %}
        {% if rsvpd %}
            <button id="rsvp_link_{{ event.pk }}" type="submit"
                class="main_link warning_link" name="rsvp-{{ event.pk }}"
                title="Remove yourself from the RSVPs for this event">Un-RSVP</button>
        {% else %}
            <button id="rsvp_link_{{ event.pk }}" type="submit"
                class="main_link success_link" name="rsvp"
                title="RSVP to this event">RSVP</button>
        {% endif %}
      {% endif %}
    </form>
    {% endif %}
    {% if event.owner.user == user or user.is_superuser %}
    <a href="{% url 'events:edit' event_pk=event.pk %}"
      class="main_link primary_link" title="Edit this event">Edit</a>
    {% endif %}
    </span> <!-- .pull-right -->
    <span id="rsvp_list_{{ event.pk }}">
    {% if event.rsvps.all %}
    RSVPs: {% for member in event.rsvps.all %}{% if forloop.counter > 1 %},
    {% endif %}<a class="page_link" title="View Profile"
      href="{% url 'member_profile' targetUsername=member.user.username %}">{{ member|display_user:user }}</a>{% endfor %}
    {% else %}
    No RSVPs.
    {% endif %}
    </span>
  </div> <!-- .event_body -->
</div> <!-- .bordered_div -->
<script>window.event_pk_list.push({{ event.pk }});</script>
{% endblock %}