{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}

{% block content %}
<form action="{% url 'rooms:edit' room_title=room.title %}" class="pull-right">
  <button class="btn btn btn-primary"><span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit Room</span></button>
</form>
<h1 class="w_title">{{ page_name }}</h1>
<hr class="w_line" />
<dl class="dl-horizontal">
<dt>Total Occupancy</dt>
<dd>{{ room.occupancy }}</dd>
<dt>Current Residents</dt>
<dd>{% for person in room.current_residents.all %}{% if not forloop.first %}, {% endif %}<a title="View Profile" href="{% url 'member_profile' targetUsername=person.user.username %}">{{ person.user.get_full_name }}</a>{% endfor %}&nbsp;</dd>
<dt>Description</dt>
<dd>{{ room.description|safe }}&nbsp;</dd>
</dl>
{% endblock %}
