{% extends "base.html" %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
{% endblock %}

{% block title %}
<div id="title">
	<h1 id="page_title" class="hidden-xs">404 - Page Not Found</h1>
	<h1 class="visible-xs sub_title" style="margin: 0;">404 - Page Not Found</h1>
</div>
{% endblock %}

{% block content %}
<h2 class="text-center sub_subtitle">The number you have dialed has crashed into a planet.  Please make a note of it.</h2>
{% endblock %}
