<!DOCTYPE html>

<!--
   Project: Farnsworth

   Author: Karandeep Singh Nagra

   The HTML for {{ page_name }}.
  -->

<html>
  <head>
    <title>{{ SHORT_HOUSE }} - {{ page_name }}</title>
    {% load static from staticfiles %}
    <link rel="shortcut icon" href="{% static 'ui/images/favicon.ico' %}" />
    {% block headers %} {% endblock %}
    <link type="text/css" rel="stylesheet" href="{% static 'ui/css/base.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" />
  </head>
  <body id="html_body">
    <div class="container"> <!-- # Get rid of this to make the bar span the entire width of the page -->
      <div class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" title="Home" href="{% url 'homepage' %}"><span class="glyphicon glyphicon-home"></span> {{ SHORT_HOUSE }}</a>
          </div>
	  <div class="collapse navbar-collapse">
	    <!-- class="active" ??? -->
	    <ul class="nav navbar-nav">
	      {% if user.is_authenticated %}
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.username }} <b class="caret"></b></a>
		<ul class="dropdown-menu">
	    	  <li><a href="{% url 'my_profile' %}" ><span class="glyphicon glyphicon-edit"></span> Update My Profile</a></li>
	    	  <li><a href="{% url 'my_threads' %}" ><span class="glyphicon glyphicon-comment"></span> My Threads</a></li>
	    	  <li><a href="{% url 'my_requests' %}" ><span class="glyphicon glyphicon-inbox"></span> My Requests</a></li>
		</ul>
	      </li>
	      <li><a href="{% url 'member_forums' %}" ><span class="glyphicon glyphicon-comment"></span> Forums</a></li>
	      {% if REQUEST_TYPES %}
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-inbox"></span> Requests <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{% for request_type in REQUEST_TYPES %}
				<li><a href="{% url 'requests' requestType=request_type.name %}" ><span class="glyphicon glyphicon-{% if request_type.glyphicon %}{{ request_type.glyphicon }}{% else %}inbox{% endif %}"></span> {{ request_type.human_readable_name|title }}</a></li>
			{% endfor %}
		</ul>
	      </li>
	      {% endif %}
	     <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-arrow-right"></span> Go<b class="caret"></b></a>
	      <ul class="dropdown-menu">
	        <li><a href="{% url 'member_directory' %}" ><span class="glyphicon glyphicon-book"></span> Member Directory</a></li>
		<li><a href="{% url 'announcements' %}" ><span class="glyphicon glyphicon-bullhorn"></span> Manager Announcements</a></li>
		<li><a href="{% url 'events' %}" ><span class="glyphicon glyphicon-calendar"></span> Upcoming Events</a></li>
	        <li><a href="{% url 'external' %}"><span class="glyphicon glyphicon-plane"></span> Landing</a></li>
		<li class="divider"></li>
		<li class="dropdown-header">Archives</li>
		<li><a href="{% url 'all_threads' %}" ><span class="glyphicon glyphicon-comment"></span> All Threads</a></li>
		<li><a href="{% url 'all_announcements' %}"><span class="glyphicon glyphicon-bullhorn"></span> All Announcements</a></li>
		<li><a href="{% url 'all_events' %}"><span class="glyphicon glyphicon-calendar"></span> All Events</a></li>
		<li class="divider"></li>
		<li class="dropdown-header">External</li>
	        <li><a href="http://workshift.bsc.coop/kng/" target="_blank" ><span class="glyphicon glyphicon-briefcase"></span> Workshift</a></li>
	        <li><a href="https://github.com/knagra/farnsworth" target="_blank" ><span class="glyphicon glyphicon-info-sign"></span> Source</a></li>
	      </ul>
             </li>
	      {% if user.is_superuser %}
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Admin <b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li><a href="{% url 'custom_manage_users' %}" ><span class="glyphicon glyphicon-user"></span> Manage Users</a></li>
		  <li><a href="{% url 'custom_add_user' %}" ><span class="glyphicon glyphicon-plus"></span> Add User</a></li>
		  <li><a href="{% url 'manage_profile_requests' %}"><span class="glyphicon glyphicon-inbox"></span> Profile Requests ({{ NUM_OF_PROFILE_REQUESTS }})</a></li>
		  <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-wrench"></span> Django Admin</a></li> 
		</ul>
	      </li>
	      {% endif %}
	      <li><a class="menu_link" id="sub_menu_display" href="{% url 'site_map' %}" ><span class="glyphicon glyphicon-map-marker"></span> Site Map</a>
		{% endif %}
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a class="menu_link" href="{% url 'helppage' %}"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
	      {% if user.is_authenticated %}
	      <li><a class="menu_link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	      {% else %}
	      <li><a class="menu_link" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      <li><a class="menu_link" href="{% url 'request_profile' %}"><span class="glyphicon glyphicon-leaf"></span> Request Account</a></li>
	      <li><a class="menu_link" href="https://github.com/knagra/farnsworth" target="_blank" ><span class="glyphicon glyphicon-info-sign"></span> Source</a></li>
	      {% endif %}
	    </ul>
	  </div>
	</div>
      </div>
    </div>

    <div class="container">
      <div id="title">
	{% if page_name == "Landing" %}
	<h1 id="page_title">Welcome to {{ HOUSE }}</h1>
	{% endif %}
      </div> <!-- close "title" -->
      <div id="body">
	<div id="content">
	  {% block content %}{% endblock %}
	</div> <!-- close "content" -->
	{% block gallery %}{% endblock %}
      </div> <!-- close "body" -->
    </div> <!-- close "container" -->
    <footer>
      Powered by <a class="footer_link" href="http://www.python.org" target="_blank">Python</a> and <a class="footer_link" href="https://www.djangoproject.com" target="_blank">Django</a>.  Contact {{ ADMIN.0 }} (<a class="footer_link" href="mailto:{{ ADMIN.1 }}">{{ ADMIN.1 }}</a>) for support.
    </footer>
    <script type="text/javascript" src="{% static 'jquery/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/tablesorter-master/js/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- prevent multiple form submissions by disabling submit button on all forms after post -->
	<script>
		$("form").submit(function() {
			$(this).submit(function() {
				return false;
			});
			return true;
		});
		$("input[type=text]").addClass("form-control");
		$("input[type=password]").addClass("form-control");
		$("select").addClass("form-control");
	</script>
    {% block endscripts %}{% endblock %}
  </body>
</html>
