{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/custom_modify_user.css' %}" />
{% endblock %}

{% block content %}
	<div id="update_profile">
		<div class="header"><h3 class="table_title">Modify {{ targetUser.username }}'s Profile</h3></div>
		<form method="post" action="">
			{% csrf_token %}
			<div class="form-group">
				{{ modify_user_form|bootstrap }}
				<div class="text-center"><button type="submit" class="btn btn-lg btn-success" name="update_user_profile"><span class="glyphicon glyphicon-floppy-disk"></span> Update {{ targetUser.username }}'s Profile</button></div>
			</div>
		</form>
	</div>
	<div id="change_password">
		<div class="header"><h3 class="table_title">Change {{ targetUser.username }}'s Password</h3></div>
		<form method="post" action="">
			{% csrf_token %}
			<div class="form-group">
				{{ change_user_password_form|bootstrap }}
				<div class="text-center"><button type="submit" class="btn btn-lg btn-warning" name="change_user_password"><span class="glyphicon glyphicon-flash"></span> Change {{ targetUser.username }}'s Password</button></div>
			</div>
		</form>
	</div>
{% endblock %}
