{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/custom_modify_user.css' %}" />
{% endblock %}

{% block content %}
<div id="update_profile" class="table_container">
  <div class="header"><h3 class="table_title medium_title">Modify {{ targetUser.username }}'s Profile</h3></div>
  <div class="main_table">
    <form method="post" action="">
      {% csrf_token %}
      <div class="form-group">
	{{ modify_user_form|bootstrap }}
	<div class="text-center"><button type="submit" class="btn btn-lg btn-success" name="update_user_profile"><span class="glyphicon glyphicon-floppy-disk"></span> Update User Profile</button></div>
      </div>
    </form>
  </div> <!-- .main_table -->
</div> <!-- #update_profile -->
<div id="change_password" class="table_container">
  <div class="header"><h3 class="table_title large_title">Change {{ targetUser.username }}'s Password</h3></div>
  <div class="main_table">
    <form method="post" action="">
      {% csrf_token %}
      <div class="form-group">
	{{ change_user_password_form|bootstrap }}
	<div class="text-center"><button type="submit" class="btn btn-lg btn-warning" name="change_user_password"><span class="glyphicon glyphicon-flash"></span> Change User Password</button></div>
      </div>
    </form>
  </div> <!-- .main_table -->
</div> <!-- #change_password -->
<div id="delete_user" class="table_container">
  <div class="header"><h3 class="table_title large_title">Delete {{ targetUser.username }}</h3></div>
  <div class="main_table">
    <p>
      This will permenantly delete the user's account, their forum posts, their requests--EVERYTHING! No going back.
    </p>
    <form method="post" action="">
      {% csrf_token %}
      <div class="form-group">
	{{ delete_user_form|bootstrap }}
	<div class="text-center"><button type="submit" class="btn btn-lg btn-danger" name="delete_user"><span class="glyphicon glyphicon-flash"></span> Delete User</button></div>
      </div>
    </form>
  </div> <!-- .main_table -->
</div> <!-- #change_password -->
{% endblock %}
