{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'jquery/nivo/nivo-slider.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'jquery/nivo/themes/default/default.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/external.css' %}" />
{% endblock %}

{% block jumbotron %}
<div id="image_carousel" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
	<li data-target="#image_carousel" data-slide-to="0"></li>
	<li data-target="#image_carousel" data-slide-to="1"></li>
	<li data-target="#image_carousel" data-slide-to="2"></li>
	<li data-target="#image_carousel" data-slide-to="3"></li>
	<li data-target="#image_carousel" data-slide-to="4"></li>
	<li data-target="#image_carousel" data-slide-to="5"></li>
</ol>
<div class="carousel-inner">
	<div class="item active">
		<img class="carousel_img" src="{% static 'ui/images/ext_1.jpg' %}">
		<div class="container">
			<div class="carousel-caption">
			<h1 class="img_heading_lg visible-lg">Welcome to Hoyt!</h1>
			<h1 class="img_heading_md visible-md">Welcome to Hoyt!</h1>
			<h1 class="img_heading_sm visible-sm">Welcome to Hoyt!</h1>
			<h1 class="img_heading_xs visible-xs">Welcome to Hoyt!</h1>
			<p class="description">We're a member house of the <a class="carousel_link" href="//www.bsc.coop">Berkeley Student Cooperative.</a></p>
			<p class="info">We're an all-women co-op on North Side, nestled in the North Berkeley hills.</p>
			</div> <!-- .carousel-caption -->
		</div> <!-- .container -->
	</div> <!-- .item -->
	<div class="item">
		<img class="carousel_img" src="{% static 'ui/images/ext_2.jpg' %}">
		<div class="container">
			<div class="carousel-caption">
			<h1 class="img_heading_lg visible-lg">This is our coffee pot.</h1>
			<h1 class="img_heading_md visible-md">This is our coffee pot.</h1>
			<h1 class="img_heading_sm visible-sm">This is our coffee pot.</h1>
			<h1 class="img_heading_xs visible-xs">This is our coffee pot.</h1>
			<p class="description">If you're into exotic coffee, come board at Hoyt!  Information about boarding can be found at
			<a class="carousel_link" href="//www.bsc.coop/food/meal-contract-info-rates">this page</a>.
			</p>
			<p class="info">Or drop by for an exceptional cuppa.  We're accepting house-level boarders.</p>
			</div> <!-- .carousel-caption -->
		</div> <!-- .container -->
	</div> <!-- .item -->
	<div class="item">
		<img class="carousel_img" src="{% static 'ui/images/ext_4.jpg' %}">
		<div class="container">
			<div class="carousel-caption">
			<h1 class="img_heading_lg visible-lg">Join us on our roof.</h1>
			<h1 class="img_heading_md visible-md">Join us on our roof.</h1>
			<h1 class="img_heading_sm visible-sm">Join us on our roof.</h1>
			<h1 class="img_heading_xs visible-xs">Join us on our roof.</h1>
			<p class="description">Our parties start here.</p>
			</div> <!-- .carousel-caption -->
		</div> <!-- .container -->
	</div> <!-- .item -->
	<div class="item">
		<img class="carousel_img" src="{% static 'ui/images/ext_5.jpg' %}">
		<div class="container">
			<div class="carousel-caption">
			<h1 class="img_heading_lg visible-lg">Our piano room.</h1>
			<h1 class="img_heading_md visible-md">Our piano room.</h1>
			<h1 class="img_heading_sm visible-sm">Our piano room.</h1>
			<h1 class="img_heading_xs visible-xs">Our piano room.</h1>
			<p class="description">This is not a stock photo.</p>
			<p class="info">We welcome all piano players, amateur and professional.</p>
			</div> <!-- .carousel-caption -->
		</div> <!-- .container -->
	</div> <!-- .item -->
	<div class="item">
		<img class="carousel_img" src="{% static 'ui/images/ext_6.jpg' %}">
		<div class="container">
			<div class="carousel-caption">
			<h1 class="img_heading_lg visible-lg">Our kitchen.</h1>
			<h1 class="img_heading_md visible-md">Our kitchen.</h1>
			<h1 class="img_heading_sm visible-sm">Our kitchen.</h1>
			<h1 class="img_heading_xs visible-xs">Our kitchen.</h1>
			<p class="description">Always well-stocked.</p>
			</div> <!-- .carousel-caption -->
		</div> <!-- .container -->
	</div> <!-- .item -->
	<div class="item">
		<img class="carousel_img" src="{% static 'ui/images/ext_7.jpg' %}">
		<div class="container">
			<div class="carousel-caption">
			<h1 class="img_heading_lg visible-lg">Come check out our house!</h1>
			<h1 class="img_heading_md visible-md">Come check out our house!</h1>
			<h1 class="img_heading_sm visible-sm">Come check out our house!</h1>
			<h1 class="img_heading_xs visible-xs">Come check out our house!</h1>
			<p class="description">Knock on our door.  We'll give you a tour.</p>
			<p class="info">We're located at 2519 Ridge Road, just a block away from campus
			(<a class="carousel_link" href="{% url 'house_map' %}">click for map</a>).</p>
			</div> <!-- .carousel-caption -->
		</div> <!-- .container -->
	</div> <!-- .item -->
</div> <!-- .carousel-inner -->
<a class="left carousel-control" href="#image_carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
<a class="right carousel-control" href="#image_carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div> <!-- #image_carousel -->
{% endblock %}

{% block endscripts %}
<script type="text/javascript">
$(document).ready(function() {
	$('h1').css('color', 'white');
	$('.navbar').css('margin-bottom', '0');
	$('#bottom').hide();
	$('#body').hide();
});
</script>
{% endblock %}
