{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'jquery/nivo/nivo-slider.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'jquery/nivo/themes/default/default.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/external.css' %}" />
{% endblock %}

{% block title %}
<div id="title">
	<h1 id="page_title" class="hidden-xs">Welcome to {{ HOUSE }}</h1>
	<h1 class="visible-xs sub_title" style="margin: 0;">{{ HOUSE }}</h1>
	<br />
</div> <!-- close "title" -->
{% endblock %}

{% block content %}
<div class="table_container main_table container_fluid page_container">
<p>
	We are a member house of the <a href="//bsc.coop">Berkeley Student Cooperative</a>.
	Please check there for more information on our house and how to apply to board or live in {{ HOUSE }}.
	Questions and tour requests are always welcome.  Please contact us at the e-mail below to arrange a tour.
</p>
</div>
{% endblock %}
{% block endscripts %}
{% endblock %}
