{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'jquery/nivo/nivo-slider.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'jquery/nivo/themes/default/default.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/external.css' %}" />
{% endblock %}

{% block content %}
{% if message %}
	<p>{{ message }}</p>
{% endif %}
<div class="container-fluid page_container">
<p>
Kingman Hall is one of the houses of the <a class="page_link" href="http://www.bsc.coop" target="_blank">Berkeley Student Cooperative</a> in Berkeley, California.
The building houses 50 students every semester.
The house phone number is 510-900-2179.
We are located at 1730 La Loma Avenue, just a few steps north of the Ridge Road and La Loma Avenue intersection, at the northeast corner of the <a class="page_link" href="http://www.berkeley.edu" target="_blank">UC Berkeley</a> campus.
Look for the big butterfly painted next to the front door.
</p>
<p>
Before it was purchased by the BSC, the property of Kingman Hall was known as the "Living Love Center."  If you have any knowledge of the Center's current whereabouts (if it is still active), please e-mail us with the information at <a class="page_link" href="mailto:knghm@bsc.coop">knghm@bsc.coop</a> so we can forward incoming mail appropriately.
</p>

<p>Please visit the <a class="page_link" href="http://www.berkeleyheritage.com/" target="_blank">Berkeley Architectural Heritage Association</a>'s page on the <a class="page_link" href="http://www.berkeleyheritage.com/berkeley_landmarks/theta-xi.html" target="_blank">history of Kingman Hall</a> for more information.
</p>
<div id="google_map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3149.2712727301296!2d-122.25850047364789!3d37.87733822178231!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857c2250585659%3A0x211221b4592e74dd!2s1730+La+Loma+Ave!5e0!3m2!1sen!2sus!4v1396782313453&wmode=opaque" width="600" height="400" frameborder="0" style="border:0" wmode="opaque"></iframe></div>
</div>
{% endblock %}

{% block gallery %}
<div class="slider-wrapper theme-default">
	<div class="ribbon"></div>
	<div id="slider" class="nivoSlider">
		<img class="page_image" src="{% static 'ui/images/IMG_0107.jpg' %}" />
		<img class="page_image" src="{% static 'ui/images/IMG_0108.jpg' %}" />
		<img class="page_image" src="{% static 'ui/images/IMG_0109.jpg' %}" />
		<img class="page_image" src="{% static 'ui/images/IMG_0110.jpg' %}" />
		<img class="page_image" src="{% static 'ui/images/IMG_0111.jpg' %}" />
		<img class="page_image" src="{% static 'ui/images/IMG_0112.jpg' %}" />
		<img class="page_image" src="{% static 'ui/images/IMG_0113.jpg' %}" />
		<img class="page_image" src="{% static 'ui/images/IMG_0114.jpg' %}" />
		<img class="page_image" src="{% static 'ui/images/IMG_0116.jpg' %}" />
		<img class="page_image" src="{% static 'ui/images/IMG_0117.jpg' %}" />
	</div>
</div>
{% endblock %}
{% block endscripts %}
<script type="text/javascript" src="{% static 'jquery/nivo/jquery.nivo.slider.js' %}"></script>
<script type="text/javascript">
	$(window).load(function() {
		$('#slider').nivoSlider({
			effect: 'slideInLeft',
			animSpeed: 800,
			pauseTime: 5000,
			startSlide: 0,
			directionNav: true,
			controlNav: true,
			pauseOnHover: true,
			prevText: '<',
			nextText: '>',
			
		});
	});
</script>
{% endblock %}
