{% extends "base.html" %}

{% block content %}
{% load static from staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/homepage.css' %}" />
<p>
Kingman Hall is one of the houses of the <a class="page_link" href="http://www.bsc.coop" target="_blank">Berkeley Student Cooperative</a> in Berkeley, California.
The building houses 50 students every semester.
The house phone number is 510-900-2179.
We are located at 1730 La Loma Avenue, just a few steps north of the Ridge Road and La Loma Avenue intersection, at the northeast corner of the <a class="page_link" href="http://www.berkeley.edu" target="_blank">UC Berkeley</a> campus.
Look for the big butterfly painted next to the front door.
</p>

<p>
Before it was purchased by the BSC, the property of Kingman Hall was known as the "Living Love Center."  If you have any knowledge of the Center's current whereabouts (if it is still active), please e-mail us with the information at <a class="page_link" href="mailto:knghm@bsc.coop">knghm@bsc.coop</a> so we can forward incoming mail appropriately.
</p>

<p>
<table class="page_table">
	<tr>
		<td><img class="page_image" src="{% static 'ui/house.jpg' %}" /></td>
		<td><img class="page_image" src="{% static 'ui/entrance.jpg' %}" /></td>
	</tr>
	<tr>
		<td><img class="page_image" src="{% static 'ui/map.gif' %}" /></td>
		<td><img class="page_image" src="{% static 'ui/farnsworth.jpg' %}" /></td>
	</tr>
</table>
</p>

<p>
The Berkeley Architectural Heritage Association has <a class="page_link" href="http://www.berkeleyheritage.com/berkeley_landmarks/theta-xi.html">more information on the history of our house</a>.</p>
{% endblock %}
