{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}

{% block headers %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/layout.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/list_rooms.css' %}" />
{% endblock %}

{% block content %}
<div class="table_container">
  <div class="header">
	<h3 class="table_title small_title">{{ page_name }}</h3>
  </div> <!-- .header -->
  <div class="rooms_table main_table">
	{% if not rooms %}
	<div class="field_wrapper text-info">No rooms found.</div>
	{% else %}
	<table class="table table-striped table-bordered table-condensed table-hover" style="margin: 0px;">
      <thead>
		<tr>
		  <th>Title</th>
		  <th>Unofficial Name</th>
		  <th>Max Occupancy</th>
		  <th>Residents</th>
		</tr>
      </thead>
      <tbody>
		{% for room in rooms %}
		<tr>
		  <td><a title="View Room" href="{% url 'view_room' room_title=room.title %}">{{ room.title }}</a></td>
		  <td>{{ room.unofficial_name }}</td>
		  <td>{{ room.occupancy }}</td>
		  <td>
			{% for person in room.residents.all %}
			{% if not forloop.first %},{% endif %}
			<a title="View Profile" href="{% url 'member_profile' targetUsername=person.user.username %}">{{ person }}</a>
			{% endfor %}
		  </td>
		</tr>
		{% endfor %}
      </tbody>
	</table>
	{% endif %}
  </div> <!-- .main_table -->
</div>
{% endblock %}
