{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/login.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-8">
	{% if ANONYMOUS_SESSION %}
	<div class="alert alert-info">Don't have an account?  <a href="{% url 'request_profile' %}">Click to request an account</a>.</div>
	{% endif %}
    <div id="login_form" class="table_container">
      <div class="header"><h3 class="table_title">Login</h3></div>
      <div class="main_table">
		<form method="post" action="">
		{% csrf_token %}
		<div class="form-group">
	    {{ form|bootstrap }}
	    <div class="text-center">
			<button type="submit" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-lock"></span>Enter</button>
		</div> <!-- .text-center -->
		</div> <!-- .form-group -->
		</form>
      </div> <!-- .main_table -->
    </div> <!-- #login_form -->
  </div> <!-- .col-md-8 -->
  <br class="hidden-md hidden-lg" />
  <div class="col-md-4">
	<div class="table_container">
	<div class="header"><h3 class="table_title">OAuth Login</h3></div>
    <ul id="oauth_request_form" class="list-group">
	  <a class="list-group-item" style="border-radius: 0;" title="Facebook" href="{% url 'social:begin' 'facebook' %}"><img height="30" width="30" src="{% static 'ui/images/oauth/fb.png' %}"> Facebook</a>
	  <a class="list-group-item" title="Google" href="{% url 'social:begin' 'google-oauth2' %}"><img height="30" width="30" src="{% static 'ui/images/oauth/google.png' %}"> Google</a>
	  <a class="list-group-item" title="GitHub" href="{% url 'social:begin' 'github' %}"><img height="30" width="30" src="{% static 'ui/images/oauth/github.ico' %}"> GitHub</a>
	  <a class="list-group-item" title="Steam" href="{% url 'social:begin' 'steam' %}"><img height="30" width="30" src="{% static 'ui/images/oauth/steam.png' %}"> Steam</a>
	  <a class="list-group-item" style="border-radius: 0;" title="Stack Overflow" href="{% url 'social:begin' 'stackoverflow' %}"><img height="30" width="30" src="{% static 'ui/images/oauth/stackoverflow.png' %}"> Stack Overflow</a>
    </ul> <!-- #oauth_request_form -->
    </div> <!-- .table_container -->
  </div> <!-- .col-md-4 -->
</div> <!-- .container -->
{% endblock %}
