{% extends "base.html" %}

{% load static from staticfiles %}
{% load request_tags %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/member_profile.css' %}" />
{% endblock %}

{% block content %}
	<div id="user_profile">
		<div class="header">
			{% if user.is_superuser and targetUser.username != ANONYMOUS_USERNAME and targetUser %}
				<form class="header_form" action="{% url 'custom_modify_user' targetUsername=targetUser.username %}">
					<button id="edit_profile" type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-wrench"></span><span class="hidden-xs"> Edit</span></button>
				</form>
			{% endif %}
			{% if targetUser %}
			<h3 class="table_title{% if targetUser.username|longer_than:'1234567890123456' %} medium_title{% elif targetUser.username|longer_than:'123456890' %} small_title{% endif %}">
				{{ targetUser.username }}'s Profile
			{% else %}
			<h3 class="table_title small_title">
				User Not Found
			{% endif %}
			</h3>
		</div> <!-- .header -->
		<div class="main_table">
		{% if message %}
			<div class="field_wrapper">{{ message }}</div>
		{% else %}
			<table id="profile_table">
			<tbody>
				<tr><th>Name:</th><td class="field">{{ targetUser.first_name }} {{ targetUser.last_name }}</td></tr>
				<tr><th>Status:</th><td class="field">{% if targetUser.username == ANONYMOUS_USERNAME %}Anonymous user for common space computers.{% else %}{{ targetProfile.get_status_display }}{% endif %}</td></tr>
				{% if not targetUser.username == ANONYMOUS_USERNAME %}
				<tr><th>Current Room:</th><td class="field">{{ targetProfile.current_room }}</td></tr>
				<tr><th>Former Rooms:</th><td class="field">{{ targetProfile.former_rooms }}</td></tr>
				<tr><th>Former Houses:</th><td class="field">{{ targetProfile.former_houses }}</td></tr>
				{% if targetProfile.email_visible %}
					<tr><th>E-mail:</th><td class="field"><a class="page_link" title="Write E-mail" href="mailto:{{ targetUser.email }}">{{ targetUser.email }}</a></td></tr>
				{% endif %}
				{% if targetProfile.phone_visible %}
					<tr><th>Phone:</th><td class="field">{{ targetProfile.phone_number }}</td></tr>
				{% endif %}
				<tr><th>Threads Started:</th><td class="field">{% if number_of_threads > 0 %}<a class="page_link" title="See Threads" href="{% url 'list_user_threads' targetUsername=targetUser.username %}">{{ number_of_threads }}</a>{% else %}{{ number_of_threads }}{% endif %}</td></tr>
				<tr><th>Requests Posted:</th><td class="field">{% if number_of_requests > 0 %}<a class="page_link" title="See Requests" href="{% url 'list_user_requests' targetUsername=targetUser.username %}">{{ number_of_requests }}</a>{% else %}{{ number_of_requests }}{% endif %}</a></td></tr>
				{% endif %}
			</tbody>
			</table>
		{% endif %}
		<hr>
		<div class="text-center">
			<form action="{% url 'member_directory' %}">
				<button id="member_directory" type="submit" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-book"></span> Member Directory</button>
			</form>
		</div>
		</div> <!-- .main_table -->
	</div>
{% endblock %}
