{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/threads.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/member_forums.css' %}" />
{% endblock %}

{% block content %}
<script>
	function show_new_thread_form() {
		document.getElementById("new_thread_form").style.display="inline";
	}
	function hide_new_thread_form() {
		document.getElementById("new_thread_form").style.display="none";
	}
	function show_and_focus() {
		show_new_thread_form();
		document.getElementById("id_subject").focus();
	}
	function show_new_message_form(message_form_id, button_id) {
		document.getElementById(message_form_id).style.display="inline";
		document.getElementById(button_id).style.display="none";
	}
	function hide_new_message_form(message_form_id, button_id) {
		document.getElementById(message_form_id).style.display="none";
		document.getElementById(button_id).style.display="inline";
	}
</script>
	<div class="threads">
		<div class="threads_title">Active Threads</div>
		<input class="add_thread" onclick="show_new_thread_form()" type="submit" value="New Thread" />
			<form id="new_thread_form" method="post" action="">
				{% csrf_token %}
				<table id="new_thread_table">
					{{ thread_form.as_table }}
				</table>
				<input class="button" id="submit_thread_form" name="submit_thread_form" type="submit" value="Start Thread" />
				<input class="button" id="cancel_thread_form" onclick="hide_new_thread_form()" type="button" value="Cancel" />
			</form>
		<div class="threads_table">
			{% if not active_threads %}
				<div class="threads_row">No threads active in the past 7 days.</div>
			{% else %}
				<div class="threads_row"><div class="table_header"><div class="thread_name">Subject</div><div class="thread_messages">Messages</div></div></div>
			{% endif %}
			{% for thread in active_threads %}
				<div class="threads_row">
					<div class="thread_name">{{ thread.subject }}</div>
					<div class="thread_messages">
						<div class="message_table">
						<div class="message_row">
						{% with y=forloop.counter|stringformat:"s" %}
						{% with message_form_id="message_form_"|add:y %}
						{% with button_id="button_"|add:y %}
						<form class="new_message_form" id="{{ message_form_id }}" method="post" action="">
							{% csrf_token %}
							{% for message_form in active_message_forms %}
								{% if message_form.thread_pk.value == thread.pk %}
									{{ message_form.thread_pk }}
									<textarea class="message" name="body"></textarea>
									<input class="submit_message_form" name="submit_message_form" type="submit" value="Post Message" />
									<input class="cancel_message_form" onclick="hide_new_message_form('{{ message_form_id }}', '{{ button_id }}')" type="button" value="Cancel" />
								{% endif %}
							{% endfor %}
						</form>
						<input class="add_message" type="button" id="{{ button_id }}" onclick="show_new_message_form('{{ message_form_id }}', '{{ button_id }}')" value="Add Message to Thread" />
						{% endwith %}
						{% endwith %}
						{% endwith %}
						</div>
						{% for message in active_messages %}
							{% if message.thread == thread %}
							<div class="message_row"><div class="message_owner"><a class="profile_link" href="{% url 'member_profile' targetUsername=message.owner.user.username %}" >{% if message.owner.user == user %}You{% else %}{{ message.owner.user.first_name }} {{ message.owner.user.last_name }}{% endif %}</a> ({{ message.post_date }}):</div><hr class="message_divider" \> <div class="message_body">{{ message.body|safe }}</div></div>
							{% endif %}
						{% endfor %}
					</div></div>
				</div>
			{% endfor %}
		</div>
		<div class="more_threads"><a href="{% url 'all_threads' %}" >See All Threads</a></div>
	</div>
	<div class="threads">
		<div class="threads_title">My Recent Threads</div>
		<input class="add_thread" onclick="show_and_focus()" type="submit" value="New Thread" />
		<div class="threads_table">
			{% if not my_threads %}
				<div class="threads_row">You have no threads.</div>
			{% else %}
				<div class="threads_row"><div class="table_header"><div class="thread_name">Subject</div><div class="thread_messages">Messages</div></div></div>
			{% endif %}
			{% for thread in my_threads %}
				<div class="threads_row">
					<div class="thread_name">{{ thread.subject }}</div>
					<div class="thread_messages">
						<div class="message_table">
						<div class="message_row">
						{% with y=forloop.counter|stringformat:"s" %}
						{% with message_form_id="message_form_2_"|add:y %}
						{% with button_id="button_2_"|add:y %}
						<form class="new_message_form" id="{{ message_form_id }}" method="post" action="">
							{% csrf_token %}
							{% for message_form in active_message_forms %}
								{% if message_form.thread_pk.value == thread.pk %}
									{{ message_form.thread_pk }}
									<textarea class="message" name="body"></textarea>
									<input class="submit_message_form" name="submit_message_form" type="submit" value="Post Message" />
									<input class="cancel_message_form" onclick="hide_new_message_form('{{ message_form_id }}', '{{ button_id }}')" type="button" value="Cancel" />
								{% endif %}
							{% endfor %}
						</form>
						<input class="add_message" type="button" id="{{ button_id }}" onclick="show_new_message_form('{{ message_form_id }}', '{{ button_id }}')" value="Add Message to Thread" />
						{% endwith %}
						{% endwith %}
						{% endwith %}
						</div>
						{% for message in active_messages %}
							{% if message.thread == thread %}
							<div class="message_row"><div class="message_owner"><a class="profile_link" href="{% url 'member_profile' targetUsername=message.owner.user.username %}" >{% if message.owner.user == user %}You{% else %}{{ message.owner.user.first_name }} {{ message.owner.user.last_name }}{% endif %}</a> ({{ message.post_date }}):</div><hr class="message_divider" \> <div class="message_body">{{ message.body|safe }}</div></div>
							{% endif %}
						{% endfor %}
					</div></div>
				</div>
			{% endfor %}
		</table>
		{% if my_threads %}
			<div class="more_threads"><a href="{% url 'my_threads' %}">See All My Threads</a></div>
		{% endif %}
	</div>
{% endblock %}
