{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/threads.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/member_forums.css' %}" />
{% endblock %}

{% block content %}
<script>
  function show_new_thread_form() {
  document.getElementById("new_thread_form").style.display="inline";
  }
  function hide_new_thread_form() {
  document.getElementById("new_thread_form").style.display="none";
  }
  function show_new_message_form(message_form_id, button_id) {
  document.getElementById(message_form_id).style.display="inline";
  document.getElementById(button_id).style.display="none";
  }
  function hide_new_message_form(message_form_id, button_id) {
  document.getElementById(message_form_id).style.display="none";
  document.getElementById(button_id).style.display="inline";
  }
</script>
<div class="threads">
  <div class="table_header">
    <input class="btn btn-primary btn-lg add_thread" align="right" onclick="show_new_thread_form()" type="submit" value="New Thread" />
    <h3 class="thread_title">{{ thread_title }}</h3>
  </div> <!-- table_header -->
  <form id="new_thread_form" method="post" action="">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_subject">Subject</label>
      <input id="id_subject" class="form-control" maxlength="300" name="subject" size="100" type="text">
      <textarea class="thread" id="id_body" name="body"></textarea>
      <button type="submit" class="btn btn-lg btn-success" name="submit_thread_form">Start Thread</button>
      <input type="button" class="btn btn-lg btn-warning" name="cancel_thread_form" value="Cancel" onclick="hide_new_thread_form()">
    </div>
  </form>
  <div class="container-fluid threads_table">
    {% if not threads %}
    <div class="field_wrapper">No threads active in the past 3 days.</div>
    {% else %}
    {% for thread in threads %}
    {% if forloop.counter > 1 %}
    <hr/>
    {% endif %}
    
    <div class="thread_messages">
      <div class="message_table">
	<h3 class="thread_name">{{ thread.subject }}</h3>

	{% for message in messages %}
	{% if message.thread == thread %}
	{% if forloop.counter > 1 %}
	<hr id="message_divider" />
	{% endif %}
	<div class="message_row">
	  <div class="message_owner">
	    <a class="page_link" href="{% url 'member_profile' targetUsername=message.owner.user.username %}" >
	      {% if message.owner.user == user %}You{% else %}{{ message.owner.user.first_name }} {{ message.owner.user.last_name }}{% endif %}</a> ({{ message.post_date }}):
	  </div>
	  <div class="message_body">{{ message.body|safe }}</div>
	</div> <!-- message_row -->
	{% endif %}
	{% endfor %}

	<div class="text-center">
	  {% with y=forloop.counter|stringformat:"s" %}
	  {% with message_form_id="message_form_"|add:y %}
	  {% with button_id="button_"|add:y %}
	  <input class="btn btn-lg btn-primary" type="button" id="{{ button_id }}" onclick="show_new_message_form('{{ message_form_id }}', '{{ button_id }}')" value="Add Message to Thread" />
	  <form class="new_message_form add_thread" id="{{ message_form_id }}" method="post" action="">
	    {% csrf_token %}
	    {% for message_form in message_forms %}
	    {% if message_form.thread_pk.value == thread.pk %}
	    {{ message_form.thread_pk }}
	    <textarea class="message" name="body"></textarea>
	    <div class="container-fluid">
	      <div class="row">
		<div class="col-md-6">
		  <input class="btn btn-lg btn-success" name="submit_message_form" type="submit" value="Post Message" />
		</div>
		<div class="col-md-6">
		  <input class="btn btn-lg btn-warning" onclick="hide_new_message_form('{{ message_form_id }}', '{{ button_id }}')" type="button" value="Cancel" />
		</div>
	      </div>
	    </div> <!-- container-fluid -->
	    {% endif %}
	    {% endfor %}
	  </form>
	  {% endwith %}
	  {% endwith %}
	  {% endwith %}
	</div>
      </div> <!-- message_table -->
    </div> <!-- thread_messages -->
    {% endfor %}
    {% endif %}
  </div> <!-- threads_table -->
</div>
{% endblock %}
