{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/my_profile.css' %}" />
{% endblock %}

{% block content %}
	<div id="update_profile">
		<div class="header"><h3 class="table_title">Update Your Profile</h3></div>
		<form method="post" action="">
			{% csrf_token %}
			<div class="form-group">
				{{ update_profile_form|bootstrap }}
				<div class="text-center"><button type="submit" class="btn btn-lg btn-success" name="submit_profile_form"><span class="glyphicon glyphicon-floppy-disk"></span> Update Profile</button></div>
			</div>
		</form>
	</div>
	<div id="change_password">
		<div class="header"><h3 class="table_title">Change Password</h3></div>
		<form method="post" action="">
			{% csrf_token %}
			<div class="form-group">
				{{ change_password_form|bootstrap }}
				<div class="text-center"><button type="submit" class="btn btn-lg btn-danger" name="submit_password_form"><span class="glyphicon glyphicon-warning-sign"></span> Change Password</button></div>
			</div>
		</form>
	</div>
{% endblock %}
