{% extends "base.html" %}

{% load static from staticfiles %}
{% load thread_tags %}
{% load request_tags %}
{% block headers %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/layout.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/my_requests.css' %}" />
<script>
  function show_new_request_form(request_form_id) {
  document.getElementById(request_form_id).style.display="inline";
  }
  function hide_new_request_form(request_form_id) {
  document.getElementById(request_form_id).style.display="none";
  }
  function show_new_response_form(response_form_id, button_id) {
  document.getElementById(response_form_id).style.display="inline";
  document.getElementById(button_id).style.display="none";
  }
  function hide_new_response_form(response_form_id, button_id) {
  document.getElementById(response_form_id).style.display="none";
  document.getElementById(button_id).style.display="inline";
  }
</script>
{% endblock %}

{% block content %}
{% if not request_dict %}
<div class="text-center field_wrapper text-info">There are no active request types.</div>
{% else %}
{% for type_tuple in request_dict %}
{% with x=forloop.counter|stringformat:"s" %}
<div class="requests table_container">
  {% with request_form_id="request_form_"|add:x %}
  <div class="header">
	{% if type_tuple.0.enabled %}
    <button class="btn btn-primary add_request" onclick="show_new_request_form('{{ request_form_id }}')" type="button"><span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs"> New Request</span></button>
    {% endif %}
    <h3 class="table_title {% if type_tuple.0.name|longer_than:'123456789012' %}large{% elif type_tuple.0.name|longer_than:'123456' %}medium{% else %}small{% endif %}_title">My {{ type_tuple.0.name }} Requests</h3>
  </div> <!-- header -->
  <div class="main_table">
  {% if type_tuple.0.enabled %}
  <form class="new_request_form" id="{{ request_form_id }}" method="post" action="">
    {% csrf_token %}
	{{ type_tuple.1.type_pk }}
    <div class="form-group">
      <label for="id_body">New {{ type_tuple.0.name }} Request</label>
      <textarea name="body"></textarea>
      <div class="text-center">
      <div class="btn-group">
      <button type="submit" class="btn btn-success" name="submit_request"><span class="glyphicon glyphicon-inbox"></span> Submit Request</button>
      <button type="button" class="btn btn-default" name="cancel_request_form" onclick="hide_new_request_form('{{ request_form_id }}')"><span class="glyphicon glyphicon-collapse-up"></span> Hide</button>
      </div>
      </div>
    </div>
  </form>
  {% else %}
  <div class="field_wrapper text-danger">This request type has been disabled.</div>
  {% endif %}
  {% endwith %}
  <div class="requests_table">
    {% if not type_tuple.3 %}
    <div class="field_wrapper text-info">You have no {{ type_tuple.0.name.lower }} requests.</div>
    {% else %}
    {% for request_tuple in type_tuple.3 %}
    {% if forloop.counter > 1 %}
    <hr class="main_divider"/>
    {% endif %}

    <div class="requests_row">
      <div class="request_name{% if request_tuple.0.filled %} bg-success" title="Filled"{% elif request_tuple.0.closed %} bg-danger" title="Closed"{% else %} bg-warning" title="Open"{% endif %}>
	<div class="request_owner">
	  <a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=request_tuple.0.owner.user.username %}" >{{ request_tuple.0.owner|display_user:user }}</a>
	  ({{ request_tuple.0.post_date }}):
	</div> <!-- request_owner -->
	<div class="request_body">{{ request_tuple.0.body|safe }}</div>
      </div> <!-- request_name -->

      <div class="request_responses">
	<div class="response_table">
	  {% for response in request_tuple.1 %}
	  {% if forloop.counter > 1 %}
	  <hr class="main_divider" />
	  {% endif %}
	  <div class="response_row{% if response.manager %} bg-info" title="Manager Response{% endif %}">
	    <div class="response_owner">
	      <a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=response.owner.user.username %}" >{{ response.owner|display_user:user }}</a> ({{ response.post_date }}):
	    </div> <!-- response_owner -->
	    <div class="response_body">
	      {{ response.body|safe }}
	    </div> <!-- response_body -->
	  </div> <!-- response_row -->
	  {% endfor %}

	    {% with y=forloop.counter|stringformat:"s" %}
	    {% with response_form_id="response_form_"|add:x|add:"_"|add:y %}
	    {% with button_id="button_"|add:x|add:"_"|add:y %}
		<div class="text-center">
	    <button class="btn btn-primary" type="button" id="{{ button_id }}" onclick="show_new_response_form('{{ response_form_id }}', '{{ button_id }}')"><span class="glyphicon glyphicon-paperclip"></span> Add Response</button>
		</div> <!-- text-center -->
	    <form class="new_response_form add_response" id="{{ response_form_id }}" method="post" action="">
	      {% csrf_token %}
	      {{ request_tuple.2.request_pk }}
	      <div class="form-group">
		<label for="id_body">Add Response</label>
	      <textarea class="response" name="body"></textarea>
	      {% if type_tuple.2 %}
		      <div class="checkbox">{{ request_tuple.2.mark_filled }}<label for="id_mark_filled">Filled</label></div>
		      <div class="checkbox">{{ request_tuple.2.mark_closed }}<label for="id_mark_closed">Closed</label></div>
	      {% endif %}
	      <div class="text-center">
	      <div class="btn-group">
	      <button type="submit" class="btn btn-success" name="add_response"><span class="glyphicon glyphicon-send"></span> Post Message</button>
	      <button type="button" class="btn btn-default" name="cancel_response_form" onclick="hide_new_response_form('{{ response_form_id }}', '{{ button_id }}')"><span class="glyphicon glyphicon-collapse-up"></span> Hide</button>
	      </div>
	      </div>
	      </div> <!-- form-group -->
	    </form>
	    {% endwith %}
	    {% endwith %}
	    {% endwith %}
	  </div> <!-- response_row -->
	</div> <!-- response_table -->
      </div> <!-- request_name -->
    {% endfor %}
    {% endif %}
    </div>
  </div> <!-- .main_table -->
</div>
{% endwith %}
{% endfor %}
{% endif %}
{% endblock %}
