{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/layout.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/my_requests.css' %}" />
<script>
  function show_new_request_form(request_form_id) {
  document.getElementById(request_form_id).style.display="inline";
  }
  function hide_new_request_form(request_form_id) {
  document.getElementById(request_form_id).style.display="none";
  }
  function show_new_response_form(response_form_id, button_id) {
  document.getElementById(response_form_id).style.display="inline";
  document.getElementById(button_id).style.display="none";
  }
  function hide_new_response_form(response_form_id, button_id) {
  document.getElementById(response_form_id).style.display="none";
  document.getElementById(button_id).style.display="inline";
  }
</script>
{% endblock %}

{% block content %}
{% for type_tuple in request_dict %}
{% with x=forloop.counter|stringformat:"s" %}
<div class="requests">
  {% with request_form_id="request_form_"|add:x %}
  <div class="table_header">
    <input class="btn btn-primary add_request" onclick="show_new_request_form('{{ request_form_id }}')" type="submit" value="New Request" />
    <h3 class="requests_title">My {{ type_tuple.0|title }} Requests</h3>
  </div> <!-- table_header -->
  <form class="new_request_form" id="{{ request_form_id }}" method="post" action="">
    {% csrf_token %}
	{{ type_tuple.1.type_pk }}
    <div class="form-group">
      <label for="id_body">New {{ type_tuple.0|title }} Request</label>
      <textarea name="body"></textarea>
      <div class="text-center">
      <div class="btn-group">
      <button type="submit" class="btn btn-success" name="submit_request">Submit Request</button>
      <input type="button" class="btn btn-warning" name="cancel_request_form" onclick="hide_new_request_form('{{ request_form_id }}')" value="Cancel" />
      </div>
      </div>
    </div>
  </form>
  {% endwith %}
  <div class="requests_table">
    {% if not type_tuple.3 %}
    <div class="field_wrapper">You have no {{ type_tuple.0 }} requests.</div>
    {% else %}
    {% for request_tuple in type_tuple.3 %}
    {% if forloop.counter > 1 %}
    <hr/>
    {% endif %}

    <div class="requests_row">
      <div class="request_name">
	<div class="request_owner">
	  {% if request_tuple.0.filled %}
	  <img src="{% static 'admin/img/icon-yes.gif' %}" alt="Filled"/>
	  {% elif request_tuple.0.closed %}
	  <img src="{% static 'admin/img/icon-no.gif' %}" alt="Closed">
	  {% endif %}
	  <a class="page_link" href="{% url 'member_profile' targetUsername=request_tuple.0.owner.user.username %}" >
	    {% if request_tuple.0.owner.user == user %}You{% else %}{{ request_tuple.0.owner.user.first_name }} {{ request_tuple.0.owner.user.last_name }}{% endif %}</a>
	  ({{ request_tuple.0.post_date }}):
	</div> <!-- request_owner -->
	<hr class="response_divider" />
	<div class="request_body">{{ request_tuple.0.body|safe }}</div>
      </div> <!-- request_name -->

      <div class="request_responses">
	<div class="response_table">
	  {% for response in request_tuple.1 %}
	  {% if forloop.counter > 1 %}
	  <hr id="response_divider" />
	  {% endif %}
	  <div class="response_row{% if response.manager %} manager_response{% endif %}">
	    <div class="response_owner">
	      <a class="page_link" href="{% url 'member_profile' targetUsername=response.owner.user.username %}" >
		{% if response.owner.user == user %}You{% else %}{{ response.owner.user.first_name }} {{ response.owner.user.last_name }}{% endif %}
	      </a> ({{ response.post_date }}):
	    </div> <!-- response_owner -->
	    <hr class="response_divider" />
	    <div class="response_body">
	      {{ response.body|safe }}
	    </div> <!-- response_body -->
	  </div> <!-- response_row -->
	  {% endfor %}

	  <div class="text-center">
	    {% with y=forloop.counter|stringformat:"s" %}
	    {% with response_form_id="response_form_"|add:x|add:"_"|add:y %}
	    {% with button_id="button_"|add:x|add:"_"|add:y %}
	    <input class="btn btn-primary" type="button" id="{{ button_id }}" onclick="show_new_response_form('{{ response_form_id }}', '{{ button_id }}')" value="Add Response" />
	  </div> <!-- text-center -->
	    <form class="new_response_form add_response" id="{{ response_form_id }}" method="post" action="">
	      {% csrf_token %}
	      {{ request_tuple.2.request_pk }}
	      <div class="form-group">
		<label for="id_body">Add Response</label>
	      <textarea class="response" name="body"></textarea>
	      {% if type_tuple.2 %}
		      <div class="checkbox">{{ request_tuple.2.mark_filled }}<label for="id_mark_filled">Filled</label></div>
		      <div class="checkbox">{{ request_tuple.2.mark_closed }}<label for="id_mark_closed">Closed</label></div>
	      {% endif %}
	      <div class="text-center">
	      <div class="btn-group">
	      <button type="submit" class="btn btn-success" name="add_response">Post Message</button>
	      <input type="button" class="btn btn-warning" name="cancel_response_form" value="Cancel" onclick="hide_new_response_form('{{ response_form_id }}', '{{ button_id }}')" />
	      </div>
	      </div>
	      </div> <!-- form-group -->
	    </form>
	    {% endwith %}
	    {% endwith %}
	    {% endwith %}
	  </div> <!-- response_row -->
	</div> <!-- response_table -->
      </div> <!-- request_name -->
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endwith %}
{% endfor %}
{% endblock %}
