{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/layout.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/requests.css' %}" />
{% endblock %}

{% block content %}
<script>
  function show_new_request_form() {
  document.getElementById("new_request_form").style.display="inline";
  }
  function hide_new_request_form() {
  document.getElementById("new_request_form").style.display="none";
  }
  function show_new_response_form(response_form_id, button_id) {
  document.getElementById(response_form_id).style.display="inline";
  document.getElementById(button_id).style.display="none";
  }
  function hide_new_response_form(response_form_id, button_id) {
  document.getElementById(response_form_id).style.display="none";
  document.getElementById(button_id).style.display="inline";
  }
</script>
<div class="requests">
  <div class="table_header">
    <button type="button" class="btn btn-primary add_request" onclick="show_new_request_form()"><span class="glyphicon glyphicon-pencil"></span> New Request</button>
    <h3 class="requests_title">Recent {{ request_type|title }} Requests</h3>
  </div> <!-- table_header -->
  <form id="new_request_form" method="post" action="">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_body">New Request</label>
      <textarea id="id_body" name="body"></textarea>
      <div class="text-center">
      <div class="btn-group">
      <button type="submit" class="btn btn-success" name="submit_request"><span class="glyphicon glyphicon-inbox"></span> Submit Request</button>
      <button type="button" class="btn btn-default" name="cancel_request_form" onclick="hide_new_request_form()"><span class="glyphicon glyphicon-collapse-up"></span> Cancel</button>
      </div>
      </div>
    </div>
  </form>

  <div class="requests_table">
    {% if not requests_dict %}
    <div class="field_wrapper">No {{ request_type }} requests found.</div>
    {% else %}
    {% for request_tuple in requests_dict %}
    {% if forloop.counter > 1 %}
    <hr/>
    {% endif %}

    <div class="requests_row">
      <div class="request_name">
	<div class="request_owner">
	  {% if request_tuple.0.filled %}
	  <img src="{% static 'admin/img/icon-yes.gif' %}" alt="Filled"/>
	  {% elif request_tuple.0.closed %}
	  <img src="{% static 'admin/img/icon-no.gif' %}" alt="Closed">
	  {% endif %}
	  <a class="page_link" href="{% url 'member_profile' targetUsername=request_tuple.0.owner.user.username %}" >
	    {% if request_tuple.0.owner.user == user %}You{% else %}{{ request_tuple.0.owner.user.first_name }} {{ request_tuple.0.owner.user.last_name }}{% endif %}</a>
	  ({{ request_tuple.0.post_date }}):
	</div> <!-- request_owner -->
	<div class="request_body">{{ request_tuple.0.body|safe }}</div>
      </div> <!-- request_name -->

      <div class="request_responses">
	<div class="response_table">
	  {% for response in request_tuple.1 %}
	  {% if forloop.counter > 1 %}
	  {% endif %}
	  <div class="response_row{% if response.manager %} manager_response{% endif %}">
	    <div class="response_owner">
	      <a class="page_link" href="{% url 'member_profile' targetUsername=response.owner.user.username %}" >
		{% if response.owner.user == user %}You{% else %}{{ response.owner.user.first_name }} {{ response.owner.user.last_name }}{% endif %}
	      </a> ({{ response.post_date }}):
	    </div> <!-- response_owner -->
	    <div class="response_body">
	      {{ response.body|safe }}
	    </div> <!-- response_body -->
	  </div> <!-- response_row -->
	  {% endfor %}

	  <div class="text-center">
	    {% with y=forloop.counter|stringformat:"s" %}
	    {% with response_form_id="response_form_"|add:y %}
	    {% with button_id="button_"|add:y %}
	    <button class="btn btn-primary" type="button" id="{{ button_id }}" onclick="show_new_response_form('{{ response_form_id }}', '{{ button_id }}')"><span class="glyphicon glyphicon-paperclip"></span> Add Response</button>
	  </div> <!-- text-center -->
	    <form class="new_response_form add_response" id="{{ response_form_id }}" method="post" action="">
	      {% csrf_token %}
	      {{ request_tuple.2.request_pk }}
	      <div class="form-group">
		<label for="id_body">Add Response</label>
	        <textarea class="response" name="body"></textarea>
	        {% if manager %}
		      <div class="checkbox">{{ request_tuple.2.mark_filled }}<label for="id_mark_filled">Filled</label></div>
		      <div class="checkbox">{{ request_tuple.2.mark_closed }}<label for="id_mark_closed">Closed</label></div>
	        {% endif %}
	        <div class="text-center">
	        <div class="btn-group">
	          <button type="submit" class="btn btn-success" name="add_response"><span class="glyphicon glyphicon-send"></span> Post Message</button>
	          <button type="button" class="btn btn-default" name="cancel_response_form" onclick="hide_new_response_form('{{ response_form_id }}', '{{ button_id }}')"><span class="glyphicon glyphicon-collapse-up"></span> Cancel</button>
	        </div>
	        </div>
	      </div> <!-- form-group -->
	    </form>
	    {% endwith %}
	    {% endwith %}
	    {% endwith %}
	  </div> <!-- response_row -->
	</div> <!-- response_table -->
      </div> <!-- request_name -->
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
