{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap %}
{% block headers %}
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/request_profile.css' %}" />
{% endblock %}

{% block content %}
	<div id="profile_request_form">
		<div class="header"><h3 class="table_title">Request a User Profile</h3></div>
		<form method="post" action="">
			{% csrf_token %}
			<div class="form-group">
				{{ form|bootstrap }}
				<div class="text-center"><button type="submit" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-send"></span> Submit</button></div>
			</div>
		</form>
	</div>
{% endblock %}
