{% extends "base.html" %}

{% load static from staticfiles %}
{% load thread_tags %}
{% load request_tags %}
{% block headers %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/layout.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/requests.css' %}" />
{% endblock %}

{% block content %}
<script>
  function show_new_request_form() {
  document.getElementById("new_request_form").style.display="inline";
  }
  function hide_new_request_form() {
  document.getElementById("new_request_form").style.display="none";
  }
  function show_new_response_form(response_form_id, button_id) {
  document.getElementById(response_form_id).style.display="inline";
  document.getElementById(button_id).style.display="none";
  }
  function hide_new_response_form(response_form_id, button_id) {
  document.getElementById(response_form_id).style.display="none";
  document.getElementById(button_id).style.display="inline";
  }
</script>
<div class="requests table_container">
  <div class="header">
    <button type="button" class="btn btn-primary add_request" onclick="show_new_request_form()"><span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs"> New Request</span></button>
    <h3 class="table_title {%if request_type|longer_than:'123' %}medium{% else %}small{% endif %}_title">Recent {{ request_type|title }} Requests</h3>
  </div> <!-- table_header -->
  <div class="main_table">
  <form id="new_request_form" method="post" action="">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_body">New Request</label>
      <textarea id="id_body" name="body"></textarea>
      <div class="text-center">
      <div class="btn-group">
      <button type="submit" class="btn btn-success" name="submit_request"><span class="glyphicon glyphicon-inbox"></span> Submit Request</button>
      <button type="button" class="btn btn-default" name="cancel_request_form" onclick="hide_new_request_form()"><span class="glyphicon glyphicon-collapse-up"></span> Hide</button>
      </div>
      </div>
    </div>
  </form>

  <div class="requests_table">
    {% if not requests_dict %}
    <div class="field_wrapper">No {{ request_type }} requests found.</div>
    {% else %}
    {% for request_tuple in requests_dict %}
    {% if forloop.counter > 1 %}
    <hr class="main_divider"/>
    {% endif %}

    <div class="requests_row">
      <div class="request_name{% if request_tuple.0.filled %} bg-success" title="Filled"{% elif request_tuple.0.closed %} bg-danger" title="Closed"{% else %} bg-warning" title="Open"{% endif %}>
	<div class="request_owner">
		{% if not request_tuple.0.owner.user = user and user.username != ANONYMOUS_USERNAME %}
		<form style="display: inline; float: right; position: relative; top: -6px; margin-right: 2px;" method="POST" action="">
			{% csrf_token %}
			{{ request_tuple.5 }}
		<div class="btn-group btn-group-xs">
			<button type="submit" class="btn btn-{% if request_tuple.3 %}success" title="Cancel Up Vote"{% else %}default" title="Up Vote"{% endif %} name="upvote"><span class="glyphicon glyphicon-thumbs-up"></span></button>
			<button type="submit" class="btn btn-{% if request_tuple.4 %}danger" title="Cancel Down Vote"{% else %}default" title="Down Vote"{% endif %} name="downvote"><span class="glyphicon glyphicon-thumbs-down"></span></button>
		</div>
		</form>
		{% endif %}
		{% with vote_count_request=request_tuple.0 %}
		{% include "vote_list.html" %}
		{% endwith %}
	</div> <!-- request_owner -->
	<div class="request_body">{{ request_tuple.0.body|safe }}</div>
      </div> <!-- request_name -->

      <div class="request_responses">
	<div class="response_table">
	  {% for response in request_tuple.1 %}
	  {% if forloop.counter > 1 %}
    <hr class="main_divider"/>
	  {% endif %}
	  <div class="response_row{% if response.manager %} bg-info" title="Manager Response{% endif %}">
	    <div class="response_owner">
	      <a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=response.owner.user.username %}" >{{ response.owner|display_user:user }}</a> ({{ response.post_date }}):
	    </div> <!-- response_owner -->
	    <div class="response_body">
	      {{ response.body|safe }}
	    </div> <!-- response_body -->
	  </div> <!-- response_row -->
	  {% endfor %}

	  <div class="text-center">
	    {% with y=forloop.counter|stringformat:"s" %}
	    {% with response_form_id="response_form_"|add:y %}
	    {% with button_id="button_"|add:y %}
	    <button class="btn btn-primary" type="button" id="{{ button_id }}" onclick="show_new_response_form('{{ response_form_id }}', '{{ button_id }}')"><span class="glyphicon glyphicon-paperclip"></span> Add Response</button>
	  </div> <!-- text-center -->
	    <form class="new_response_form add_response" id="{{ response_form_id }}" method="post" action="">
	      {% csrf_token %}
	      {{ request_tuple.2.request_pk }}
	      <div class="form-group">
		<label for="id_body">Add Response</label>
	        <textarea class="response" name="body"></textarea>
	        {% if manager %}
		      <div class="checkbox">{{ request_tuple.2.mark_filled }}<label for="id_mark_filled">Filled</label></div>
		      <div class="checkbox">{{ request_tuple.2.mark_closed }}<label for="id_mark_closed">Closed</label></div>
	        {% endif %}
	        <div class="text-center">
	        <div class="btn-group">
	          <button type="submit" class="btn btn-success" name="add_response"><span class="glyphicon glyphicon-send"></span> Post Message</button>
	          <button type="button" class="btn btn-default" name="cancel_response_form" onclick="hide_new_response_form('{{ response_form_id }}', '{{ button_id }}')"><span class="glyphicon glyphicon-collapse-up"></span> Hide</button>
	        </div>
	        </div>
	      </div> <!-- form-group -->
	    </form>
	    {% endwith %}
	    {% endwith %}
	    {% endwith %}
	  </div> <!-- response_row -->
	</div> <!-- response_table -->
      </div> <!-- request_name -->
    {% endfor %}
    {% endif %}
  </div> <!-- .requests_table -->
  </div> <!-- .main_table -->
</div>
{% endblock %}
