{% extends "base.html" %}

{% load static from staticfiles %}

{% block headers %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/layout.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/threads.css' %}" />
{% endblock %}

{% block content %}
<div class="threads">
  <div class="header">
    <button class="btn btn-primary add_thread" align="right" onclick="show_new_thread_form()" type="button"><span class="glyphicon glyphicon-pencil"></span> New Thread</button>
    <h3 class="table_title">{{ thread_title }}</h3>
  </div> <!-- table_header -->
  <form id="new_thread_form" method="post" action="">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_subject">Subject</label>
      <input id="id_subject" class="form-control" maxlength="300" name="subject" size="100" type="text">
      <textarea class="thread" id="id_body" name="body"></textarea>
      <div class="text-center">
      <div class="btn-group">
        <button type="submit" class="btn btn-success" name="submit_thread_form"><span class="glyphicon glyphicon-comment"></span> Start Thread</button>
        <button type="button" class="btn btn-default" name="cancel_thread_form" onclick="hide_new_thread_form()"><span class="glyphicon glyphicon-collapse-up"></span> Hide</button>
      </div>
      </div>
    </div>
  </form>
  <div class="threads_table">
    {% if not threads_dict %}
    <div class="field_wrapper">No threads found.</div>
    {% else %}
    {% for thread_tuple in threads_dict %}
    {% if forloop.counter > 1 %}
    <hr/>
    {% endif %}
    <div class="thread_messages">
      <div class="message_table">
	<h3 class="thread_name">{{ thread_tuple.0 }}<br /><a title="View Thread" class="thread_link" href="{% url 'view_thread' thread_pk=thread_tuple.2 %}"><span style="font-size: 50%; color: #7e7e7e;">{% if thread_tuple.3 > 0 %} ({{ thread_tuple.3 }} older messages){% endif %}</span></a></h3>
	{% for message in thread_tuple.1 %}
	{% if forloop.counter > 1 %}
	<hr class="message_divider" />
	{% endif %}
	<div class="message_row">
	  <div class="message_owner">
	    <a class="page_link" href="{% url 'member_profile' targetUsername=message.owner.user.username %}" >
	      {% if message.owner.user == user %}You{% else %}{{ message.owner.user.first_name }} {{ message.owner.user.last_name }}{% endif %}</a> ({{ message.post_date }}):
	  </div>
	  <div class="message_body">{{ message.body|safe }}</div>
	</div> <!-- message_row -->
	{% endfor %}

	  {% with y=forloop.counter|stringformat:"s" %}
	  {% with message_form_id="message_form_"|add:y %}
	  {% with button_id="button_"|add:y %}
	<div class="text-center">
	  <button class="btn btn-primary" type="button" id="{{ button_id }}" onclick="show_new_message_form('{{ message_form_id }}', '{{ button_id }}')"><span class="glyphicon glyphicon-paperclip"></span> Add Message</button>
	</div>
	  <form class="new_message_form" id="{{ message_form_id }}" method="post" action="">
	    {% csrf_token %}
	    <input id="id_thread_pk" name="thread_pk" type="hidden" value="{{ thread_tuple.2 }}">
	  	<div class="form-group">
			<label for="id_body">Add Message</label>
			<textarea name="body"></textarea>
			<div class="text-center">
			<div class="btn-group">
				<button type="submit" class="btn btn-success" name="submit_message_form"><span class="glyphicon glyphicon-comment"></span> Post Message</button>
				<button type="button" class="btn btn-default" name="cancel_message_form" onclick="hide_new_message_form('{{ message_form_id }}', '{{ button_id }}')"><span class="glyphicon glyphicon-collapse-up"></span> Hide</button>
			</div>
			</div>
		</div>
	  </form>
	  {% endwith %}
	  {% endwith %}
	  {% endwith %}
      </div> <!-- message_table -->
    </div> <!-- thread_messages -->
    {% endfor %}
    {% endif %}
  </div> <!-- threads_table -->
</div>
{% endblock %}

{% block endscripts %}
<script>
  function show_new_thread_form() {
  document.getElementById("new_thread_form").style.display="inline";
  }
  function hide_new_thread_form() {
  document.getElementById("new_thread_form").style.display="none";
  }
  function show_new_message_form(message_form_id, button_id) {
  document.getElementById(message_form_id).style.display="inline";
  document.getElementById(button_id).style.display="none";
  }
  function hide_new_message_form(message_form_id, button_id) {
  document.getElementById(message_form_id).style.display="none";
  document.getElementById(button_id).style.display="inline";
  }
</script>
{% endblock %}
