{% extends "base.html" %}

{% load static from staticfiles %}
{% load thread_tags %}
{% load bootstrap %}
{% block headers %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/layout.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/content.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ui/css/requests.css' %}" />
{% endblock %}

{% block content %}
<div class="requests table_container">
  <div class="header">
	{% if relevant_request %}
    <form action="{% url 'list_all_requests' requestType=relevant_request.request_type.url_name %}">
	<button class="btn btn-info header_button" type="submit"><span class="glyphicon glyphicon-{% if relevant_request.request_type.glyphicon %}{{ relevant_request.request_type.glyphicon }}{% else %}inbox{% endif %}"></span><span class="hidden-xs"> List All Requests</span></button>
	</form>
	{% endif %}
    <h3 class="table_title">{{ page_name }}</h3>
  </div> <!-- table_header -->
  <div class="requests_table main_table">
    {% if not relevant_request %}
    <div class="field_wrapper text-warning">Request not found.</div>
    {% else %}
	<div class="request_name{% if relevant_request.filled %} bg-success" title="Filled"{% elif relevant_request.closed %} bg-danger" title="Closed"{% else %} bg-warning" title="Open"{% endif %}>
		<div class="request_owner">
		{% if not relevant_request.owner.user = user and user.username != ANONYMOUS_USERNAME %}
		<form class="inline-form" style="float: right; position: relative; top: -6px; margin-right: 2px;" method="POST" action="">
			{% csrf_token %}
			{{ vote_form }}
		<div class="btn-group btn-group-xs">
			<button type="submit" class="btn btn-{% if upvote %}success" title="Cancel Up Vote"{% else %}default" title="Up Vote"{% endif %} name="upvote"><span class="glyphicon glyphicon-thumbs-up"></span></button>
			<button type="submit" class="btn btn-{% if downvote %}danger" title="Cancel Down Vote"{% else %}default" title="Down Vote"{% endif %} name="downvote"><span class="glyphicon glyphicon-thumbs-down"></span></button>
		</div>
		</form>
		{% endif %}
		{% with vote_count_request=relevant_request %}
		{% include "vote_list.html" %}
		{% endwith %}
		</div> <!-- .request_owner -->
		<div class="request_body">{{ relevant_request.body|safe }}</div>
	</div> <!-- .request_name -->
	<div class="request_responses">
	<div class="response_table">
	{% for response in request_responses %}
	{% if forloop.counter > 1 %}
	<hr class="main_divider" />
	{% endif %}
	<div class="response_row{% if response.manager %} bg-info" title="Manager Response{% endif %}">
	  <div class="response_owner">
	    <a class="page_link" title="View Profile" href="{% url 'member_profile' targetUsername=response.owner.user.username %}" >{{ response.owner|display_user:user }}</a> ({{ response.post_date }}):
	  </div>
	  <div class="response_body">{{ response.body|safe }}</div>
	</div> <!-- message_row -->
	{% endfor %}
	<div class="text-center">
	  <button class="btn btn-primary" type="button" id="show_form" onclick="show_new_message_form('add_response_form', 'show_form')"><span class="glyphicon glyphicon-paperclip"></span> Add Response</button>
	</div>
	  <form class="new_response_form add_response" id="add_response_form" method="post" action="">
	    {% csrf_token %}
	    {{ response_form|bootstrap }}
		<div class="text-center">
		<div class="btn-group">
			<button type="submit" class="btn btn-success" name="submit_response_form"><span class="glyphicon glyphicon-paperclip"></span> Post Response</button>
			<button type="button" class="btn btn-default" name="cancel_response_form" onclick="hide_new_message_form('add_response_form', 'show_form')"><span class="glyphicon glyphicon-collapse-up"></span> Hide</button>
		</div> <!-- .btn-group -->
		</div> <!-- .text-center -->
	  </form>
	</div>
	</div>
    {% endif %}
  </div> <!-- thread_table -->
</div>
{% endblock %}

{% block endscripts %}
<script>
  function show_new_message_form(message_form_id, button_id) {
  document.getElementById(message_form_id).style.display="inline";
  document.getElementById(button_id).style.display="none";
  }
  function hide_new_message_form(message_form_id, button_id) {
  document.getElementById(message_form_id).style.display="none";
  document.getElementById(button_id).style.display="inline";
  }
  /* Realign checkboxes horizontally if manager response form. */
  $(document).ready(function() {
	  $('.checkbox').parent().parent().addClass('col-sm-6');
	  $('.checkbox').parent().parent().removeClass('form-group');
	  if ($('.checkbox').length) {
		$('<hr class="main_divider" style="width:75%" />').insertAfter($('textarea').parent().parent());
	  }
  });
</script>
{% endblock %}
